# Projeto: Análises do NBB 2019

Para esse projeto estaremos analisando jogos do NBB, principal campeonato brasileiro de basquetebol. Os dados contém os seguintes campos:

Colunas:  
* Temporada  -> Ano de início da temporada
* Time       -> Nome do time que está jogando em casa
* Oponente   -> Nome do time que está jogando fora de casa
* Data       -> Correponde ao time está jogando em casa ou fora
* Semana     ->  Semana em que ocorreu o jogo
* Classificatoria/Playoffs -> Fase em que aconteceu o jogo 
* Jogador    -> Nome do jogador que estava na sumula do jogo
* Min        -> Minutos jogados do jogador
* Pts_C      -> Pontos Convertidos 
* Pts_T      -> Pontos Tentados 
* Pts_3_C    -> Três Pontos Convertidos 
* Pts_3_T    -> Três Pontos Tentados
* Pts_2_C    -> Dois Pontos Convertidos
* Pts_2_T    -> Dois Pontos Tentados
* LL_C       -> Lances Livres Convertidos
* LL_T       -> Lances Livres Tentados
* RO         -> Rebotes Ofensivos
* RD         -> Rebotes Defensivos
* RT         -> Rebotes Totais
* AS         -> Assistências
* BR         -> Bolas Roubadas 
* TO         -> Tocos
* FC         -> Faltas Cometidas
* FR         -> Faltas Recebidas 
* EN         -> Enterradas
* ER         -> Erros 
* Ar_Pts_C   -> Arremessos dos Pontos Convertidos
* Ar_Pts_C   -> Arremessos dos Pontos Tentados 
* posse_de_bola -> Posse de bola do time

Bibliotecas utilizadas para análises estátisticas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# df = pd.read_csv("Tabela_geral_2019_nova.csv")

Lendo o arquivo csv que será utilizado para análise da Temporada 2019

In [3]:
df = pd.read_csv("Total_de_Tabela_2008.csv")

In [4]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

Verificar as Informações do Data.Frame

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5084 entries, 0 to 5083
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 5084 non-null   int64
 1   Time                      5084 non-null   object
 2   Oponente                  5084 non-null   object
 3   Data                      5084 non-null   object
 4   Semana                    5084 non-null   object
 5   Classificatoria/Playoffs  5084 non-null   object
 6   Casa/Fora                 5084 non-null   object
 7   Vitoria/Derrota           5084 non-null   object
 8   Diferenca_Placar          5084 non-null   int64
 9   Jogador                   5084 non-null   object
 10  Min                       5084 non-null   float64
 11  Pts_C                     5084 non-null   int64
 12  Ar_Pts_C                  5084 non-null   int64
 13  Pts_T                     5084 non-null   int64
 14  Ar_Pts_T                  5084 non-null   int64
 15  Pts_3_C                   5084 non-null   int64
 16  Pts_3_T                   5084 non-null   int64
 17  Pts_2_C                   5084 non-null   int64
 18  Pts_2_T                   5084 non-null   int64
 19  LL_C                      5084 non-null   int64
 20  LL_T                      5084 non-null   int64
 21  RO                        5084 non-null   int64
 22  RD                        5084 non-null   int64
 23  RT                        5084 non-null   int64
 24  AS                        5084 non-null   int64
 25  BR                        5084 non-null   int64
 26  TO                        5084 non-null   int64
 27  FC                        5084 non-null   int64
 28  FR                        5084 non-null   int64
 29  ER                        5084 non-null   int64
 30  EN                        5084 non-null   int64
 31  posse_de_bola             5084 non-null   int64
dtypes: float64(1), int64(23), object(8)
memory usage: 1.2+ MB

In [6]:
df.columns

Index(['Temporada', 'Time', 'Oponente', 'Data', 'Semana',
       'Classificatoria/Playoffs', 'Casa/Fora', 'Vitoria/Derrota',
       'Diferenca_Placar', 'Jogador', 'Min', 'Pts_C', 'Ar_Pts_C', 'Pts_T',
       'Ar_Pts_T', 'Pts_3_C', 'Pts_3_T', 'Pts_2_C', 'Pts_2_T', 'LL_C', 'LL_T',
       'RO', 'RD', 'RT', 'AS', 'BR', 'TO', 'FC', 'FR', 'ER', 'EN',
       'posse_de_bola'],
      dtype='object')

# Análise Tradicional

In [7]:
df.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
0,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Marcelinho,...,3,5,0,0,0,2,0,0,0,22
1,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Jefferson,...,3,7,0,0,0,3,0,1,0,10
2,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Duda,...,0,1,4,1,0,3,0,1,0,15
3,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Hélio,...,1,2,4,1,0,2,0,0,0,9
4,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Fernando,...,1,1,1,0,0,0,0,0,0,3

# Análise Avançada

As análises avançadas são compostas pelos seguintes indicadores 

* EF_Pts     -> Eficiência dos pontos totais
* FR_3_Pts_C -> Frequência relativa do 3 pontos convertidos
* FR_3_Pts_T -> Frequência relativa do 3 pontos tentados
* EF_Pts_3   -> Eficiência dos 3 pontos
* FR_2_Pts_C -> Frequência relativa do 2 pontos convertidos
* FR_2_Pts_T -> Frequência relativa do 2 pontos tentados
* EF_Pts_2   -> Eficiência dos 2 pontos
* FR_LL_C    -> Frequência relativa dos Lances Livres convertidos
* FR_LL_T    -> Frequência relativa dos Lances Livres tentados
* EF_LL      -> Eficiência dos Lances Livres
* Pace       -> 
* eFG_%      -> Aproveitamento efetivo dos pontos
* TOV_%      -> Fator turnover
* FTA/FGA    -> Fator de aproveitamento dos lances livres
* ORB%       -> 
* Posse_de_Bola -> Posse de Bola
* Offensive_Rating -> pontos por posse de bola com o ajusto de 100 posses
* TS_%       -> Porcentagem dos arremessos
* Ass/ER     -> Assistência por erros
* AS_Ratio   -> Assistências por posse de bola

In [8]:
analise = pd.DataFrame()

In [9]:
analise['Temporada'] = df['Temporada']  # temporada
analise['Time'] = df['Time']  # time
analise['Oponente'] = df['Oponente']  # Oponente
analise['Data'] = df['Data']  # Data
analise['Semana'] = df['Semana']  # Semana
analise['Classificatoria/Playoffs'] = df['Classificatoria/Playoffs']  # Classificatoria/Playoffs
analise['Casa/Fora'] = df['Casa/Fora']  # casa/fora
analise['Vitoria/Derrota'] = df['Vitoria/Derrota']  # Vitoria/Derrota
analise['Diferenca_Placar'] = df['Diferenca_Placar']  # Diferenca_Placar
analise['Jogador'] = df['Jogador']  # Jogadores
analise['Min'] = df['Min']  # minutos
analise['EF_Pts'] = round(df['Pts_C'] / df['Pts_T'], 3) # eficiência dos pontos totais
analise['FR_3_Pts_C'] = round((df['Pts_3_C'] * 3) / df['Pts_C'], 3)  # frequência relativa do 3 pontos convertidos 
analise['FR_3_Pts_T'] = round((df['Pts_3_T'] * 3) / df['Pts_T'], 3)  # frequência relativa do 3 pontos tentados 
analise['EF_Pts_3'] = round(df['Pts_3_C'] / df['Pts_3_T'], 3)  # eficiência dos 3 pontos 
analise['FR_2_Pts_C'] = round((df['Pts_2_C'] * 2) / df['Pts_C'], 3)  # frequência relativa do 2 pontos convertidos
analise['FR_2_Pts_T'] = round((df['Pts_2_T'] * 2) / df['Pts_T'], 3)  # frequência relativa do 2 pontos tentados 
analise['EF_Pts_2'] = round(df['Pts_2_C'] / df['Pts_2_T'], 3)  # eficiência dos 2 pontos
analise['FR_LL_C'] = round(df['LL_C'] / df['Pts_C'], 3)  # frequência relativa dos Lances Livres convertidos
analise['FR_LL_T'] = round(df['LL_T'] / df['Pts_T'], 3)  # frequência relativa dos Lances Livres tentados
analise['EF_LL'] = round(df['LL_C'] /df['LL_T'], 3)  # eficiência dos Lances Livres
# analise['Pace']
# four fectores
analise['eFG_%'] = round((df['Ar_Pts_C'] + 0.5 * df['Pts_3_C']) / df['Ar_Pts_T'], 3)  #  aproveitamento efetivo
analise['TOV_%'] = round(100 * df['ER'] / (df['Ar_Pts_T'] + 0.475 * df['LL_T'] + df['ER']), 1)  # fator turnover
analise['FTA/FGA'] = round(df['LL_T'] / df['Ar_Pts_C'], 3)  # fator de aproveitamento dos lances livres
# analise['ORB%'] =  # precisa do resultado do time adv

analise['Posse_de_Bola']  = df['posse_de_bola']   # posse de bola 
analise['Offensive_Rating'] = 100 * round(df['Pts_C']/df['posse_de_bola'], 3) # pontos por posse de bola com o ajusto de 100 posses

analise['TS_%'] = round(df['Pts_C'] / (2*(df['Ar_Pts_T'] + 0.475 * df['LL_T'])), 3)  # porcentagem dos arremessos
analise['Ass/ER'] = round(df['AS'] / df['ER'], 3)  # assistência por erros
analise['AS_Ratio'] = 100 * round((df['AS'] / df['posse_de_bola']), 3)  # assistências por posse de bola 
analise.reset_index();

In [10]:
analise.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
0,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Marcelinho,...,0.169,0.9,0.450,0.0,1.25,22,122.7,0.545,NaN,0.0
1,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Jefferson,...,0.194,0.5,0.591,6.7,1.00,10,160.0,0.578,0.0,0.0
2,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Duda,...,0.128,1.0,0.385,6.1,1.25,15,100.0,0.488,4.0,26.7
3,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Hélio,...,0.087,0.5,0.222,0.0,1.00,9,55.6,0.251,inf,44.4
4,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Fernando,...,0.000,NaN,0.667,0.0,0.00,3,133.3,0.667,inf,33.3

In [11]:
analise.columns

Index(['Temporada', 'Time', 'Oponente', 'Data', 'Semana',
       'Classificatoria/Playoffs', 'Casa/Fora', 'Vitoria/Derrota',
       'Diferenca_Placar', 'Jogador', 'Min', 'EF_Pts', 'FR_3_Pts_C',
       'FR_3_Pts_T', 'EF_Pts_3', 'FR_2_Pts_C', 'FR_2_Pts_T', 'EF_Pts_2',
       'FR_LL_C', 'FR_LL_T', 'EF_LL', 'eFG_%', 'TOV_%', 'FTA/FGA',
       'Posse_de_Bola', 'Offensive_Rating', 'TS_%', 'Ass/ER', 'AS_Ratio'],
      dtype='object')

# Análise por Minuto

In [12]:
minutos = pd.DataFrame()

In [13]:
minutos['Temporada'] = df['Temporada']  # temporada
minutos['Time'] = df['Time']  # time
minutos['Oponente'] = df['Oponente']  # Oponente
minutos['Data'] = df['Data']  # Data
minutos['Semana'] = df['Semana']  # Semana
minutos['Classificatoria/Playoffs'] = df['Classificatoria/Playoffs']  # Classificatoria/Playoffs
minutos['Casa/Fora'] = df['Casa/Fora']  # casa/fora
minutos['Vitoria/Derrota'] = df['Vitoria/Derrota']  # Vitoria/Derrota
minutos['Diferenca_Placar'] = df['Diferenca_Placar']
minutos['Jogador'] = df['Jogador']  # Jogadores
minutos['Min'] = df['Min']  # minutos
indicadores = ['Pts_C', 'Pts_T', 'Pts_3_C', 'Pts_3_T', 'Pts_2_C', 'Pts_2_T',
       'LL_C', 'LL_T', 'RO', 'RD', 'RT', 'AS', 'BR', 'TO', 'FC', 'FR',
       'ER', 'EN', 'Ar_Pts_C', 'Ar_Pts_T']

In [14]:
for x in indicadores:
    minutos[f'{x}/Min'] = round(df[x] / df['Min'], 3)

In [15]:
minutos.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
0,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Marcelinho,...,0.125,0.000,0.000,0.0,0.050,0.0,0.000,0.0,0.200,0.500
1,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Jefferson,...,0.304,0.000,0.000,0.0,0.130,0.0,0.043,0.0,0.261,0.478
2,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Duda,...,0.029,0.118,0.029,0.0,0.088,0.0,0.029,0.0,0.118,0.382
3,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Hélio,...,0.057,0.114,0.029,0.0,0.057,0.0,0.000,0.0,0.057,0.257
4,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Fernando,...,0.100,0.100,0.000,0.0,0.000,0.0,0.000,0.0,0.200,0.300

# Análise do Flamengo

Pegamos apenas o time do Flamengo e os resultados dos jogos

Tipo de análise que temos

- Tradicional: corresponde com todos os indicadores brutos dos jogos 
- Avançadas: corresponde com parametros derivados dos dados brutos
- Tempo: correspondem aos indicadores técnicos dividido pelo tempo 

Para analisarmos os indicadores técnicos precisamos separa-los em partes 
- Casa e Fora 
- Vitória ou Derrota
- Classificação/ 1 turnos/ 2 turno/ Playoffs  
- Ao longo do periodo da competição (Data)
- Todos os jogadroes, como também as suas 'posições' 

Oponentes é uma classe separada que apresenta todas os tipos de análise (Tradicional/Avançado), como também as separações

In [16]:
jogos_flamengo = df[(df['Jogador'] == 'Equipe') & (df['Time'] == 'Flamengo')]

In [17]:
jogos_flamengo.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
12,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Equipe,...,18,35,11,7,1,21,0,7,0,71
51,2008,Flamengo,Brasília,21/06/2009 12:00,4ª RODADA,FINAL,fora,derrota,-4,Equipe,...,23,37,4,6,2,25,0,14,0,82
64,2008,Flamengo,Brasília,14/06/2009 13:00,3ª RODADA,FINAL,casa,vitória,21,Equipe,...,25,31,16,7,2,33,0,9,0,81
89,2008,Flamengo,Brasília,13/06/2009 12:00,2ª RODADA,FINAL,casa,derrota,-10,Equipe,...,14,25,13,6,1,22,0,12,2,83
127,2008,Flamengo,Brasília,11/06/2009 12:00,1ª RODADA,FINAL,fora,vitória,7,Equipe,...,27,31,12,11,4,20,0,10,3,80

In [18]:
jogos_flamengo.columns

Index(['Temporada', 'Time', 'Oponente', 'Data', 'Semana',
       'Classificatoria/Playoffs', 'Casa/Fora', 'Vitoria/Derrota',
       'Diferenca_Placar', 'Jogador', 'Min', 'Pts_C', 'Ar_Pts_C', 'Pts_T',
       'Ar_Pts_T', 'Pts_3_C', 'Pts_3_T', 'Pts_2_C', 'Pts_2_T', 'LL_C', 'LL_T',
       'RO', 'RD', 'RT', 'AS', 'BR', 'TO', 'FC', 'FR', 'ER', 'EN',
       'posse_de_bola'],
      dtype='object')

### Tradicional

In [19]:
jogos_flamengo.describe()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
count,25.0,25.000000,25.0,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,...,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.0,25.000000,25.000000,25.000000
mean,2008.0,10.240000,0.0,90.480000,30.920000,178.920000,63.600000,9.720000,26.280000,21.200000,...,23.160000,31.880000,16.080000,8.520000,1.680000,20.640000,0.0,12.640000,1.880000,77.720000
std,0.0,7.970153,0.0,10.360663,4.965884,14.337945,5.730038,3.182242,3.824483,3.265986,...,5.233546,5.019296,5.032561,3.536948,1.464013,4.599638,0.0,3.850108,1.739732,5.827521
min,2008.0,-10.000000,0.0,71.000000,22.000000,158.000000,54.000000,4.000000,20.000000,16.000000,...,13.000000,22.000000,4.000000,3.000000,0.000000,13.000000,0.0,7.000000,0.000000,64.000000
25%,2008.0,7.000000,0.0,84.000000,28.000000,167.000000,60.000000,7.000000,23.000000,19.000000,...,22.000000,29.000000,13.000000,6.000000,0.000000,18.000000,0.0,9.000000,0.000000,73.000000
50%,2008.0,9.000000,0.0,90.000000,32.000000,177.000000,63.000000,10.000000,25.000000,20.000000,...,23.000000,31.000000,16.000000,7.000000,1.000000,20.000000,0.0,12.000000,2.000000,80.000000
75%,2008.0,17.000000,0.0,100.000000,34.000000,191.000000,67.000000,12.000000,29.000000,24.000000,...,26.000000,35.000000,19.000000,11.000000,3.000000,23.000000,0.0,16.000000,3.000000,82.000000
max,2008.0,23.000000,0.0,106.000000,39.000000,206.000000,75.000000,15.000000,36.000000,28.000000,...,34.000000,41.000000,26.000000,17.000000,4.000000,33.000000,0.0,21.000000,6.000000,86.000000

### Avançada

In [20]:
analise_flamengo = analise[(analise['Jogador'] == 'Equipe') & (analise['Time'] == 'Flamengo')]

In [21]:
analise_flamengo.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
12,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Equipe,...,0.177,0.618,0.410,7.8,1.360,71,107.0,0.457,1.571,15.5
51,2008,Flamengo,Brasília,21/06/2009 12:00,4ª RODADA,FINAL,fora,derrota,-4,Equipe,...,0.126,0.808,0.396,14.2,1.040,82,95.1,0.462,0.286,4.9
64,2008,Flamengo,Brasília,14/06/2009 13:00,3ª RODADA,FINAL,casa,vitória,21,Equipe,...,0.216,0.756,0.548,9.9,1.464,81,122.2,0.608,1.778,19.8
89,2008,Flamengo,Brasília,13/06/2009 12:00,2ª RODADA,FINAL,casa,derrota,-10,Equipe,...,0.116,0.696,0.377,12.5,0.920,83,85.5,0.423,1.083,15.7
127,2008,Flamengo,Brasília,11/06/2009 12:00,1ª RODADA,FINAL,fora,vitória,7,Equipe,...,0.132,0.708,0.500,11.7,0.857,80,101.2,0.537,1.200,15.0

In [22]:
analise_flamengo.describe()

,Temporada,Diferenca_Placar,Min,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
count,25.0,25.000000,25.0,25.00000,25.000000,25.00000,25.000000,25.000000,25.000000,25.00000,...,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,2008.0,10.240000,0.0,0.50964,0.316600,0.44064,0.375280,0.471240,0.417880,0.57236,...,0.141440,0.749400,0.565720,14.248000,0.875880,77.720000,116.888000,0.602400,1.383640,20.948000
std,0.0,7.970153,0.0,0.07512,0.082227,0.05244,0.130341,0.066148,0.051664,0.08310,...,0.048566,0.087997,0.104798,3.989373,0.442975,5.827521,14.667746,0.089723,0.553761,7.131451
min,2008.0,-10.000000,0.0,0.35700,0.162000,0.36800,0.167000,0.323000,0.310000,0.43200,...,0.077000,0.618000,0.377000,7.800000,0.395000,64.000000,85.500000,0.423000,0.286000,4.900000
25%,2008.0,7.000000,0.0,0.45400,0.269000,0.39500,0.267000,0.447000,0.389000,0.50000,...,0.109000,0.677000,0.500000,11.500000,0.538000,73.000000,108.400000,0.552000,1.056000,16.000000
50%,2008.0,9.000000,0.0,0.51000,0.324000,0.43500,0.385000,0.478000,0.429000,0.57100,...,0.124000,0.750000,0.553000,14.100000,0.767000,80.000000,116.300000,0.600000,1.368000,19.800000
75%,2008.0,17.000000,0.0,0.55600,0.368000,0.48400,0.480000,0.524000,0.453000,0.61300,...,0.177000,0.808000,0.653000,16.500000,1.062000,82.000000,127.500000,0.666000,1.778000,24.700000
max,2008.0,23.000000,0.0,0.65200,0.450000,0.53700,0.652000,0.563000,0.515000,0.79400,...,0.285000,0.933000,0.758000,22.800000,2.192000,86.000000,145.100000,0.767000,2.444000,33.800000

### Minutos

In [23]:
minutos_flamengo = minutos[(minutos['Jogador'] == 'Equipe') & (minutos['Time'] == 'Flamengo')]

In [24]:
minutos_flamengo.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
12,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
51,2008,Flamengo,Brasília,21/06/2009 12:00,4ª RODADA,FINAL,fora,derrota,-4,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
64,2008,Flamengo,Brasília,14/06/2009 13:00,3ª RODADA,FINAL,casa,vitória,21,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
89,2008,Flamengo,Brasília,13/06/2009 12:00,2ª RODADA,FINAL,casa,derrota,-10,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
127,2008,Flamengo,Brasília,11/06/2009 12:00,1ª RODADA,FINAL,fora,vitória,7,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

In [25]:
minutos_flamengo.describe()

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3942: RuntimeWarning: invalid value encountered in multiply
  x2 = take(ap, indices_above, axis=axis) * weights_above

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
count,25.0,25.000000,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,...,25.0,25.0,25.0,18.0,25.0,0.0,25.0,18.0,25.0,25.0
mean,2008.0,10.240000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
std,0.0,7.970153,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2008.0,-10.000000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
25%,2008.0,7.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,inf,NaN,NaN,NaN,inf,NaN,NaN
50%,2008.0,9.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,inf,NaN,NaN,NaN,inf,NaN,NaN
75%,2008.0,17.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,inf,NaN,NaN,NaN,inf,NaN,NaN
max,2008.0,23.000000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise do jogo em casa/fora do Time

### Tradicional

In [26]:
jogos_flamengo.groupby('Casa/Fora').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Casa/Fora,,,,,,,,,,,,,,,,,,,,,
casa,2008.0,10.200000,0.0,89.1,30.8,180.3,64.8,9.400000,25.900000,21.400000,...,22.000000,30.600000,17.200000,9.9,1.600000,20.1,0.0,12.200000,2.200000,78.400000
fora,2008.0,10.266667,0.0,91.4,31.0,178.0,62.8,9.933333,26.533333,21.066667,...,23.933333,32.733333,15.333333,7.6,1.733333,21.0,0.0,12.933333,1.666667,77.266667

### Avançada

In [27]:
analise_flamengo.groupby('Casa/Fora').mean()

,Temporada,Diferenca_Placar,Min,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Casa/Fora,,,,,,,,,,,,,,,,,,,,,
casa,2008.0,10.200000,0.0,0.4992,0.310200,0.4317,0.370500,0.485200,0.432300,0.553300,...,0.136000,0.735500,0.553200,13.730000,0.8385,78.400000,114.02,0.5877,1.4599,22.060000
fora,2008.0,10.266667,0.0,0.5166,0.320867,0.4466,0.378467,0.461933,0.408267,0.585067,...,0.145067,0.758667,0.574067,14.593333,0.9008,77.266667,118.80,0.6122,1.3328,20.206667

### Minutos

In [28]:
minutos_flamengo.groupby('Casa/Fora').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Casa/Fora,,,,,,,,,,,,,,,,,,,,,
casa,2008.0,10.200000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
fora,2008.0,10.266667,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise da vitória/derrota do Time

### Tradicional

In [29]:
jogos_flamengo.groupby('Vitoria/Derrota').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Vitoria/Derrota,,,,,,,,,,,,,,,,,,,,,
derrota,2008.0,-7.00000,0.0,74.500000,25.000000,202.500000,72.500000,6.000000,33.000000,19.000000,...,18.500000,31.000000,8.50000,6.00000,1.500000,23.500000,0.0,13.000000,1.000000,82.500000
vitória,2008.0,11.73913,0.0,91.869565,31.434783,176.869565,62.826087,10.043478,25.695652,21.391304,...,23.565217,31.956522,16.73913,8.73913,1.695652,20.391304,0.0,12.608696,1.956522,77.304348

### Avançada

In [30]:
analise_flamengo.groupby('Vitoria/Derrota').mean()

,Temporada,Diferenca_Placar,Min,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Vitoria/Derrota,,,,,,,,,,,,,,,,,,,,,
derrota,2008.0,-7.00000,0.0,0.368000,0.240000,0.488000,0.180500,0.512500,0.391000,0.482500,...,0.121000,0.752000,0.386500,13.350000,0.980000,82.500000,90.3,0.442500,0.684500,10.300000
vitória,2008.0,11.73913,0.0,0.521957,0.323261,0.436522,0.392217,0.467652,0.420217,0.580174,...,0.143217,0.749174,0.581304,14.326087,0.866826,77.304348,119.2,0.616304,1.444435,21.873913

### Minutos

In [31]:
minutos_flamengo.groupby('Vitoria/Derrota').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Vitoria/Derrota,,,,,,,,,,,,,,,,,,,,,
derrota,2008.0,-7.00000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
vitória,2008.0,11.73913,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise da fase de classificação (1°/2°) e Playoffs do Time

### Tradicional

In [32]:
jogos_flamengo.groupby('Classificatoria/Playoffs').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Classificatoria/Playoffs,,,,,,,,,,,,,,,,,,,,,
1º TURNO,2008.0,13.000000,0.0,93.600000,33.400000,175.600000,64.500000,10.500000,24.900000,22.900000,...,21.0,30.200000,16.500000,9.500000,1.100000,18.800000,0.0,13.200000,2.200000,77.200000
2º TURNO,2008.0,10.777778,0.0,92.111111,30.444444,175.666667,60.666667,9.888889,26.111111,20.555556,...,26.0,33.666667,17.444444,8.333333,2.222222,21.222222,0.0,13.222222,1.555556,77.555556
FINAL,2008.0,4.400000,0.0,81.000000,26.200000,193.800000,67.600000,7.400000,29.000000,18.800000,...,21.4,31.800000,11.200000,7.400000,2.000000,24.200000,0.0,10.400000,1.000000,79.400000
QUARTAS,2008.0,7.000000,0.0,92.000000,34.000000,167.000000,61.000000,12.000000,28.000000,22.000000,...,28.0,33.000000,24.000000,6.000000,1.000000,16.000000,0.0,13.000000,6.000000,76.000000

### Avançada

In [33]:
analise_flamengo.groupby('Classificatoria/Playoffs').mean()

,Temporada,Diferenca_Placar,Min,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Classificatoria/Playoffs,,,,,,,,,,,,,,,,,,,,,
1º TURNO,2008.0,13.000000,0.0,0.535500,0.331500,0.424600,0.423600,0.490700,0.451400,0.578700,...,0.123800,0.746900,0.599700,14.870000,0.685900,77.200000,121.480000,0.6282,1.395400,21.60
2º TURNO,2008.0,10.777778,0.0,0.526333,0.319111,0.447333,0.377889,0.447556,0.393889,0.600556,...,0.158778,0.774889,0.584333,15.066667,0.988556,77.555556,119.477778,0.6250,1.430333,22.80
FINAL,2008.0,4.400000,0.0,0.419600,0.267400,0.448200,0.263200,0.473600,0.398600,0.490000,...,0.153400,0.717200,0.446200,11.220000,1.128200,79.400000,102.200000,0.4974,1.183600,14.18
QUARTAS,2008.0,7.000000,0.0,0.551000,0.391000,0.503000,0.429000,0.478000,0.395000,0.667000,...,0.102000,0.706000,0.656000,15.800000,0.500000,76.000000,121.100000,0.6660,1.846000,31.60

### Minutos

In [34]:
minutos_flamengo.groupby('Classificatoria/Playoffs').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Classificatoria/Playoffs,,,,,,,,,,,,,,,,,,,,,
1º TURNO,2008.0,13.000000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
2º TURNO,2008.0,10.777778,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
FINAL,2008.0,4.400000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
QUARTAS,2008.0,7.000000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise ao longo da Temporada

### Tradicional

In [35]:
jogos_flamengo.groupby('Data').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Data,,,,,,,,,,,,,,,,,,,,,
01/03/2009 11:00,2008,6,0.0,103,38,158,60,15,23,23,...,16,22,24,5,0,14,0,11,1,71
01/05/2009 17:00,2008,8,0.0,100,26,200,58,7,27,19,...,26,37,16,12,3,30,0,16,2,86
03/02/2009 20:00,2008,17,0.0,102,39,200,75,11,29,28,...,23,35,19,6,1,18,0,9,1,80
03/05/2009 11:00,2008,12,0.0,84,29,177,65,7,25,22,...,22,31,12,10,4,18,0,10,2,75
04/03/2009 20:00,2008,23,0.0,104,38,172,64,12,25,26,...,22,25,13,7,0,17,0,12,3,81
06/03/2009 22:00,2008,11,0.0,74,23,163,54,4,22,19,...,20,30,15,11,0,20,0,7,5,64
06/05/2009 20:00,2008,7,0.0,76,22,172,58,5,22,17,...,34,41,18,10,4,18,0,17,0,82
08/04/2009 20:00,2008,18,0.0,106,37,181,67,13,25,24,...,22,30,20,6,1,20,0,14,1,82
08/05/2009 20:00,2008,5,0.0,86,28,173,60,9,22,19,...,26,39,22,7,1,22,0,9,2,68
10/04/2009 21:00,2008,7,0.0,98,37,161,60,10,26,27,...,22,29,19,3,3,25,0,9,2,68
11/02/2009 20:00,2008,18,0.0,90,34,163,62,10,20,24,...,27,35,9,6,0,16,0,21,0,83
11/06/2009 12:00,2008,7,0.0,81,28,182,64,8,30,20,...,27,31,12,11,4,20,0,10,3,80
13/05/2009 19:00,2008,4,0.0,84,30,186,68,10,33,20,...,23,32,14,12,2,13,0,15,4,81
13/06/2009 12:00,2008,-10,0.0,71,25,199,73,5,30,20,...,14,25,13,6,1,22,0,12,2,83
14/04/2009 19:00,2008,10,0.0,100,32,168,56,15,28,17,...,33,38,13,4,4,21,0,16,0,78
14/06/2009 13:00,2008,21,0.0,99,28,190,62,12,25,16,...,25,31,16,7,2,33,0,9,0,81
17/04/2009 20:00,2008,17,0.0,90,30,162,55,12,29,18,...,25,29,18,8,0,19,0,13,1,73
18/03/2009 19:00,2008,17,0.0,100,32,191,66,9,25,23,...,29,40,15,16,3,24,0,16,0,85
18/05/2009 19:00,2008,7,0.0,92,34,167,61,12,28,22,...,28,33,24,6,1,16,0,13,6,76
20/03/2009 19:00,2008,16,0.0,93,35,165,62,11,23,24,...,22,29,26,17,0,17,0,19,5,81
21/06/2009 12:00,2008,-4,0.0,78,25,206,72,7,36,18,...,23,37,4,6,2,25,0,14,0,82
24/04/2009 21:00,2008,21,0.0,89,32,178,64,8,23,24,...,23,28,17,13,2,23,0,10,2,80
28/01/2009 20:00,2008,1,0.0,90,34,194,74,12,31,22,...,16,26,13,9,0,20,0,9,3,79
28/06/2009 10:00,2008,8,0.0,76,25,192,67,5,24,20,...,18,35,11,7,1,21,0,7,0,71
30/01/2009 20:00,2008,9,0.0,96,32,173,63,14,26,18,...,13,29,19,8,3,24,0,18,2,73

### Avançado

In [36]:
analise_flamengo.groupby('Data').mean()

,Temporada,Diferenca_Placar,Min,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Data,,,,,,,,,,,,,,,,,,,,,
01/03/2009 11:00,2008,6,0.0,0.652,0.437,0.437,0.652,0.447,0.468,0.622,...,0.095,0.800,0.758,14.1,0.395,71,145.1,0.767,2.182,33.8
01/05/2009 17:00,2008,8,0.0,0.500,0.210,0.405,0.259,0.380,0.310,0.613,...,0.285,0.719,0.509,15.8,2.192,86,116.3,0.588,1.000,18.6
03/02/2009 20:00,2008,17,0.0,0.510,0.324,0.435,0.379,0.549,0.460,0.609,...,0.105,0.619,0.593,9.6,0.538,80,127.5,0.600,2.111,23.8
03/05/2009 11:00,2008,12,0.0,0.475,0.250,0.424,0.280,0.524,0.452,0.550,...,0.124,0.864,0.500,11.7,0.759,75,112.0,0.557,1.200,16.0
04/03/2009 20:00,2008,23,0.0,0.605,0.346,0.436,0.480,0.500,0.453,0.667,...,0.110,0.842,0.688,14.1,0.500,81,128.4,0.712,1.083,16.0
06/03/2009 22:00,2008,11,0.0,0.454,0.162,0.405,0.182,0.514,0.393,0.594,...,0.202,0.727,0.463,9.1,1.435,64,115.6,0.531,2.143,23.4
06/05/2009 20:00,2008,7,0.0,0.442,0.197,0.384,0.227,0.447,0.419,0.472,...,0.198,0.794,0.422,18.7,1.545,82,92.7,0.512,1.059,22.0
08/04/2009 20:00,2008,18,0.0,0.586,0.368,0.414,0.520,0.453,0.464,0.571,...,0.122,0.864,0.649,15.3,0.595,82,129.3,0.684,1.429,24.4
08/05/2009 20:00,2008,5,0.0,0.497,0.314,0.382,0.409,0.442,0.439,0.500,...,0.179,0.677,0.542,10.7,1.107,68,126.5,0.575,2.444,32.4
10/04/2009 21:00,2008,7,0.0,0.609,0.306,0.484,0.385,0.551,0.422,0.794,...,0.093,0.933,0.700,11.8,0.405,68,144.1,0.730,2.111,27.9
11/02/2009 20:00,2008,18,0.0,0.552,0.333,0.368,0.500,0.533,0.515,0.571,...,0.117,0.632,0.629,22.8,0.559,83,108.4,0.634,0.429,10.8
11/06/2009 12:00,2008,7,0.0,0.445,0.296,0.495,0.267,0.494,0.374,0.588,...,0.132,0.708,0.500,11.7,0.857,80,101.2,0.537,1.200,15.0
13/05/2009 19:00,2008,4,0.0,0.452,0.357,0.532,0.303,0.476,0.376,0.571,...,0.091,0.824,0.515,16.5,0.567,81,103.7,0.552,0.933,17.3
13/06/2009 12:00,2008,-10,0.0,0.357,0.211,0.452,0.167,0.563,0.432,0.465,...,0.116,0.696,0.377,12.5,0.920,83,85.5,0.423,1.083,15.7
14/04/2009 19:00,2008,10,0.0,0.595,0.450,0.500,0.536,0.340,0.333,0.607,...,0.167,0.750,0.705,18.8,0.875,78,128.2,0.722,0.812,16.7
14/06/2009 13:00,2008,21,0.0,0.521,0.364,0.395,0.480,0.323,0.389,0.432,...,0.216,0.756,0.548,9.9,1.464,81,122.2,0.608,1.778,19.8
17/04/2009 20:00,2008,17,0.0,0.556,0.400,0.537,0.414,0.400,0.321,0.692,...,0.142,0.783,0.655,16.5,0.767,73,123.3,0.683,1.385,24.7
18/03/2009 19:00,2008,17,0.0,0.524,0.270,0.393,0.360,0.460,0.429,0.561,...,0.178,0.794,0.553,16.3,1.062,85,117.6,0.609,0.938,17.6
18/05/2009 19:00,2008,7,0.0,0.551,0.391,0.503,0.429,0.478,0.395,0.667,...,0.102,0.706,0.656,15.8,0.500,76,121.1,0.666,1.846,31.6
20/03/2009 19:00,2008,16,0.0,0.564,0.355,0.418,0.478,0.516,0.473,0.615,...,0.109,0.667,0.653,21.2,0.514,81,114.8,0.659,1.368,32.1
21/06/2009 12:00,2008,-4,0.0,0.379,0.269,0.524,0.194,0.462,0.350,0.500,...,0.126,0.808,0.396,14.2,1.040,82,95.1,0.462,0.286,4.9
24/04/2009 21:00,2008,21,0.0,0.500,0.270,0.388,0.348,0.539,0.461,0.585,...,0.152,0.630,0.562,11.5,0.844,80,111.2,0.579,1.700,21.2
28/01/2009 20:00,2008,1,0.0,0.464,0.400,0.479,0.387,0.489,0.443,0.512,...,0.077,0.667,0.541,10.0,0.441,79,113.9,0.555,1.444,16.5
28/06/2009 10:00,2008,8,0.0,0.396,0.197,0.375,0.208,0.526,0.448,0.465,...,0.177,0.618,0.410,7.8,1.360,71,107.0,0.457,1.571,15.5
30/01/2009 20:00,2008,9,0.0,0.555,0.438,0.451,0.538,0.375,0.428,0.486,...,0.121,0.857,0.619,19.8,0.656,73,131.5,0.658,1.056,26.0

### Minutos

In [37]:
minutos_flamengo.groupby('Data').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Data,,,,,,,,,,,,,,,,,,,,,
01/03/2009 11:00,2008,6,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
01/05/2009 17:00,2008,8,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
03/02/2009 20:00,2008,17,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
03/05/2009 11:00,2008,12,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
04/03/2009 20:00,2008,23,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
06/03/2009 22:00,2008,11,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
06/05/2009 20:00,2008,7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
08/04/2009 20:00,2008,18,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
08/05/2009 20:00,2008,5,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
10/04/2009 21:00,2008,7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
11/02/2009 20:00,2008,18,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,NaN,inf,inf
11/06/2009 12:00,2008,7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
13/05/2009 19:00,2008,4,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
13/06/2009 12:00,2008,-10,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
14/04/2009 19:00,2008,10,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
14/06/2009 13:00,2008,21,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
17/04/2009 20:00,2008,17,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
18/03/2009 19:00,2008,17,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
18/05/2009 19:00,2008,7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
20/03/2009 19:00,2008,16,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
21/06/2009 12:00,2008,-4,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
24/04/2009 21:00,2008,21,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
28/01/2009 20:00,2008,1,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
28/06/2009 10:00,2008,8,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
30/01/2009 20:00,2008,9,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Entre os Times Oponentes
##### precisa fazer um novo datafreme para pegar os oponentes e depos fazer a soma deles

In [38]:
oponente_time = df[(df['Jogador'] == 'Equipe') & (df['Oponente'] == 'Flamengo')]

### Análise Tradicional Oponente

In [39]:
oponente_time.describe()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
count,25.0,25.000000,25.0,25.000000,25.0000,25.000000,25.00000,25.000000,25.000000,25.00000,...,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.0,25.00000,25.00000,25.000000
mean,2008.0,-10.240000,0.0,80.240000,28.1200,173.680000,63.08000,8.280000,25.840000,19.84000,...,22.920000,31.960000,14.720000,5.680000,1.880000,23.240000,0.0,14.64000,1.68000,77.320000
std,0.0,7.970153,0.0,8.747762,3.1927,18.882796,7.38196,3.285321,5.265295,3.48425,...,5.529617,6.160898,3.857028,2.824299,1.452584,5.317267,0.0,5.07346,1.43527,7.614241
min,2008.0,-23.000000,0.0,63.000000,23.0000,134.000000,50.00000,3.000000,15.000000,15.00000,...,13.000000,20.000000,6.000000,1.000000,0.000000,15.000000,0.0,7.00000,0.00000,61.000000
25%,2008.0,-17.000000,0.0,73.000000,26.0000,165.000000,58.00000,6.000000,22.000000,18.00000,...,20.000000,28.000000,12.000000,4.000000,1.000000,19.000000,0.0,10.00000,1.00000,73.000000
50%,2008.0,-9.000000,0.0,81.000000,28.0000,175.000000,63.00000,8.000000,25.000000,19.00000,...,22.000000,33.000000,15.000000,5.000000,2.000000,22.000000,0.0,15.00000,1.00000,77.000000
75%,2008.0,-7.000000,0.0,87.000000,30.0000,184.000000,68.00000,10.000000,30.000000,21.00000,...,27.000000,37.000000,18.000000,7.000000,3.000000,27.000000,0.0,18.00000,3.00000,82.000000
max,2008.0,10.000000,0.0,97.000000,35.0000,217.000000,78.00000,17.000000,36.000000,29.00000,...,33.000000,42.000000,20.000000,13.000000,4.000000,39.000000,0.0,24.00000,5.00000,90.000000

### Análise Avançada Oponente

In [40]:
analise_oponente = pd.DataFrame()

In [41]:
analise_oponente['Temporada'] = df['Temporada']  # temporada
analise_oponente['Time'] = df['Time']  # time
analise_oponente['Oponente'] = df['Oponente']  # Oponente
analise_oponente['Data'] = df['Data']  # Data
analise_oponente['Semana'] = df['Semana']  # Semana
analise_oponente['Classificatoria/Playoffs'] = df['Classificatoria/Playoffs']  # Classificatoria/Playoffs
analise_oponente['Casa/Fora'] = df['Casa/Fora']  # casa/fora
analise_oponente['Vitoria/Derrota'] = df['Vitoria/Derrota']  # Vitoria/Derrota
analise_oponente['Diferenca_Placar'] = df['Diferenca_Placar']  # Diferenca_Placar
analise_oponente['EF_Pts'] = round(oponente_time['Pts_C'] / oponente_time['Pts_T'], 3) # eficiência dos pontos totais
analise_oponente['FR_3_Pts_C'] = round((oponente_time['Pts_3_C'] * 3) / oponente_time['Pts_C'], 3)  # frequência relativa do 3 pontos convertidos 
analise_oponente['FR_3_Pts_T'] = round((oponente_time['Pts_3_T'] * 3) / oponente_time['Pts_T'], 3)  # frequência relativa do 3 pontos tentados 
analise_oponente['EF_Pts_3'] = round(oponente_time['Pts_3_C'] / oponente_time['Pts_3_T'], 3)  # eficiência dos 3 pontos 
analise_oponente['FR_2_Pts_C'] = round((oponente_time['Pts_2_C'] * 2) / oponente_time['Pts_C'], 3)  # frequência relativa do 2 pontos convertidos
analise_oponente['FR_2_Pts_T'] = round((oponente_time['Pts_2_T'] * 2) / oponente_time['Pts_T'], 3)  # frequência relativa do 2 pontos tentados 
analise_oponente['EF_Pts_2'] = round(oponente_time['Pts_2_C'] / oponente_time['Pts_2_T'], 3)  # eficiência dos 2 pontos
analise_oponente['FR_LL_C'] = round(oponente_time['LL_C'] / oponente_time['Pts_C'], 3)  # frequência relativa dos Lances Livres convertidos
analise_oponente['FR_LL_T'] = round(oponente_time['LL_T'] / oponente_time['Pts_T'], 3)  # frequência relativa dos Lances Livres tentados
analise_oponente['EF_LL'] = round(oponente_time['LL_C'] /oponente_time['LL_T'], 3)  # eficiência dos Lances Livres
# analise['Pace']
# four fectores
analise_oponente['eFG_%'] = round((oponente_time['Ar_Pts_C'] + 0.5 * oponente_time['Pts_3_C']) / oponente_time['Ar_Pts_T'], 3)  #  aproveitamento efetivo
analise_oponente['TOV_%'] = round(100 * oponente_time['ER'] / (oponente_time['Ar_Pts_T'] + 0.475 * oponente_time['LL_T'] + oponente_time['ER']), 1)  # fator turnover
analise_oponente['FTA/FGA'] = oponente_time['LL_T'] / oponente_time['Ar_Pts_C']  # fator de aproveitamento dos lances livres
# analise['ORB%'] =  # precisa do resultado do time adv

analise_oponente['Posse_de_Bola']  = oponente_time['posse_de_bola']   # posse de bola 
analise_oponente['Offensive_Rating'] = 100 * round(oponente_time['Pts_C']/oponente_time['posse_de_bola'], 3) # pontos por posse de bola com o ajusto de 100 posses

analise_oponente['TS_%'] = round(oponente_time['Pts_C'] / (2*(oponente_time['Ar_Pts_T'] + 0.475 * oponente_time['LL_T'])), 3)  # porcentagem dos arremessos
analise_oponente['Ass/ER'] = round(oponente_time['AS'] / oponente_time['ER'], 3)  # assistência por erros
analise_oponente['AS_Ratio'] = 100 * round((oponente_time['AS'] / oponente_time['posse_de_bola']), 3)  # assistências por posse de bola 
analise_oponente.reset_index();

In [42]:
analise_oponente.describe()

,Temporada,Diferenca_Placar,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,FR_LL_C,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
count,5084.0,5084.000000,25.000000,25.00000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,2008.0,0.268096,0.465120,0.30520,0.444920,0.317560,0.498480,0.429800,0.537920,0.196240,0.125320,0.729600,0.515840,16.576000,0.780863,77.320000,104.748000,0.550560,1.159440,19.088000
std,0.0,14.336596,0.055645,0.09865,0.067688,0.097613,0.091185,0.062987,0.074107,0.045028,0.029517,0.105422,0.076944,5.428342,0.206947,7.614241,15.998076,0.069499,0.572173,5.032753
min,2008.0,-44.000000,0.375000,0.11000,0.317000,0.120000,0.370000,0.328000,0.404000,0.103000,0.085000,0.565000,0.408000,8.200000,0.400000,61.000000,85.200000,0.431000,0.300000,7.900000
25%,2008.0,-10.000000,0.432000,0.23800,0.384000,0.261000,0.432000,0.381000,0.500000,0.169000,0.103000,0.652000,0.471000,12.500000,0.645161,73.000000,93.000000,0.501000,0.765000,14.900000
50%,2008.0,1.000000,0.453000,0.32400,0.440000,0.306000,0.500000,0.433000,0.533000,0.190000,0.122000,0.714000,0.491000,17.600000,0.750000,77.000000,102.200000,0.530000,1.000000,19.800000
75%,2008.0,10.000000,0.487000,0.37000,0.508000,0.346000,0.565000,0.477000,0.600000,0.233000,0.140000,0.806000,0.532000,19.800000,0.931034,82.000000,110.400000,0.592000,1.400000,22.100000
max,2008.0,44.000000,0.588000,0.52600,0.564000,0.548000,0.707000,0.543000,0.694000,0.272000,0.189000,0.923000,0.725000,27.400000,1.307692,90.000000,149.200000,0.728000,2.571000,29.500000

### Análise Minutos do Oponentes

In [43]:
minutos_oponente = pd.DataFrame()

In [44]:
minutos_oponente['Temporada'] = oponente_time['Temporada']  # temporada
minutos_oponente['Time'] = oponente_time['Time']  # time
minutos_oponente['Oponente'] = df['Oponente']  # Oponente
minutos_oponente['Data'] = df['Data']  # Data
minutos_oponente['Semana'] = df['Semana']  # Semana
minutos_oponente['Classificatoria/Playoffs'] = df['Classificatoria/Playoffs']  # Classificatoria/Playoffs
minutos_oponente['Casa/Fora'] = df['Casa/Fora']  # casa/fora
minutos_oponente['Vitoria/Derrota'] = df['Vitoria/Derrota']  # Vitoria/Derrota
minutos_oponente['Diferenca_Placar'] = df['Diferenca_Placar']
minutos_oponente['Jogador'] = oponente_time['Jogador']  # Jogadores
minutos_oponente['Min'] = oponente_time['Min']  # minutos
indicadores = ['Pts_C', 'Pts_T', 'Pts_3_C', 'Pts_3_T', 'Pts_2_C', 'Pts_2_T',
       'LL_C', 'LL_T', 'RO', 'RD', 'RT', 'AS', 'BR', 'TO', 'FC', 'FR',
       'ER', 'EN', 'Ar_Pts_C', 'Ar_Pts_T']

In [45]:
for x in indicadores:
    minutos_oponente[f'{x}/Min'] = round(oponente_time[x] / oponente_time['Min'], 3)

In [46]:
minutos_oponente.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
25,2008,Brasília,Flamengo,28/06/2009 10:00,5ª RODADA,FINAL,fora,derrota,-8,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
38,2008,Brasília,Flamengo,21/06/2009 12:00,4ª RODADA,FINAL,casa,vitória,4,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
76,2008,Brasília,Flamengo,14/06/2009 13:00,3ª RODADA,FINAL,fora,derrota,-21,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
101,2008,Brasília,Flamengo,13/06/2009 12:00,2ª RODADA,FINAL,fora,vitória,10,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
114,2008,Brasília,Flamengo,11/06/2009 12:00,1ª RODADA,FINAL,casa,derrota,-7,Equipe,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise do jogo em casa/fora Oponente

### Tradicional

In [47]:
oponente_time.groupby('Casa/Fora').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Casa/Fora,,,,,,,,,,,,,,,,,,,,,
casa,2008.0,-10.266667,0.0,81.133333,28.333333,175.733333,63.533333,8.4,26.866667,19.933333,...,22.0,30.8,14.666667,5.666667,2.0,23.2,0.0,13.2,1.666667,76.6
fora,2008.0,-10.200000,0.0,78.900000,27.800000,170.600000,62.400000,8.1,24.300000,19.700000,...,24.3,33.7,14.800000,5.700000,1.7,23.3,0.0,16.8,1.700000,78.4

### Avançada

In [48]:
analise_oponente.groupby('Casa/Fora').mean()

,Temporada,Diferenca_Placar,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,FR_LL_C,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Casa/Fora,,,,,,,,,,,,,,,,,,,,
casa,2008.0,5.155351,0.465067,0.3090,0.457667,0.313333,0.494467,0.418067,0.548133,0.196467,0.124333,0.734733,0.516933,15.14,0.773026,76.6,107.006667,0.552733,1.261067,19.306667
fora,2008.0,-4.875656,0.465200,0.2995,0.425800,0.323900,0.504500,0.447400,0.522600,0.195900,0.126800,0.721900,0.514200,18.73,0.792619,78.4,101.360000,0.547300,1.007000,18.760000

### Minutos

In [49]:
minutos_oponente.groupby('Casa/Fora').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Casa/Fora,,,,,,,,,,,,,,,,,,,,,
casa,2008.0,-10.266667,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
fora,2008.0,-10.200000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise da vitória/derrota Oponente

### Tradicional

In [50]:
oponente_time.groupby('Vitoria/Derrota').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Vitoria/Derrota,,,,,,,,,,,,,,,,,,,,,
derrota,2008.0,-11.73913,0.0,80.130435,27.956522,173.869565,63.130435,8.434783,25.956522,19.521739,...,22.173913,31.217391,14.608696,5.913043,1.782609,23.043478,0.0,14.347826,1.73913,77.086957
vitória,2008.0,7.00000,0.0,81.500000,30.000000,171.500000,62.500000,6.500000,24.500000,23.500000,...,31.500000,40.500000,16.000000,3.000000,3.000000,25.500000,0.0,18.000000,1.00000,80.000000

### Avançada

In [51]:
analise_oponente.groupby('Vitoria/Derrota').mean()

,Temporada,Diferenca_Placar,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,FR_LL_C,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Vitoria/Derrota,,,,,,,,,,,,,,,,,,,,
derrota,2008.0,-11.435703,0.46387,0.31087,0.446043,0.321826,0.491783,0.428957,0.531435,0.197304,0.125043,0.733652,0.513783,16.278261,0.784905,77.086957,104.930435,0.549304,1.179087,19.013043
vitória,2008.0,11.627132,0.47950,0.24000,0.432000,0.268500,0.575500,0.439500,0.612500,0.184000,0.128500,0.683000,0.539500,20.000000,0.734375,80.000000,102.650000,0.565000,0.933500,19.950000

### Minutos

In [52]:
minutos_oponente.groupby('Vitoria/Derrota').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Vitoria/Derrota,,,,,,,,,,,,,,,,,,,,,
derrota,2008.0,-11.73913,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
vitória,2008.0,7.00000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise da fase de classificação (1°/2°) e Playoffs Oponente

### Tradicional

In [53]:
oponente_time.groupby('Classificatoria/Playoffs').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Classificatoria/Playoffs,,,,,,,,,,,,,,,,,,,,,
1º TURNO,2008.0,-13.000000,0.0,80.600000,28.700000,167.100000,61.600000,8.100000,23.900000,20.6,...,21.4,29.900000,15.200000,5.800000,2.000000,21.300000,0.0,15.700000,1.600000,76.800000
2º TURNO,2008.0,-10.777778,0.0,81.333333,28.111111,178.777778,64.222222,9.111111,27.777778,19.0,...,21.0,29.555556,14.333333,6.777778,1.666667,23.888889,0.0,11.888889,1.777778,76.555556
FINAL,2008.0,-4.400000,0.0,76.600000,26.600000,171.000000,61.000000,6.600000,25.200000,20.0,...,29.8,39.000000,14.000000,3.200000,2.400000,26.600000,0.0,18.600000,1.400000,79.800000
QUARTAS,2008.0,-7.000000,0.0,85.000000,30.000000,207.000000,78.000000,11.000000,31.000000,19.0,...,21.0,39.000000,17.000000,7.000000,0.000000,20.000000,0.0,9.000000,3.000000,77.000000

### Avançada

In [54]:
analise_oponente.groupby('Classificatoria/Playoffs').mean()

,Temporada,Diferenca_Placar,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,FR_LL_C,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Classificatoria/Playoffs,,,,,,,,,,,,,,,,,,,,
1º TURNO,2008.0,0.276697,0.484400,0.295500,0.430500,0.331800,0.516300,0.449800,0.553600,0.188100,0.119800,0.759900,0.535600,17.920000,0.704846,76.800000,105.700000,0.570300,0.999300,19.670000
2º TURNO,2008.0,0.288053,0.457889,0.331333,0.461556,0.326889,0.473333,0.411111,0.526667,0.195444,0.127333,0.704556,0.513333,13.644444,0.809895,76.555556,107.755556,0.545556,1.451556,18.966667
FINAL,2008.0,0.085938,0.450400,0.261000,0.443000,0.264800,0.518400,0.418600,0.553600,0.220200,0.138400,0.720000,0.493000,20.620000,0.903477,79.800000,96.300000,0.533000,0.808000,17.540000
QUARTAS,2008.0,0.227273,0.411000,0.388000,0.449000,0.355000,0.447000,0.454000,0.404000,0.165000,0.097000,0.700000,0.455000,9.300000,0.666667,77.000000,110.400000,0.486000,1.889000,22.100000
SEMI,2008.0,-0.120000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Minutos

In [55]:
minutos_oponente.groupby('Classificatoria/Playoffs').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Classificatoria/Playoffs,,,,,,,,,,,,,,,,,,,,,
1º TURNO,2008.0,-13.000000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
2º TURNO,2008.0,-10.777778,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
FINAL,2008.0,-4.400000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
QUARTAS,2008.0,-7.000000,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf

# Análise ao longo da Temporada Oponente

### Tradicional

In [56]:
oponente_time.groupby('Data').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Data,,,,,,,,,,,,,,,,,,,,,
01/03/2009 11:00,2008,-6,0.0,97,35,165,60,17,31,18,...,15,22,14,5,2,15,0,10,1,69
01/05/2009 17:00,2008,-8,0.0,92,28,189,63,11,32,17,...,22,24,13,10,2,39,0,17,2,90
03/02/2009 20:00,2008,-17,0.0,85,31,175,65,7,25,24,...,24,33,17,2,3,19,0,16,2,80
03/05/2009 11:00,2008,-12,0.0,72,24,166,62,5,21,19,...,27,31,12,4,4,21,0,9,2,75
04/03/2009 20:00,2008,-23,0.0,81,30,178,68,9,21,21,...,22,35,14,6,1,19,0,14,4,77
06/03/2009 22:00,2008,-11,0.0,63,23,134,50,5,21,18,...,24,29,8,1,1,27,0,12,0,62
06/05/2009 20:00,2008,-7,0.0,69,26,184,71,6,23,20,...,26,33,16,9,4,24,0,9,5,81
08/04/2009 20:00,2008,-18,0.0,88,32,163,58,7,22,25,...,20,27,14,5,4,19,0,10,3,71
08/05/2009 20:00,2008,-5,0.0,81,28,189,69,10,33,18,...,20,29,19,8,0,31,0,8,0,75
10/04/2009 21:00,2008,-7,0.0,91,32,172,62,15,30,17,...,14,29,18,3,0,20,0,7,0,61
11/02/2009 20:00,2008,-18,0.0,72,27,177,66,9,30,18,...,18,26,12,7,3,21,0,18,1,82
11/06/2009 12:00,2008,-7,0.0,74,24,182,63,8,33,16,...,33,40,10,5,1,24,0,18,1,83
13/05/2009 19:00,2008,-4,0.0,80,29,185,68,8,30,21,...,27,35,18,7,0,19,0,18,2,86
13/06/2009 12:00,2008,10,0.0,81,28,155,55,10,24,18,...,31,42,14,2,4,28,0,21,1,73
14/04/2009 19:00,2008,-10,0.0,90,29,217,77,11,36,18,...,22,36,15,5,4,22,0,8,3,82
14/06/2009 13:00,2008,-21,0.0,78,26,180,62,5,22,21,...,25,37,18,3,3,31,0,15,4,79
17/04/2009 20:00,2008,-17,0.0,73,24,168,58,9,29,15,...,13,23,10,8,1,19,0,10,0,67
18/03/2009 19:00,2008,-17,0.0,83,28,183,64,9,26,19,...,22,28,20,8,1,29,0,20,3,90
18/05/2009 19:00,2008,-7,0.0,85,30,207,78,11,31,19,...,21,39,17,7,0,20,0,9,3,77
20/03/2009 19:00,2008,-16,0.0,77,30,173,68,4,21,26,...,22,36,19,13,1,21,0,22,0,82
21/06/2009 12:00,2008,4,0.0,82,32,188,70,3,25,29,...,32,39,18,4,2,23,0,15,1,87
24/04/2009 21:00,2008,-21,0.0,68,25,142,52,5,15,20,...,25,30,6,6,0,22,0,20,1,76
28/01/2009 20:00,2008,-1,0.0,89,31,172,63,6,22,25,...,27,39,16,5,3,18,0,18,2,79
28/06/2009 10:00,2008,-8,0.0,68,23,150,55,7,22,16,...,28,37,10,2,2,27,0,24,0,77
30/01/2009 20:00,2008,-9,0.0,87,28,148,50,10,21,18,...,13,20,20,7,1,23,0,18,1,72

### Avançada

In [57]:
analise_oponente.groupby('Data').mean()

,Temporada,Diferenca_Placar,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,FR_LL_C,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Data,,,,,,,,,,,,,,,,,,,,
01/03/2009 11:00,2008.0,0.500000,0.588,0.526,0.564,0.548,0.371,0.352,0.621,0.103,0.085,0.714,0.725,13.0,0.400000,69.0,140.6,0.728,1.400,20.3
01/04/2009 18:30,2008.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/04/2009 20:00,2008.0,0.324324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/04/2009 21:00,2008.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/05/2009 17:00,2008.0,0.000000,0.487,0.359,0.508,0.344,0.370,0.328,0.548,0.272,0.164,0.806,0.532,17.9,1.107143,90.0,102.2,0.592,0.765,14.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28/06/2009 10:00,2008.0,0.000000,0.453,0.309,0.440,0.318,0.471,0.440,0.485,0.221,0.120,0.833,0.482,27.4,0.782609,77.0,88.3,0.535,0.417,13.0
29/04/2009 20:00,2008.0,0.178082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30/01/2009 20:00,2008.0,0.171875,0.588,0.345,0.426,0.476,0.414,0.392,0.621,0.241,0.182,0.778,0.660,22.3,0.964286,72.0,120.8,0.692,1.111,27.8
30/05/2009 12:00,2008.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31/01/2009 10:00,2008.0,-0.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Minutos

In [58]:
minutos_oponente.groupby('Data').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Data,,,,,,,,,,,,,,,,,,,,,
01/03/2009 11:00,2008,-6,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
01/05/2009 17:00,2008,-8,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
03/02/2009 20:00,2008,-17,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
03/05/2009 11:00,2008,-12,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
04/03/2009 20:00,2008,-23,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
06/03/2009 22:00,2008,-11,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
06/05/2009 20:00,2008,-7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
08/04/2009 20:00,2008,-18,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
08/05/2009 20:00,2008,-5,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,NaN,inf,inf
10/04/2009 21:00,2008,-7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,NaN,inf,inf
11/02/2009 20:00,2008,-18,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
11/06/2009 12:00,2008,-7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
13/05/2009 19:00,2008,-4,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
13/06/2009 12:00,2008,10,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
14/04/2009 19:00,2008,-10,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
14/06/2009 13:00,2008,-21,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
17/04/2009 20:00,2008,-17,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
18/03/2009 19:00,2008,-17,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
18/05/2009 19:00,2008,-7,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
20/03/2009 19:00,2008,-16,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
21/06/2009 12:00,2008,4,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
24/04/2009 21:00,2008,-21,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,NaN,inf,NaN,inf,inf,inf,inf
28/01/2009 20:00,2008,-1,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf
28/06/2009 10:00,2008,-8,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
30/01/2009 20:00,2008,-9,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf

# Análise da distribuição dos jogadores no seu elenco

In [59]:
jogadores_flamengo = df[(df['Jogador'] != 'Equipe') & (df['Time'] == 'Flamengo') & (df['Jogador'] != 'Ações coletivas')]

In [60]:
jogadores_flamengo.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
0,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Marcelinho,...,3,5,0,0,0,2,0,0,0,22
1,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Jefferson,...,3,7,0,0,0,3,0,1,0,10
2,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Duda,...,0,1,4,1,0,3,0,1,0,15
3,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Hélio,...,1,2,4,1,0,2,0,0,0,9
4,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Fernando,...,1,1,1,0,0,0,0,0,0,3

### Análise Tradicional dos Jogadores

In [61]:
jogadores_flamengo.groupby('Jogador').mean()

,Temporada,Diferenca_Placar,Min,Pts_C,Ar_Pts_C,Pts_T,Ar_Pts_T,Pts_3_C,Pts_3_T,Pts_2_C,...,RD,RT,AS,BR,TO,FC,FR,ER,EN,posse_de_bola
Jogador,,,,,,,,,,,,,,,,,,,,,
Alírio,2008.0,10.250000,4.175000,1.150000,0.400000,2.050000,0.750000,0.050000,0.150000,0.350000,...,0.550000,0.700000,0.100000,0.150000,0.050000,0.750000,0.0,0.200000,0.050000,1.000000
Babby,2008.0,10.240000,20.792000,11.920000,4.920000,19.000000,7.880000,0.000000,0.080000,4.920000,...,4.040000,5.720000,0.600000,0.520000,0.320000,3.080000,0.0,2.200000,1.000000,9.640000
Coloneze,2008.0,10.240000,14.616000,5.400000,1.720000,8.800000,2.920000,0.000000,0.000000,1.720000,...,1.800000,3.000000,0.160000,0.400000,0.240000,2.200000,0.0,1.240000,0.240000,4.200000
Daniel,2008.0,9.714286,2.228571,0.476190,0.190476,1.000000,0.333333,0.095238,0.238095,0.095238,...,0.380952,0.428571,0.142857,0.000000,0.000000,0.285714,0.0,0.047619,0.000000,0.380952
Duda,2008.0,10.240000,28.640000,10.680000,3.400000,27.600000,9.360000,1.320000,5.480000,2.080000,...,2.120000,2.600000,3.680000,1.960000,0.160000,2.760000,0.0,2.320000,0.280000,12.560000
Fernando,2008.0,10.240000,11.408000,4.640000,1.840000,9.120000,3.480000,0.640000,1.560000,1.200000,...,1.120000,1.720000,0.400000,0.280000,0.160000,1.440000,0.0,0.480000,0.000000,3.640000
Fred,2008.0,10.240000,18.688000,5.640000,1.840000,11.600000,4.040000,0.760000,1.880000,1.080000,...,1.120000,1.320000,2.920000,0.760000,0.000000,1.480000,0.0,0.960000,0.000000,5.520000
Hélio,2008.0,10.240000,27.296000,10.200000,3.920000,20.240000,7.720000,0.960000,2.880000,2.960000,...,1.320000,2.160000,3.360000,0.960000,0.000000,1.560000,0.0,1.520000,0.000000,9.280000
Ian,2008.0,8.933333,0.480000,0.133333,0.066667,0.266667,0.133333,0.000000,0.000000,0.066667,...,0.066667,0.133333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.066667
Jefferson,2008.0,10.318182,27.436364,12.318182,4.090909,27.045455,9.545455,2.045455,5.409091,2.045455,...,5.000000,6.363636,1.227273,0.954545,0.409091,2.636364,0.0,1.636364,0.090909,10.818182
João,2008.0,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
Júlio,2008.0,11.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
Marcelinho,2008.0,10.240000,38.320000,26.240000,7.880000,49.840000,16.560000,4.120000,9.320000,3.760000,...,4.880000,6.040000,3.240000,2.240000,0.240000,2.480000,0.0,1.640000,0.200000,20.000000
Marcellus,2008.0,12.000000,0.614286,0.000000,0.000000,0.571429,0.285714,0.000000,0.000000,0.000000,...,0.142857,0.142857,0.000000,0.000000,0.000000,0.142857,0.0,0.000000,0.000000,0.285714
Wagner,2008.0,10.240000,11.484000,3.520000,1.280000,6.120000,2.200000,0.000000,0.000000,1.280000,...,1.520000,2.680000,0.440000,0.440000,0.160000,2.440000,0.0,0.640000,0.040000,2.440000

### Análise Avançada dos Jogadores

In [62]:
analise_jogadores = analise[(analise['Jogador'] != 'Equipe') & (analise['Time'] == 'Flamengo') & (analise['Jogador'] != 'Ações coletivas')]

In [63]:
analise_jogadores.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
0,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Marcelinho,...,0.169,0.9,0.450,0.0,1.25,22,122.7,0.545,NaN,0.0
1,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Jefferson,...,0.194,0.5,0.591,6.7,1.00,10,160.0,0.578,0.0,0.0
2,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Duda,...,0.128,1.0,0.385,6.1,1.25,15,100.0,0.488,4.0,26.7
3,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Hélio,...,0.087,0.5,0.222,0.0,1.00,9,55.6,0.251,inf,44.4
4,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Fernando,...,0.000,NaN,0.667,0.0,0.00,3,133.3,0.667,inf,33.3

In [64]:
analise_jogadores.groupby('Jogador').mean()

,Temporada,Diferenca_Placar,Min,EF_Pts,FR_3_Pts_C,FR_3_Pts_T,EF_Pts_3,FR_2_Pts_C,FR_2_Pts_T,EF_Pts_2,...,FR_LL_T,EF_LL,eFG_%,TOV_%,FTA/FGA,Posse_de_Bola,Offensive_Rating,TS_%,Ass/ER,AS_Ratio
Jogador,,,,,,,,,,,,,,,,,,,,,
Alírio,2008.0,10.250000,4.175000,0.686100,0.100000,0.133300,0.250000,0.566700,0.669400,0.645875,...,0.197200,0.750000,0.657444,15.110000,inf,1.000000,136.660000,0.717500,0.333333,6.670000
Babby,2008.0,10.240000,20.792000,0.599375,0.000000,0.011625,0.000000,0.833870,0.840000,0.589792,...,0.148333,0.648550,0.586458,18.875000,0.829348,9.640000,122.778261,0.605333,inf,5.900000
Coloneze,2008.0,10.240000,14.616000,0.585920,0.000000,0.000000,NaN,0.567750,0.633440,0.522958,...,0.366560,0.630714,0.522958,22.788000,inf,4.200000,127.200000,0.597600,inf,3.800000
Daniel,2008.0,9.714286,2.228571,0.414200,0.666667,0.685800,0.375000,0.333333,0.114200,1.000000,...,0.200000,0.000000,0.729250,6.660000,inf,0.380952,inf,0.583400,inf,inf
Duda,2008.0,10.240000,28.640000,0.376917,0.314292,0.598042,0.221417,0.384625,0.279583,0.528833,...,0.122417,0.779773,0.415583,17.820833,inf,12.560000,83.750000,0.474625,inf,32.820833
Fernando,2008.0,10.240000,11.408000,0.432818,0.301882,0.534318,0.328947,0.622353,0.408364,0.585353,...,0.057409,0.535714,0.508136,13.734783,0.660824,3.640000,inf,0.504636,inf,inf
Fred,2008.0,10.240000,18.688000,0.515750,0.312045,0.433667,0.462263,0.350864,0.407667,0.463591,...,0.158667,0.781250,0.566958,18.587500,inf,5.520000,106.712500,0.613333,inf,68.775000
Hélio,2008.0,10.240000,27.296000,0.508480,0.223720,0.414320,0.349960,0.634560,0.482200,0.623240,...,0.103520,0.750000,0.575280,15.484000,0.702480,9.280000,108.864000,0.591800,inf,35.748000
Ian,2008.0,8.933333,0.480000,0.500000,0.000000,0.000000,NaN,1.000000,1.000000,0.500000,...,0.000000,NaN,0.500000,0.000000,0.000000,0.066667,200.000000,0.500000,NaN,0.000000
Jefferson,2008.0,10.318182,27.436364,0.462773,0.512818,0.599818,0.421364,0.313545,0.310955,0.494318,...,0.089364,0.861111,0.541682,13.268182,0.810273,10.818182,114.913636,0.579591,0.920850,11.768182
João,2008.0,4.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
Júlio,2008.0,11.333333,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
Marcelinho,2008.0,10.240000,38.320000,0.537920,0.458280,0.567640,0.443760,0.287680,0.287560,0.539240,...,0.144720,0.857833,0.616600,7.784000,1.298880,20.000000,133.916000,0.672920,inf,17.864000
Marcellus,2008.0,12.000000,0.614286,0.000000,NaN,0.000000,NaN,NaN,1.000000,0.000000,...,0.000000,NaN,0.000000,0.000000,NaN,0.285714,0.000000,0.000000,NaN,0.000000
Wagner,2008.0,10.240000,11.484000,0.514043,0.000000,0.000000,NaN,0.632450,0.694739,0.511421,...,0.305261,0.541714,0.511421,14.465217,inf,2.440000,inf,0.523000,inf,inf

### Análise Minutos dos Jogadores

In [65]:
minutos_jogadores = minutos[(minutos['Jogador'] != 'Equipe') & (minutos['Time'] == 'Flamengo') & (minutos['Jogador'] != 'Ações coletivas')]

In [66]:
minutos_jogadores.head()

,Temporada,Time,Oponente,Data,Semana,Classificatoria/Playoffs,Casa/Fora,Vitoria/Derrota,Diferenca_Placar,Jogador,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
0,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Marcelinho,...,0.125,0.000,0.000,0.0,0.050,0.0,0.000,0.0,0.200,0.500
1,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Jefferson,...,0.304,0.000,0.000,0.0,0.130,0.0,0.043,0.0,0.261,0.478
2,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Duda,...,0.029,0.118,0.029,0.0,0.088,0.0,0.029,0.0,0.118,0.382
3,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Hélio,...,0.057,0.114,0.029,0.0,0.057,0.0,0.000,0.0,0.057,0.257
4,2008,Flamengo,Brasília,28/06/2009 10:00,5ª RODADA,FINAL,casa,vitória,8,Fernando,...,0.100,0.100,0.000,0.0,0.000,0.0,0.000,0.0,0.200,0.300

In [67]:
minutos_jogadores.groupby('Jogador').mean()

,Temporada,Diferenca_Placar,Min,Pts_C/Min,Pts_T/Min,Pts_3_C/Min,Pts_3_T/Min,Pts_2_C/Min,Pts_2_T/Min,LL_C/Min,...,RT/Min,AS/Min,BR/Min,TO/Min,FC/Min,FR/Min,ER/Min,EN/Min,Ar_Pts_C/Min,Ar_Pts_T/Min
Jogador,,,,,,,,,,,,,,,,,,,,,
Alírio,2008.0,10.250000,4.175000,0.334300,0.530600,0.013200,0.037700,0.122000,0.174200,0.051000,...,0.145900,0.013800,0.027900,0.011100,0.174200,0.0,0.046600,0.013200,0.135200,0.211900
Babby,2008.0,10.240000,20.792000,0.540875,0.919500,0.000000,0.004125,0.224000,0.383167,0.092625,...,0.293833,0.026250,0.021292,0.015125,0.179458,0.0,0.103875,0.041917,0.224000,0.387333
Coloneze,2008.0,10.240000,14.616000,0.373200,0.660080,0.000000,0.000000,0.119520,0.227200,0.133960,...,0.200400,0.007040,0.030680,0.015000,0.160840,0.0,0.093600,0.009640,0.119520,0.227200
Daniel,2008.0,9.714286,2.228571,0.122417,0.352083,0.026917,0.079333,0.020833,0.020833,0.000000,...,0.156500,0.069833,0.000000,0.000000,0.146167,0.0,0.009917,0.000000,0.047750,0.100167
Duda,2008.0,10.240000,28.640000,0.370458,0.957250,0.045958,0.190083,0.073083,0.136458,0.086125,...,0.092167,0.128583,0.067500,0.005792,0.099083,0.0,0.084083,0.009125,0.119125,0.326583
Fernando,2008.0,10.240000,11.408000,0.359826,0.788087,0.049739,0.141826,0.089522,0.147652,0.031739,...,0.132348,0.034565,0.021522,0.011652,0.132783,0.0,0.058217,0.000000,0.139174,0.289391
Fred,2008.0,10.240000,18.688000,0.280458,0.596000,0.035958,0.093542,0.053083,0.112333,0.066292,...,0.071917,0.155750,0.048583,0.000000,0.078875,0.0,0.057583,0.000000,0.089125,0.205958
Hélio,2008.0,10.240000,27.296000,0.367160,0.736360,0.032640,0.102480,0.108560,0.179080,0.052120,...,0.077640,0.121000,0.035760,0.000000,0.060680,0.0,0.061400,0.000000,0.141240,0.281640
Ian,2008.0,8.933333,0.480000,1.333400,1.523800,0.000000,0.000000,0.666600,0.761800,0.000000,...,0.195200,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.666600,0.761800
Jefferson,2008.0,10.318182,27.436364,0.451318,1.009773,0.074909,0.201591,0.074773,0.155091,0.076682,...,0.235773,0.046909,0.035045,0.013773,0.100500,0.0,0.059227,0.003455,0.149773,0.356727
João,2008.0,4.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Júlio,2008.0,11.333333,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marcelinho,2008.0,10.240000,38.320000,0.690320,1.304760,0.108840,0.243560,0.098920,0.190560,0.166080,...,0.155840,0.084240,0.058480,0.006080,0.064960,0.0,0.042840,0.005600,0.207720,0.434120
Marcellus,2008.0,12.000000,0.614286,0.000000,0.930000,0.000000,0.000000,0.000000,0.465000,0.000000,...,0.233000,0.000000,0.000000,0.000000,0.233000,0.0,0.000000,0.000000,0.000000,0.465000
Wagner,2008.0,10.240000,11.484000,0.300542,0.557042,0.000000,0.000000,0.113875,0.214458,0.072583,...,0.216625,0.039875,0.047500,0.014250,0.247125,0.0,0.056125,0.001833,0.113875,0.214458

Dois jogadores com nomes diferentes

# Análise do jogo em casa/fora dos Jogadores

### Tradicional

In [68]:
jogadores_flamengo.groupby(['Jogador', 'Casa/Fora']).mean()

                      Temporada  Diferenca_Placar        Min      Pts_C  \
Jogador    Casa/Fora
Alírio     casa          2008.0         10.666667   3.566667   1.111111
           fora          2008.0          9.909091   4.672727   1.181818
Babby      casa          2008.0         10.200000  23.240000  13.700000
           fora          2008.0         10.266667  19.160000  10.733333
Coloneze   casa          2008.0         10.200000  12.850000   4.300000
           fora          2008.0         10.266667  15.793333   6.133333
Daniel     casa          2008.0         10.200000   2.160000   0.300000
           fora          2008.0          9.272727   2.290909   0.636364
Duda       casa          2008.0         10.200000  27.320000  11.500000
           fora          2008.0         10.266667  29.520000  10.133333
Fernando   casa          2008.0         10.200000  10.560000   3.400000
           fora          2008.0         10.266667  11.973333   5.466667
Fred       casa          2008.0         10.200000  17.040000   4.400000
           fora          2008.0         10.266667  19.786667   6.466667
Hélio      casa          2008.0         10.200000  29.380000  11.200000
           fora          2008.0         10.266667  25.906667   9.533333
Ian        casa          2008.0          9.833333   0.816667   0.000000
           fora          2008.0          8.333333   0.255556   0.222222
Jefferson  casa          2008.0          9.444444  28.077778  13.111111
           fora          2008.0         10.923077  26.992308  11.769231
João       casa          2008.0          4.000000   0.000000   0.000000
Júlio      casa          2008.0         11.500000   0.000000   0.000000
           fora          2008.0         11.250000   0.000000   0.000000
Marcelinho casa          2008.0         10.200000  37.910000  25.600000
           fora          2008.0         10.266667  38.593333  26.666667
Marcellus  casa          2008.0         13.000000   1.433333   0.000000
           fora          2008.0         11.250000   0.000000   0.000000
Wagner     casa          2008.0         10.200000  10.200000   1.900000
           fora          2008.0         10.266667  12.340000   4.600000

                      Ar_Pts_C      Pts_T   Ar_Pts_T   Pts_3_C   Pts_3_T  \
Jogador    Casa/Fora
Alírio     casa       0.444444   1.333333   0.555556  0.000000  0.000000
           fora       0.363636   2.636364   0.909091  0.090909  0.272727
Babby      casa       5.100000  20.900000   8.300000  0.000000  0.000000
           fora       4.800000  17.733333   7.600000  0.000000  0.133333
Coloneze   casa       1.600000   8.000000   2.900000  0.000000  0.000000
           fora       1.800000   9.333333   2.933333  0.000000  0.000000
Daniel     casa       0.100000   0.800000   0.200000  0.100000  0.200000
           fora       0.272727   1.181818   0.454545  0.090909  0.272727
Duda       casa       3.800000  28.800000  10.000000  1.200000  5.100000
           fora       3.133333  26.800000   8.933333  1.400000  5.733333
Fernando   casa       1.300000   9.300000   3.400000  0.300000  1.500000
           fora       2.200000   9.000000   3.533333  0.866667  1.600000
Fred       casa       1.500000  11.000000   3.800000  0.700000  2.000000
           fora       2.066667  12.000000   4.200000  0.800000  1.800000
Hélio      casa       4.100000  19.900000   7.300000  1.100000  2.900000
           fora       3.800000  20.466667   8.000000  0.866667  2.866667
Ian        casa       0.000000   0.333333   0.166667  0.000000  0.000000
           fora       0.111111   0.222222   0.111111  0.000000  0.000000
Jefferson  casa       4.555556  26.555556   9.444444  2.111111  5.111111
           fora       3.769231  27.384615   9.615385  2.000000  5.615385
João       casa       0.000000   0.000000   0.000000  0.000000  0.000000
Júlio      casa       0.000000   0.000000   0.000000  0.000000  0.000000
           fora       0.000000   0.000000   0.000000  0.000000  0.000000
Marcelinho casa       8.000000  50.700000  17.400000  4.100000  9.600000
           fora       7.800000  49.266667  16.000000  4.133333  9.133333
Marcellus  casa       0.000000   1.333333   0.666667  0.000000  0.000000
           fora       0.000000   0.000000   0.000000  0.000000  0.000000
Wagner     casa       0.800000   5.200000   2.200000  0.000000  0.000000
           fora       1.600000   6.733333   2.200000  0.000000  0.000000

                       Pts_2_C  ...        RD        RT        AS        BR  \
Jogador    Casa/Fora            ...
Alírio     casa       0.444444  ...  0.222222  0.333333  0.000000  0.000000
           fora       0.272727  ...  0.818182  1.000000  0.181818  0.272727
Babby      casa       5.100000  ...  4.700000  6.500000  0.600000  0.500000
           fora       4.800000  ...  3.600000  5.200000  0.600000  0.533333
Coloneze   casa       1.600000  ...  1.600000  2.600000  0.100000  0.400000
           fora       1.800000  ...  1.933333  3.266667  0.200000  0.400000
Daniel     casa       0.000000  ...  0.200000  0.200000  0.100000  0.000000
           fora       0.181818  ...  0.545455  0.636364  0.181818  0.000000
Duda       casa       2.600000  ...  1.900000  2.600000  3.600000  2.100000
           fora       1.733333  ...  2.266667  2.600000  3.733333  1.866667
Fernando   casa       1.000000  ...  0.800000  1.300000  0.300000  0.300000
           fora       1.333333  ...  1.333333  2.000000  0.466667  0.266667
Fred       casa       0.800000  ...  0.900000  1.200000  2.400000  0.800000
           fora       1.266667  ...  1.266667  1.400000  3.266667  0.733333
Hélio      casa       3.000000  ...  0.900000  1.500000  4.500000  1.500000
           fora       2.933333  ...  1.600000  2.600000  2.600000  0.600000
Ian        casa       0.000000  ...  0.000000  0.166667  0.000000  0.000000
           fora       0.111111  ...  0.111111  0.111111  0.000000  0.000000
Jefferson  casa       2.444444  ...  5.111111  6.666667  1.222222  1.333333
           fora       1.769231  ...  4.923077  6.153846  1.230769  0.692308
João       casa       0.000000  ...  0.000000  0.000000  0.000000  0.000000
Júlio      casa       0.000000  ...  0.000000  0.000000  0.000000  0.000000
           fora       0.000000  ...  0.000000  0.000000  0.000000  0.000000
Marcelinho casa       3.900000  ...  4.700000  6.000000  4.000000  2.300000
           fora       3.666667  ...  5.000000  6.066667  2.733333  2.200000
Marcellus  casa       0.000000  ...  0.333333  0.333333  0.000000  0.000000
           fora       0.000000  ...  0.000000  0.000000  0.000000  0.000000
Wagner     casa       0.800000  ...  1.400000  2.200000  0.500000  0.800000
           fora       1.600000  ...  1.600000  3.000000  0.400000  0.200000

                            TO        FC   FR        ER        EN  \
Jogador    Casa/Fora
Alírio     casa       0.111111  0.444444  0.0  0.111111  0.000000
           fora       0.000000  1.000000  0.0  0.272727  0.090909
Babby      casa       0.200000  2.900000  0.0  2.400000  1.300000
           fora       0.400000  3.200000  0.0  2.066667  0.800000
Coloneze   casa       0.300000  2.600000  0.0  1.000000  0.400000
           fora       0.200000  1.933333  0.0  1.400000  0.133333
Daniel     casa       0.000000  0.200000  0.0  0.100000  0.000000
           fora       0.000000  0.363636  0.0  0.000000  0.000000
Duda       casa       0.100000  2.500000  0.0  1.900000  0.100000
           fora       0.200000  2.933333  0.0  2.600000  0.400000
Fernando   casa       0.200000  1.700000  0.0  0.700000  0.000000
           fora       0.133333  1.266667  0.0  0.333333  0.000000
Fred       casa       0.000000  1.600000  0.0  0.600000  0.000000
           fora       0.000000  1.400000  0.0  1.200000  0.000000
Hélio      casa       0.000000  1.600000  0.0  1.500000  0.000000
           fora       0.000000  1.533333  0.0  1.533333  0.000000
Ian        casa       0.000000  0.000000  0.0  0.000000  0.000000
           fora       0.000000  0.000000  0.0  0.000000  0.000000
Jefferson  casa       0.444444  2.666667  0.0  1.666667  0.222222
           fora       0.384615  2.615385  0.0  1.615385  0.000000
João       casa       0.000000  0.000000  0.0  0.000000  0.000000
Júlio      casa       0.000000  0.000000  0.0  0.000000  0.000000
           fora       0.000000  0.000000  0.0  0.000000  0.000000
Marcelinho casa       0.200000  2.200000  0.0  1.600000  0.200000
           fora       0.266667  2.666667  0.0  1.666667  0.200000
Marcellus  casa       0.000000  0.333333  0.0  0.000000  0.000000
           fora       0.000000  0.000000  0.0  0.000000  0.000000
Wagner     casa       0.100000  1.900000  0.0  0.800000  0.000000
           fora       0.200000  2.800000  0.0  0.533333  0.066667

                      posse_de_bola
Jogador    Casa/Fora
Alírio     casa            0.666667
           fora            1.272727
Babby      casa           10.600000
           fora            9.000000
Coloneze   casa            3.800000
           fora            4.466667
Daniel     casa            0.400000
           fora            0.363636
Duda       casa           12.600000
           fora           12.533333
Fernando   casa            4.100000
           fora            3.333333
Fred       casa            4.700000
           fora            6.066667
Hélio      casa            9.300000
           fora            9.266667
Ian        casa            0.000000
           fora            0.111111
Jefferson  casa           10.555556
           fora           11.000000
João       casa            0.000000
Júlio      casa            0.000000
           fora            0.000000
Marcelinho casa           20.200000
           fora           19.866667
Marcellus  casa            0.666667
           fora            0.000000
Wagner     casa            2.600000
           fora            2.333333

[29 rows x 24 columns]

### Avançada

In [69]:
analise_jogadores.groupby(['Jogador', 'Casa/Fora']).mean()

                      Temporada  Diferenca_Placar        Min    EF_Pts  \
Jogador    Casa/Fora
Alírio     casa          2008.0         10.666667   3.566667  0.900000
           fora          2008.0          9.909091   4.672727  0.472200
Babby      casa          2008.0         10.200000  23.240000  0.600100
           fora          2008.0         10.266667  19.160000  0.598857
Coloneze   casa          2008.0         10.200000  12.850000  0.526000
           fora          2008.0         10.266667  15.793333  0.625867
Daniel     casa          2008.0         10.200000   2.160000  0.250000
           fora          2008.0          9.272727   2.290909  0.523667
Duda       casa          2008.0         10.200000  27.320000  0.392556
           fora          2008.0         10.266667  29.520000  0.367533
Fernando   casa          2008.0         10.200000  10.560000  0.356250
           fora          2008.0         10.266667  11.973333  0.476571
Fred       casa          2008.0         10.200000  17.040000  0.350333
           fora          2008.0         10.266667  19.786667  0.615000
Hélio      casa          2008.0         10.200000  29.380000  0.563500
           fora          2008.0         10.266667  25.906667  0.471800
Ian        casa          2008.0          9.833333   0.816667  0.000000
           fora          2008.0          8.333333   0.255556  1.000000
Jefferson  casa          2008.0          9.444444  28.077778  0.491667
           fora          2008.0         10.923077  26.992308  0.442769
João       casa          2008.0          4.000000   0.000000       NaN
Júlio      casa          2008.0         11.500000   0.000000       NaN
           fora          2008.0         11.250000   0.000000       NaN
Marcelinho casa          2008.0         10.200000  37.910000  0.520800
           fora          2008.0         10.266667  38.593333  0.549333
Marcellus  casa          2008.0         13.000000   1.433333  0.000000
           fora          2008.0         11.250000   0.000000       NaN
Wagner     casa          2008.0         10.200000  10.200000  0.338889
           fora          2008.0         10.266667  12.340000  0.626643

                      FR_3_Pts_C  FR_3_Pts_T  EF_Pts_3  FR_2_Pts_C  \
Jogador    Casa/Fora
Alírio     casa         0.000000    0.000000       NaN    0.800000
           fora         0.200000    0.266600  0.250000    0.333400
Babby      casa         0.000000    0.000000       NaN    0.716444
           fora         0.000000    0.019929  0.000000    0.909357
Coloneze   casa         0.000000    0.000000       NaN    0.666700
           fora         0.000000    0.000000       NaN    0.497071
Daniel     casa         1.000000    0.500000  0.500000    0.000000
           fora         0.500000    0.809667  0.333333    0.500000
Duda       casa         0.258556    0.527444  0.219667    0.494444
           fora         0.347733    0.640400  0.222467    0.318733
Fernando   casa         0.226143    0.468375  0.190429    0.619143
           fora         0.354900    0.572000  0.409750    0.624600
Fred       casa         0.320143    0.477111  0.343750    0.320571
           fora         0.308267    0.407600  0.548455    0.365000
Hélio      casa         0.245200    0.425100  0.383300    0.535200
           fora         0.209400    0.407133  0.327733    0.700800
Ian        casa              NaN    0.000000       NaN         NaN
           fora         0.000000    0.000000       NaN    1.000000
Jefferson  casa         0.498444    0.589444  0.406111    0.365778
           fora         0.522769    0.607000  0.431923    0.277385
João       casa              NaN         NaN       NaN         NaN
Júlio      casa              NaN         NaN       NaN         NaN
           fora              NaN         NaN       NaN         NaN
Marcelinho casa         0.479500    0.579700  0.433800    0.316900
           fora         0.444133    0.559600  0.450400    0.268200
Marcellus  casa              NaN    0.000000       NaN         NaN
           fora              NaN         NaN       NaN         NaN
Wagner     casa         0.000000    0.000000       NaN    0.666714
           fora         0.000000    0.000000       NaN    0.614000

                      FR_2_Pts_T  EF_Pts_2  ...   FR_LL_T     EF_LL     eFG_%  \
Jogador    Casa/Fora                        ...
Alírio     casa         0.900000  0.800000  ...  0.100000  1.000000  0.800000
           fora         0.438800  0.389000  ...  0.294400  0.666667  0.479250
Babby      casa         0.805900  0.545300  ...  0.194100  0.876444  0.545300
           fora         0.864357  0.621571  ...  0.115643  0.462091  0.615857
Coloneze   casa         0.687100  0.491700  ...  0.312900  0.500000  0.491700
           fora         0.597667  0.545286  ...  0.402333  0.711154  0.545286
Daniel     casa         0.000000       NaN  ...  0.500000  0.000000  0.750000
           fora         0.190333  1.000000  ...  0.000000       NaN  0.722333
Duda       casa         0.348889  0.521333  ...  0.123556  0.738556  0.428000
           fora         0.238000  0.533333  ...  0.121733  0.808308  0.408133
Fernando   casa         0.427250  0.442857  ...  0.104500  0.437500  0.413000
           fora         0.397571  0.685100  ...  0.030500  0.666667  0.562500
Fred       casa         0.386222  0.379556  ...  0.136667  0.583400  0.417667
           fora         0.420533  0.521769  ...  0.171867  0.871182  0.656533
Hélio      casa         0.434900  0.696100  ...  0.139900  0.833333  0.626800
           fora         0.513733  0.574667  ...  0.079267  0.666667  0.540933
Ian        casa         1.000000  0.000000  ...  0.000000       NaN  0.000000
           fora         1.000000  1.000000  ...  0.000000       NaN  1.000000
Jefferson  casa         0.321444  0.514444  ...  0.089222  0.785714  0.592778
           fora         0.303692  0.480385  ...  0.089462  0.909091  0.506308
João       casa              NaN       NaN  ...       NaN       NaN       NaN
Júlio      casa              NaN       NaN  ...       NaN       NaN       NaN
           fora              NaN       NaN  ...       NaN       NaN       NaN
Marcelinho casa         0.303400  0.560500  ...  0.116800  0.870222  0.607900
           fora         0.277000  0.525067  ...  0.163333  0.850400  0.622400
Marcellus  casa         1.000000  0.000000  ...  0.000000       NaN  0.000000
           fora              NaN       NaN  ...       NaN       NaN       NaN
Wagner     casa         0.783333  0.302125  ...  0.216667  0.375000  0.302125
           fora         0.637786  0.663636  ...  0.362214  0.608400  0.663636

                          TOV_%   FTA/FGA  Posse_de_Bola  Offensive_Rating  \
Jogador    Casa/Fora
Alírio     casa       10.000000       inf       0.666667        180.000000
           fora       20.220000       inf       1.272727         93.320000
Babby      casa       16.160000  1.220222      10.600000        129.966667
           fora       20.814286  0.578071       9.000000        118.157143
Coloneze   casa       19.070000       inf       3.800000        108.830000
           fora       25.266667       inf       4.466667        139.446667
Daniel     casa       16.650000       inf       0.400000         50.000000
           fora        0.000000  0.000000       0.363636               inf
Duda       casa       14.855556  1.072778      12.600000         89.422222
           fora       19.600000       inf      12.533333         80.346667
Fernando   casa       19.833333  1.238143       4.100000         73.700000
           fora        9.814286  0.256700       3.333333               inf
Fred       casa       15.266667       inf       4.700000         90.477778
           fora       20.580000       inf       6.066667        116.453333
Hélio      casa       13.620000  1.095500       9.300000        118.560000
           fora       16.726667  0.440467       9.266667        102.400000
Ian        casa        0.000000       NaN       0.000000               NaN
           fora        0.000000  0.000000       0.111111        200.000000
Jefferson  casa       13.388889  0.537000      10.555556        122.888889
           fora       13.184615  0.999462      11.000000        109.392308
João       casa             NaN       NaN       0.000000               NaN
Júlio      casa             NaN       NaN       0.000000               NaN
           fora             NaN       NaN       0.000000               NaN
Marcelinho casa        7.980000  0.842100      20.200000        129.870000
           fora        7.653333  1.603400      19.866667        136.613333
Marcellus  casa        0.000000       NaN       0.666667          0.000000
           fora             NaN       NaN       0.000000               NaN
Wagner     casa       17.322222       inf       2.600000         70.377778
           fora       12.628571       inf       2.333333               inf

                          TS_%    Ass/ER   AS_Ratio
Jogador    Casa/Fora
Alírio     casa       0.902600  0.000000   0.000000
           fora       0.532400  0.500000  13.340000
Babby      casa       0.606700       inf   4.566667
           fora       0.604357  0.428571   6.757143
Coloneze   casa       0.534000  0.083333   1.670000
           fora       0.640000       inf   5.220000
Daniel     casa       0.375000       inf  50.000000
           fora       0.722333       inf        inf
Duda       casa       0.480556  2.657333  29.911111
           fora       0.471067       inf  34.566667
Fernando   casa       0.418750       inf  10.488889
           fora       0.553714       inf        inf
Fred       casa       0.422889       inf  58.700000
           fora       0.727600       inf  74.820000
Hélio      casa       0.662000       inf  47.160000
           fora       0.545000       inf  28.140000
Ian        casa       0.000000       NaN        NaN
           fora       1.000000       NaN   0.000000
Jefferson  casa       0.613556  0.781250  11.133333
           fora       0.556077  1.013917  12.207692
João       casa            NaN       NaN        NaN
Júlio      casa            NaN       NaN        NaN
           fora            NaN       NaN        NaN
Marcelinho casa       0.654100  2.666667  21.880000
           fora       0.685467       inf  15.186667
Marcellus  casa       0.000000       NaN   0.000000
           fora            NaN       NaN        NaN
Wagner     casa       0.343444       inf  29.633333
           fora       0.638429       inf        inf

[29 rows x 21 columns]

### Minutos

In [70]:
minutos_jogadores.groupby(['Jogador', 'Casa/Fora']).mean()

                      Temporada  Diferenca_Placar        Min  Pts_C/Min  \
Jogador    Casa/Fora
Alírio     casa          2008.0         10.666667   3.566667   0.407400
           fora          2008.0          9.909091   4.672727   0.261200
Babby      casa          2008.0         10.200000  23.240000   0.550800
           fora          2008.0         10.266667  19.160000   0.533786
Coloneze   casa          2008.0         10.200000  12.850000   0.359600
           fora          2008.0         10.266667  15.793333   0.382267
Daniel     casa          2008.0         10.200000   2.160000   0.059500
           fora          2008.0          9.272727   2.290909   0.185333
Duda       casa          2008.0         10.200000  27.320000   0.416556
           fora          2008.0         10.266667  29.520000   0.342800
Fernando   casa          2008.0         10.200000  10.560000   0.343333
           fora          2008.0         10.266667  11.973333   0.370429
Fred       casa          2008.0         10.200000  17.040000   0.224444
           fora          2008.0         10.266667  19.786667   0.314067
Hélio      casa          2008.0         10.200000  29.380000   0.375500
           fora          2008.0         10.266667  25.906667   0.361600
Ian        casa          2008.0          9.833333   0.816667   0.000000
           fora          2008.0          8.333333   0.255556   3.333500
Jefferson  casa          2008.0          9.444444  28.077778   0.478000
           fora          2008.0         10.923077  26.992308   0.432846
João       casa          2008.0          4.000000   0.000000        NaN
Júlio      casa          2008.0         11.500000   0.000000        NaN
           fora          2008.0         11.250000   0.000000        NaN
Marcelinho casa          2008.0         10.200000  37.910000   0.677800
           fora          2008.0         10.266667  38.593333   0.698667
Marcellus  casa          2008.0         13.000000   1.433333   0.000000
           fora          2008.0         11.250000   0.000000        NaN
Wagner     casa          2008.0         10.200000  10.200000   0.189111
           fora          2008.0         10.266667  12.340000   0.367400

                      Pts_T/Min  Pts_3_C/Min  Pts_3_T/Min  Pts_2_C/Min  \
Jogador    Casa/Fora
Alírio     casa        0.442000     0.000000     0.000000     0.186600
           fora        0.619200     0.026400     0.075400     0.057400
Babby      casa        0.926400     0.000000     0.000000     0.201200
           fora        0.914571     0.000000     0.007071     0.240286
Coloneze   casa        0.703400     0.000000     0.000000     0.135200
           fora        0.631200     0.000000     0.000000     0.109067
Daniel     casa        0.264000     0.019833     0.039667     0.000000
           fora        0.440167     0.034000     0.119000     0.041667
Duda       casa        1.044111     0.042556     0.184556     0.096667
           fora        0.905133     0.048000     0.193400     0.058933
Fernando   casa        0.890333     0.044667     0.156111     0.073778
           fora        0.722357     0.053000     0.132643     0.099643
Fred       casa        0.624333     0.032222     0.108444     0.039889
           fora        0.579000     0.038200     0.084600     0.061000
Hélio      casa        0.676300     0.036300     0.097100     0.097600
           fora        0.776400     0.030200     0.106067     0.115867
Ian        casa        0.317333     0.000000     0.000000     0.000000
           fora        3.333500     0.000000     0.000000     1.666500
Jefferson  casa        0.965000     0.075111     0.181889     0.090778
           fora        1.040769     0.074769     0.215231     0.063692
João       casa             NaN          NaN          NaN          NaN
Júlio      casa             NaN          NaN          NaN          NaN
           fora             NaN          NaN          NaN          NaN
Marcelinho casa        1.344800     0.108100     0.254200     0.104300
           fora        1.278067     0.109333     0.236467     0.095333
Marcellus  casa        0.930000     0.000000     0.000000     0.000000
           fora             NaN          NaN          NaN          NaN
Wagner     casa        0.569778     0.000000     0.000000     0.081333
           fora        0.549400     0.000000     0.000000     0.133400

                      Pts_2_T/Min  LL_C/Min  ...    RT/Min    AS/Min  \
Jogador    Casa/Fora                         ...
Alírio     casa          0.203800  0.034400  ...  0.061600  0.000000
           fora          0.144600  0.067600  ...  0.230200  0.027600
Babby      casa          0.375200  0.148300  ...  0.332800  0.019800
           fora          0.388857  0.052857  ...  0.266000  0.030857
Coloneze   casa          0.264100  0.088800  ...  0.211400  0.003500
           fora          0.202600  0.164067  ...  0.193067  0.009400
Daniel     casa          0.000000  0.000000  ...  0.077333  0.072500
           fora          0.041667  0.000000  ...  0.235667  0.067167
Duda       casa          0.179778  0.095111  ...  0.091556  0.130667
           fora          0.110467  0.080733  ...  0.092533  0.127333
Fernando   casa          0.153222  0.062000  ...  0.096444  0.031556
           fora          0.144071  0.012286  ...  0.155429  0.036500
Fred       casa          0.103222  0.047889  ...  0.077333  0.138111
           fora          0.117800  0.077333  ...  0.068667  0.166333
Hélio      casa          0.147300  0.071300  ...  0.045600  0.148900
           fora          0.200267  0.039333  ...  0.099000  0.102400
Ian        casa          0.158667  0.000000  ...  0.158667  0.000000
           fora          1.666500  0.000000  ...  0.250000  0.000000
Jefferson  casa          0.160889  0.070556  ...  0.240778  0.041444
           fora          0.151077  0.080923  ...  0.232308  0.050692
João       casa               NaN       NaN  ...       NaN       NaN
Júlio      casa               NaN       NaN  ...       NaN       NaN
           fora               NaN       NaN  ...       NaN       NaN
Marcelinho casa          0.208100  0.145200  ...  0.157300  0.106000
           fora          0.178867  0.180000  ...  0.154867  0.069733
Marcellus  casa          0.465000  0.000000  ...  0.233000  0.000000
           fora               NaN       NaN  ...       NaN       NaN
Wagner     casa          0.250333  0.026556  ...  0.179667  0.047778
           fora          0.192933  0.100200  ...  0.238800  0.035133

                        BR/Min    TO/Min    FC/Min  FR/Min    ER/Min  \
Jogador    Casa/Fora
Alírio     casa       0.000000  0.022200  0.112800     0.0  0.039200
           fora       0.055800  0.000000  0.235600     0.0  0.054000
Babby      casa       0.016900  0.010000  0.168900     0.0  0.085400
           fora       0.024429  0.018786  0.187000     0.0  0.117071
Coloneze   casa       0.037700  0.020600  0.216500     0.0  0.081000
           fora       0.026000  0.011267  0.123733     0.0  0.102000
Daniel     casa       0.000000  0.000000  0.127000     0.0  0.019833
           fora       0.000000  0.000000  0.165333     0.0  0.000000
Duda       casa       0.077000  0.004444  0.092111     0.0  0.072222
           fora       0.061800  0.006600  0.103267     0.0  0.091200
Fernando   casa       0.028667  0.017000  0.154222     0.0  0.094556
           fora       0.016929  0.008214  0.119000     0.0  0.034857
Fred       casa       0.066444  0.000000  0.098778     0.0  0.047111
           fora       0.037867  0.000000  0.066933     0.0  0.063867
Hélio      casa       0.052900  0.000000  0.057800     0.0  0.047800
           fora       0.024333  0.000000  0.062600     0.0  0.070467
Ian        casa       0.000000  0.000000  0.000000     0.0  0.000000
           fora       0.000000  0.000000  0.000000     0.0  0.000000
Jefferson  casa       0.047556  0.015556  0.096444     0.0  0.057444
           fora       0.026385  0.012538  0.103308     0.0  0.060462
João       casa            NaN       NaN       NaN     NaN       NaN
Júlio      casa            NaN       NaN       NaN     NaN       NaN
           fora            NaN       NaN       NaN     NaN       NaN
Marcelinho casa       0.061300  0.005200  0.058100     0.0  0.042300
           fora       0.056600  0.006667  0.069533     0.0  0.043200
Marcellus  casa       0.000000  0.000000  0.233000     0.0  0.000000
           fora            NaN       NaN       NaN     NaN       NaN
Wagner     casa       0.082333  0.008222  0.227667     0.0  0.059222
           fora       0.026600  0.017867  0.258800     0.0  0.054267

                        EN/Min  Ar_Pts_C/Min  Ar_Pts_T/Min
Jogador    Casa/Fora
Alírio     casa       0.000000      0.186600      0.203800
           fora       0.026400      0.083800      0.220000
Babby      casa       0.049100      0.201200      0.375200
           fora       0.036786      0.240286      0.396000
Coloneze   casa       0.013900      0.135200      0.264100
           fora       0.006800      0.109067      0.202600
Daniel     casa       0.000000      0.019833      0.039667
           fora       0.000000      0.075667      0.160667
Duda       casa       0.004333      0.139333      0.364556
           fora       0.012000      0.107000      0.303800
Fernando   casa       0.000000      0.118444      0.309444
           fora       0.000000      0.152500      0.276500
Fred       casa       0.000000      0.072111      0.211667
           fora       0.000000      0.099333      0.202533
Hélio      casa       0.000000      0.134100      0.244300
           fora       0.000000      0.146000      0.306533
Ian        casa       0.000000      0.000000      0.158667
           fora       0.000000      1.666500      1.666500
Jefferson  casa       0.008444      0.166000      0.342778
           fora       0.000000      0.138538      0.366385
João       casa            NaN           NaN           NaN
Júlio      casa            NaN           NaN           NaN
           fora            NaN           NaN           NaN
Marcelinho casa       0.005900      0.212300      0.462300
           fora       0.005400      0.204667      0.415333
Marcellus  casa       0.000000      0.000000      0.465000
           fora            NaN           NaN           NaN
Wagner     casa       0.000000      0.081333      0.250333
           fora       0.002933      0.133400      0.192933

[29 rows x 23 columns]

# Análise da vitória/derrota dos Jogadores

### Tradicional

In [71]:
jogadores_flamengo.groupby(['Jogador', 'Vitoria/Derrota']).mean()

                            Temporada  Diferenca_Placar        Min      Pts_C  \
Jogador    Vitoria/Derrota
Alírio     derrota             2008.0         -7.000000   0.000000   0.000000
           vitória             2008.0         12.166667   4.638889   1.277778
Babby      derrota             2008.0         -7.000000  30.500000  15.500000
           vitória             2008.0         11.739130  19.947826  11.608696
Coloneze   derrota             2008.0         -7.000000  12.000000   1.500000
           vitória             2008.0         11.739130  14.843478   5.739130
Daniel     derrota             2008.0         -7.000000   0.200000   0.000000
           vitória             2008.0         11.473684   2.442105   0.526316
Duda       derrota             2008.0         -7.000000  33.900000  11.000000
           vitória             2008.0         11.739130  28.182609  10.652174
Fernando   derrota             2008.0         -7.000000   7.400000   1.000000
           vitória             2008.0         11.739130  11.756522   4.956522
Fred       derrota             2008.0         -7.000000  26.250000   7.000000
           vitória             2008.0         11.739130  18.030435   5.521739
Hélio      derrota             2008.0         -7.000000  21.350000   4.000000
           vitória             2008.0         11.739130  27.813043  10.739130
Ian        derrota             2008.0         -7.000000   0.000000   0.000000
           vitória             2008.0         11.384615   0.553846   0.153846
Jefferson  derrota             2008.0         -7.000000  32.550000  13.000000
           vitória             2008.0         12.050000  26.925000  12.250000
João       vitória             2008.0          4.000000   0.000000   0.000000
Júlio      vitória             2008.0         11.333333   0.000000   0.000000
Marcelinho derrota             2008.0         -7.000000  40.900000  20.000000
           vitória             2008.0         11.739130  38.095652  26.782609
Marcellus  vitória             2008.0         12.000000   0.614286   0.000000
Wagner     derrota             2008.0         -7.000000   7.450000   1.500000
           vitória             2008.0         11.739130  11.834783   3.695652

                            Ar_Pts_C      Pts_T   Ar_Pts_T   Pts_3_C  \
Jogador    Vitoria/Derrota
Alírio     derrota          0.000000   0.000000   0.000000  0.000000
           vitória          0.444444   2.277778   0.833333  0.055556
Babby      derrota          7.500000  20.500000  10.000000  0.000000
           vitória          4.695652  18.869565   7.695652  0.000000
Coloneze   derrota          0.000000   3.000000   0.500000  0.000000
           vitória          1.869565   9.304348   3.130435  0.000000
Daniel     derrota          0.000000   0.000000   0.000000  0.000000
           vitória          0.210526   1.105263   0.368421  0.105263
Duda       derrota          3.000000  37.500000  12.000000  0.500000
           vitória          3.434783  26.739130   9.130435  1.391304
Fernando   derrota          0.500000   6.500000   2.500000  0.000000
           vitória          1.956522   9.347826   3.565217  0.695652
Fred       derrota          2.000000  19.000000   6.500000  1.000000
           vitória          1.826087  10.956522   3.826087  0.739130
Hélio      derrota          1.500000  15.000000   6.000000  0.500000
           vitória          4.130435  20.695652   7.869565  1.000000
Ian        derrota          0.000000   0.000000   0.000000  0.000000
           vitória          0.076923   0.307692   0.153846  0.000000
Jefferson  derrota          4.500000  33.000000  12.000000  1.500000
           vitória          4.050000  26.450000   9.300000  2.100000
João       vitória          0.000000   0.000000   0.000000  0.000000
Júlio      vitória          0.000000   0.000000   0.000000  0.000000
Marcelinho derrota          5.500000  64.000000  21.500000  2.500000
           vitória          8.086957  48.608696  16.130435  4.260870
Marcellus  vitória          0.000000   0.571429   0.285714  0.000000
Wagner     derrota          0.500000   4.000000   1.500000  0.000000
           vitória          1.347826   6.304348   2.260870  0.000000

                              Pts_3_T   Pts_2_C  ...        RD         RT  \
Jogador    Vitoria/Derrota                       ...
Alírio     derrota           0.000000  0.000000  ...  0.000000   0.000000
           vitória           0.166667  0.388889  ...  0.611111   0.777778
Babby      derrota           0.000000  7.500000  ...  6.500000  10.000000
           vitória           0.086957  4.695652  ...  3.826087   5.347826
Coloneze   derrota           0.000000  0.000000  ...  0.000000   2.500000
           vitória           0.000000  1.869565  ...  1.956522   3.043478
Daniel     derrota           0.000000  0.000000  ...  0.000000   0.000000
           vitória           0.263158  0.105263  ...  0.421053   0.473684
Duda       derrota           7.500000  2.500000  ...  2.000000   2.500000
           vitória           5.304348  2.043478  ...  2.130435   2.608696
Fernando   derrota           1.500000  0.500000  ...  1.500000   1.500000
           vitória           1.565217  1.260870  ...  1.086957   1.739130
Fred       derrota           3.500000  1.000000  ...  1.500000   2.000000
           vitória           1.739130  1.086957  ...  1.086957   1.260870
Hélio      derrota           2.000000  1.000000  ...  1.500000   2.500000
           vitória           2.956522  3.130435  ...  1.304348   2.130435
Ian        derrota           0.000000  0.000000  ...  0.000000   0.000000
           vitória           0.000000  0.076923  ...  0.076923   0.153846
Jefferson  derrota           6.500000  3.000000  ...  3.500000   5.000000
           vitória           5.300000  1.950000  ...  5.150000   6.500000
João       vitória           0.000000  0.000000  ...  0.000000   0.000000
Júlio      vitória           0.000000  0.000000  ...  0.000000   0.000000
Marcelinho derrota          12.000000  3.000000  ...  1.500000   3.500000
           vitória           9.086957  3.826087  ...  5.173913   6.260870
Marcellus  vitória           0.000000  0.000000  ...  0.142857   0.142857
Wagner     derrota           0.000000  0.500000  ...  0.500000   1.500000
           vitória           0.000000  1.347826  ...  1.608696   2.782609

                                  AS        BR        TO        FC   FR  \
Jogador    Vitoria/Derrota
Alírio     derrota          0.000000  0.000000  0.000000  0.000000  0.0
           vitória          0.111111  0.166667  0.055556  0.833333  0.0
Babby      derrota          0.000000  0.500000  0.500000  4.000000  0.0
           vitória          0.652174  0.521739  0.304348  3.000000  0.0
Coloneze   derrota          0.000000  0.500000  0.000000  1.500000  0.0
           vitória          0.173913  0.391304  0.260870  2.260870  0.0
Daniel     derrota          0.000000  0.000000  0.000000  0.000000  0.0
           vitória          0.157895  0.000000  0.000000  0.315789  0.0
Duda       derrota          4.000000  0.500000  0.000000  1.500000  0.0
           vitória          3.652174  2.086957  0.173913  2.869565  0.0
Fernando   derrota          0.000000  0.000000  0.500000  2.500000  0.0
           vitória          0.434783  0.304348  0.130435  1.347826  0.0
Fred       derrota          1.000000  0.500000  0.000000  5.000000  0.0
           vitória          3.086957  0.782609  0.000000  1.173913  0.0
Hélio      derrota          1.000000  1.500000  0.000000  2.500000  0.0
           vitória          3.565217  0.913043  0.000000  1.478261  0.0
Ian        derrota          0.000000  0.000000  0.000000  0.000000  0.0
           vitória          0.000000  0.000000  0.000000  0.000000  0.0
Jefferson  derrota          0.000000  0.000000  0.500000  2.000000  0.0
           vitória          1.350000  1.050000  0.400000  2.700000  0.0
João       vitória          0.000000  0.000000  0.000000  0.000000  0.0
Júlio      vitória          0.000000  0.000000  0.000000  0.000000  0.0
Marcelinho derrota          2.000000  1.000000  0.000000  2.500000  0.0
           vitória          3.347826  2.347826  0.260870  2.478261  0.0
Marcellus  vitória          0.000000  0.000000  0.000000  0.142857  0.0
Wagner     derrota          0.500000  1.500000  0.000000  2.000000  0.0
           vitória          0.434783  0.347826  0.173913  2.478261  0.0

                                  ER        EN  posse_de_bola
Jogador    Vitoria/Derrota
Alírio     derrota          0.000000  0.000000       0.000000
           vitória          0.222222  0.055556       1.111111
Babby      derrota          4.500000  0.500000      11.000000
           vitória          2.000000  1.043478       9.521739
Coloneze   derrota          1.000000  0.000000       0.000000
           vitória          1.260870  0.260870       4.565217
Daniel     derrota          0.000000  0.000000       0.000000
           vitória          0.052632  0.000000       0.421053
Duda       derrota          1.500000  0.000000      15.500000
           vitória          2.391304  0.304348      12.304348
Fernando   derrota          0.500000  0.000000       3.000000
           vitória          0.478261  0.000000       3.695652
Fred       derrota          0.500000  0.000000       7.500000
           vitória          1.000000  0.000000       5.347826
Hélio      derrota          1.000000  0.000000       6.500000
           vitória          1.565217  0.000000       9.521739
Ian        derrota          0.000000  0.000000       0.000000
           vitória          0.000000  0.000000       0.076923
Jefferson  derrota          0.000000  0.500000      11.500000
           vitória          1.800000  0.050000      10.750000
João       vitória          0.000000  0.000000       0.000000
Júlio      vitória          0.000000  0.000000       0.000000
Marcelinho derrota          3.000000  0.000000      26.000000
           vitória          1.521739  0.217391      19.478261
Marcellus  vitória          0.000000  0.000000       0.285714
Wagner     derrota          1.000000  0.000000       2.000000
           vitória          0.608696  0.043478       2.478261

[27 rows x 24 columns]

### Avançada

In [72]:
analise_jogadores.groupby(['Jogador', 'Vitoria/Derrota']).mean()

                            Temporada  Diferenca_Placar        Min    EF_Pts  \
Jogador    Vitoria/Derrota
Alírio     derrota             2008.0         -7.000000   0.000000       NaN
           vitória             2008.0         12.166667   4.638889  0.686100
Babby      derrota             2008.0         -7.000000  30.500000  0.777500
           vitória             2008.0         11.739130  19.947826  0.583182
Coloneze   derrota             2008.0         -7.000000  12.000000  0.625000
           vitória             2008.0         11.739130  14.843478  0.582522
Daniel     derrota             2008.0         -7.000000   0.200000       NaN
           vitória             2008.0         11.473684   2.442105  0.414200
Duda       derrota             2008.0         -7.000000  33.900000  0.296000
           vitória             2008.0         11.739130  28.182609  0.384273
Fernando   derrota             2008.0         -7.000000   7.400000  0.154000
           vitória             2008.0         11.739130  11.756522  0.446095
Fred       derrota             2008.0         -7.000000  26.250000  0.391000
           vitória             2008.0         11.739130  18.030435  0.527091
Hélio      derrota             2008.0         -7.000000  21.350000  0.259000
           vitória             2008.0         11.739130  27.813043  0.530174
Ian        derrota             2008.0         -7.000000   0.000000       NaN
           vitória             2008.0         11.384615   0.553846  0.500000
Jefferson  derrota             2008.0         -7.000000  32.550000  0.420500
           vitória             2008.0         12.050000  26.925000  0.467000
João       vitória             2008.0          4.000000   0.000000       NaN
Júlio      vitória             2008.0         11.333333   0.000000       NaN
Marcelinho derrota             2008.0         -7.000000  40.900000  0.311500
           vitória             2008.0         11.739130  38.095652  0.557609
Marcellus  vitória             2008.0         12.000000   0.614286  0.000000
Wagner     derrota             2008.0         -7.000000   7.450000  0.416500
           vitória             2008.0         11.739130  11.834783  0.523333

                            FR_3_Pts_C  FR_3_Pts_T  EF_Pts_3  FR_2_Pts_C  \
Jogador    Vitoria/Derrota
Alírio     derrota                 NaN         NaN       NaN         NaN
           vitória            0.100000    0.133300  0.250000    0.566700
Babby      derrota            0.000000    0.000000       NaN    0.970500
           vitória            0.000000    0.012682  0.000000    0.820857
Coloneze   derrota            0.000000    0.000000       NaN    0.000000
           vitória            0.000000    0.000000       NaN    0.619364
Daniel     derrota                 NaN         NaN       NaN         NaN
           vitória            0.666667    0.685800  0.375000    0.333333
Duda       derrota            0.136500    0.601500  0.071500    0.454500
           vitória            0.330455    0.597727  0.235045    0.378273
Fernando   derrota            0.000000    0.692000  0.000000    1.000000
           vitória            0.320750    0.526810  0.347222    0.598750
Fred       derrota            0.437500    0.531000  0.350000    0.291500
           vitória            0.299500    0.424818  0.475471    0.356800
Hélio      derrota            0.250000    0.402000  0.250000    0.666500
           vitória            0.221435    0.415391  0.358652    0.631783
Ian        derrota                 NaN         NaN       NaN         NaN
           vitória            0.000000    0.000000       NaN    1.000000
Jefferson  derrota            0.336500    0.579500  0.236000    0.472500
           vitória            0.530450    0.601850  0.439900    0.297650
João       vitória                 NaN         NaN       NaN         NaN
Júlio      vitória                 NaN         NaN       NaN         NaN
Marcelinho derrota            0.375000    0.562000  0.206500    0.312500
           vitória            0.465522    0.568130  0.464391    0.285522
Marcellus  vitória                 NaN    0.000000       NaN         NaN
Wagner     derrota            0.000000    0.000000       NaN    0.500000
           vitória            0.000000    0.000000       NaN    0.647167

                            FR_2_Pts_T  EF_Pts_2  ...   FR_LL_T     EF_LL  \
Jogador    Vitoria/Derrota                        ...
Alírio     derrota                 NaN       NaN  ...       NaN       NaN
           vitória            0.669400  0.645875  ...  0.197200  0.750000
Babby      derrota            0.980000  0.771000  ...  0.020000  1.000000
           vitória            0.827273  0.573318  ...  0.160000  0.630053
Coloneze   derrota            0.250000  0.000000  ...  0.750000  0.750000
           vitória            0.666783  0.545696  ...  0.333217  0.618158
Daniel     derrota                 NaN       NaN  ...       NaN       NaN
           vitória            0.114200  1.000000  ...  0.200000  0.000000
Duda       derrota            0.239500  0.550000  ...  0.159000  0.757000
           vitória            0.283227  0.526909  ...  0.119091  0.782050
Fernando   derrota            0.308000  0.500000  ...  0.000000       NaN
           vitória            0.413143  0.590688  ...  0.060143  0.535714
Fred       derrota            0.351000  0.333000  ...  0.118500  0.875000
           vitória            0.412818  0.476650  ...  0.162318  0.767857
Hélio      derrota            0.535500  0.250000  ...  0.062500  0.500000
           vitória            0.477565  0.655696  ...  0.107087  0.764706
Ian        derrota                 NaN       NaN  ...       NaN       NaN
           vitória            1.000000  0.500000  ...  0.000000       NaN
Jefferson  derrota            0.341000  0.589500  ...  0.079500  1.000000
           vitória            0.307950  0.484800  ...  0.090350  0.843750
João       vitória                 NaN       NaN  ...       NaN       NaN
Júlio      vitória                 NaN       NaN  ...       NaN       NaN
Marcelinho derrota            0.298000  0.339500  ...  0.140000  0.708500
           vitória            0.286652  0.556609  ...  0.145130  0.871409
Marcellus  vitória            1.000000  0.000000  ...  0.000000       NaN
Wagner     derrota            0.500000  0.333000  ...  0.500000  0.500000
           vitória            0.713286  0.521333  ...  0.286714  0.544923

                               eFG_%      TOV_%   FTA/FGA  Posse_de_Bola  \
Jogador    Vitoria/Derrota
Alírio     derrota               NaN        NaN       NaN       0.000000
           vitória          0.657444  15.110000       inf       1.111111
Babby      derrota          0.771000  29.900000  0.062500      11.000000
           vitória          0.569682  17.872727  0.902381       9.521739
Coloneze   derrota          0.000000  42.600000       inf       0.000000
           vitória          0.545696  21.065217       inf       4.565217
Daniel     derrota               NaN        NaN       NaN       0.000000
           vitória          0.729250   6.660000       inf       0.421053
Duda       derrota          0.274500   9.400000  2.000000      15.500000
           vitória          0.428409  18.586364       inf      12.304348
Fernando   derrota          0.200000  16.700000  0.000000       3.000000
           vitória          0.522810  13.600000  0.702125       3.695652
Fred       derrota          0.406000   4.600000  1.250000       7.500000
           vitória          0.581591  19.859091       inf       5.347826
Hélio      derrota          0.292000  13.450000  0.500000       6.500000
           vitória          0.599913  15.660870  0.720087       9.521739
Ian        derrota               NaN        NaN       NaN       0.000000
           vitória          0.500000   0.000000  0.000000       0.076923
Jefferson  derrota          0.468500   0.000000  0.550000      11.500000
           vitória          0.549000  14.595000  0.836300      10.750000
João       vitória               NaN        NaN       NaN       0.000000
Júlio      vitória               NaN        NaN       NaN       0.000000
Marcelinho derrota          0.318000  10.350000  1.600000      26.000000
           vitória          0.642565   7.560870  1.272696      19.478261
Marcellus  vitória          0.000000   0.000000       NaN       0.285714
Wagner     derrota          0.333000  20.000000       inf       2.000000
           vitória          0.521333  13.938095       inf       2.478261

                            Offensive_Rating      TS_%    Ass/ER   AS_Ratio
Jogador    Vitoria/Derrota
Alírio     derrota                       NaN       NaN       NaN        NaN
           vitória                136.660000  0.717500  0.333333   6.670000
Babby      derrota                143.200000  0.778000  0.000000   0.000000
           vitória                120.833333  0.589636       inf   6.461905
Coloneze   derrota                -25.000000  0.654500  0.000000   0.000000
           vitória                140.434783  0.592652       inf   4.130435
Daniel     derrota                       NaN       NaN       NaN        NaN
           vitória                       inf  0.583400       inf        inf
Duda       derrota                 71.050000  0.374000  3.250000  25.600000
           vitória                 84.904545  0.483773       inf  33.477273
Fernando   derrota                 33.300000  0.200000  0.000000   0.000000
           vitória                       inf  0.519143       inf        inf
Fred       derrota                111.350000  0.476000       inf  25.000000
           vitória                106.290909  0.625818       inf  72.754545
Hélio      derrota                 59.500000  0.299500  1.000000  15.500000
           vitória                113.156522  0.617217       inf  37.508696
Ian        derrota                       NaN       NaN       NaN        NaN
           vitória                200.000000  0.500000       NaN   0.000000
Jefferson  derrota                114.650000  0.522500       NaN   0.000000
           vitória                114.940000  0.585300  0.920850  12.945000
João       vitória                       NaN       NaN       NaN        NaN
Júlio      vitória                       NaN       NaN       NaN        NaN
Marcelinho derrota                 76.450000  0.388000  1.000000   8.000000
           vitória                138.913043  0.697696       inf  18.721739
Marcellus  vitória                  0.000000  0.000000       NaN   0.000000
Wagner     derrota                 83.350000  0.429500       inf  50.000000
           vitória                       inf  0.531905       inf        inf

[27 rows x 21 columns]

### Minutos

In [73]:
minutos_jogadores.groupby(['Jogador', 'Vitoria/Derrota']).mean()

                            Temporada  Diferenca_Placar        Min  Pts_C/Min  \
Jogador    Vitoria/Derrota
Alírio     derrota             2008.0         -7.000000   0.000000        NaN
           vitória             2008.0         12.166667   4.638889   0.334300
Babby      derrota             2008.0         -7.000000  30.500000   0.507500
           vitória             2008.0         11.739130  19.947826   0.543909
Coloneze   derrota             2008.0         -7.000000  12.000000   0.130500
           vitória             2008.0         11.739130  14.843478   0.394304
Daniel     derrota             2008.0         -7.000000   0.200000   0.000000
           vitória             2008.0         11.473684   2.442105   0.133545
Duda       derrota             2008.0         -7.000000  33.900000   0.324500
           vitória             2008.0         11.739130  28.182609   0.374636
Fernando   derrota             2008.0         -7.000000   7.400000   0.135000
           vitória             2008.0         11.739130  11.756522   0.370045
Fred       derrota             2008.0         -7.000000  26.250000   0.277500
           vitória             2008.0         11.739130  18.030435   0.280727
Hélio      derrota             2008.0         -7.000000  21.350000   0.188500
           vitória             2008.0         11.739130  27.813043   0.382696
Ian        derrota             2008.0         -7.000000   0.000000        NaN
           vitória             2008.0         11.384615   0.553846   1.333400
Jefferson  derrota             2008.0         -7.000000  32.550000   0.404000
           vitória             2008.0         12.050000  26.925000   0.456050
João       vitória             2008.0          4.000000   0.000000        NaN
Júlio      vitória             2008.0         11.333333   0.000000        NaN
Marcelinho derrota             2008.0         -7.000000  40.900000   0.484000
           vitória             2008.0         11.739130  38.095652   0.708261
Marcellus  vitória             2008.0         12.000000   0.614286   0.000000
Wagner     derrota             2008.0         -7.000000   7.450000   0.230000
           vitória             2008.0         11.739130  11.834783   0.306955

                            Pts_T/Min  Pts_3_C/Min  Pts_3_T/Min  Pts_2_C/Min  \
Jogador    Vitoria/Derrota
Alírio     derrota                NaN          NaN          NaN          NaN
           vitória           0.530600     0.013200     0.037700     0.122000
Babby      derrota           0.664500     0.000000     0.000000     0.246000
           vitória           0.942682     0.000000     0.004500     0.222000
Coloneze   derrota           0.344500     0.000000     0.000000     0.000000
           vitória           0.687522     0.000000     0.000000     0.129913
Daniel     derrota           0.000000     0.000000     0.000000     0.000000
           vitória           0.384091     0.029364     0.086545     0.022727
Duda       derrota           1.109500     0.014500     0.221500     0.074000
           vitória           0.943409     0.048818     0.187227     0.073000
Fernando   derrota           0.878000     0.000000     0.203000     0.068000
           vitória           0.784000     0.052000     0.139045     0.090500
Fred       derrota           0.716000     0.041500     0.127500     0.041500
           vitória           0.585091     0.035455     0.090455     0.054136
Hélio      derrota           0.703000     0.023500     0.094000     0.046500
           vitória           0.739261     0.033435     0.103217     0.113957
Ian        derrota                NaN          NaN          NaN          NaN
           vitória           1.523800     0.000000     0.000000     0.666600
Jefferson  derrota           0.986500     0.045000     0.192000     0.096000
           vitória           1.012100     0.077900     0.202550     0.072650
João       vitória                NaN          NaN          NaN          NaN
Júlio      vitória                NaN          NaN          NaN          NaN
Marcelinho derrota           1.578000     0.060500     0.294000     0.074500
           vitória           1.281000     0.113043     0.239174     0.101043
Marcellus  vitória           0.930000     0.000000     0.000000     0.000000
Wagner     derrota           0.635000     0.000000     0.000000     0.087500
           vitória           0.549955     0.000000     0.000000     0.116273

                            Pts_2_T/Min  LL_C/Min  ...    RT/Min    AS/Min  \
Jogador    Vitoria/Derrota                         ...
Alírio     derrota                  NaN       NaN  ...       NaN       NaN
           vitória             0.174200  0.051000  ...  0.145900  0.013800
Babby      derrota             0.325000  0.015000  ...  0.330000  0.000000
           vitória             0.388455  0.099682  ...  0.290545  0.028636
Coloneze   derrota             0.071500  0.130500  ...  0.189000  0.000000
           vitória             0.240739  0.134261  ...  0.201391  0.007652
Daniel     derrota             0.000000  0.000000  ...  0.000000  0.000000
           vitória             0.022727  0.000000  ...  0.170727  0.076182
Duda       derrota             0.133500  0.133500  ...  0.073500  0.119000
           vitória             0.136727  0.081818  ...  0.093864  0.129455
Fernando   derrota             0.135000  0.000000  ...  0.203000  0.000000
           vitória             0.148227  0.033182  ...  0.129136  0.036136
Fred       derrota             0.124000  0.071000  ...  0.071000  0.053000
           vitória             0.111273  0.065864  ...  0.072000  0.165091
Hélio      derrota             0.187500  0.023500  ...  0.116000  0.046500
           vitória             0.178348  0.054609  ...  0.074304  0.127478
Ian        derrota                  NaN       NaN  ...       NaN       NaN
           vitória             0.761800  0.000000  ...  0.195200  0.000000
Jefferson  derrota             0.166500  0.077000  ...  0.141000  0.000000
           vitória             0.153950  0.076650  ...  0.245250  0.051600
João       vitória                  NaN       NaN  ...       NaN       NaN
Júlio      vitória                  NaN       NaN  ...       NaN       NaN
Marcelinho derrota             0.241000  0.154500  ...  0.088000  0.054500
           vitória             0.186174  0.167087  ...  0.161739  0.086826
Marcellus  vitória             0.465000  0.000000  ...  0.233000  0.000000
Wagner     derrota             0.263000  0.054500  ...  0.230000  0.054500
           vitória             0.210045  0.074227  ...  0.215409  0.038545

                              BR/Min    TO/Min    FC/Min  FR/Min    ER/Min  \
Jogador    Vitoria/Derrota
Alírio     derrota               NaN       NaN       NaN     NaN       NaN
           vitória          0.027900  0.011100  0.174200     0.0  0.046600
Babby      derrota          0.015000  0.018000  0.132000     0.0  0.144500
           vitória          0.021864  0.014864  0.183773     0.0  0.100182
Coloneze   derrota          0.071500  0.000000  0.130500     0.0  0.101000
           vitória          0.027130  0.016304  0.163478     0.0  0.092957
Daniel     derrota          0.000000  0.000000  0.000000     0.0  0.000000
           vitória          0.000000  0.000000  0.159455     0.0  0.010818
Duda       derrota          0.014500  0.000000  0.043500     0.0  0.043500
           vitória          0.072318  0.006318  0.104136     0.0  0.087773
Fernando   derrota          0.000000  0.068000  0.338000     0.0  0.068000
           vitória          0.022500  0.009091  0.123455     0.0  0.057773
Fred       derrota          0.026500  0.000000  0.207000     0.0  0.015000
           vitória          0.050591  0.000000  0.067227     0.0  0.061455
Hélio      derrota          0.070500  0.000000  0.116000     0.0  0.046500
           vitória          0.032739  0.000000  0.055870     0.0  0.062696
Ian        derrota               NaN       NaN       NaN     NaN       NaN
           vitória          0.000000  0.000000  0.000000     0.0  0.000000
Jefferson  derrota          0.000000  0.012500  0.064500     0.0  0.000000
           vitória          0.038550  0.013900  0.104100     0.0  0.065150
João       vitória               NaN       NaN       NaN     NaN       NaN
Júlio      vitória               NaN       NaN       NaN     NaN       NaN
Marcelinho derrota          0.022000  0.000000  0.060500     0.0  0.071500
           vitória          0.061652  0.006609  0.065348     0.0  0.040348
Marcellus  vitória          0.000000  0.000000  0.233000     0.0  0.000000
Wagner     derrota          0.230000  0.000000  0.317500     0.0  0.175500
           vitória          0.030909  0.015545  0.240727     0.0  0.045273

                              EN/Min  Ar_Pts_C/Min  Ar_Pts_T/Min
Jogador    Vitoria/Derrota
Alírio     derrota               NaN           NaN           NaN
           vitória          0.013200      0.135200      0.211900
Babby      derrota          0.015000      0.246000      0.325000
           vitória          0.044364      0.222000      0.393000
Coloneze   derrota          0.000000      0.000000      0.071500
           vitória          0.010478      0.129913      0.240739
Daniel     derrota          0.000000      0.000000      0.000000
           vitória          0.000000      0.052091      0.109273
Duda       derrota          0.000000      0.088500      0.355000
           vitória          0.009955      0.121909      0.324000
Fernando   derrota          0.000000      0.068000      0.338000
           vitória          0.000000      0.142409      0.287182
Fred       derrota          0.000000      0.083000      0.251500
           vitória          0.000000      0.089682      0.201818
Hélio      derrota          0.000000      0.070500      0.281000
           vitória          0.000000      0.147391      0.281696
Ian        derrota               NaN           NaN           NaN
           vitória          0.000000      0.666600      0.761800
Jefferson  derrota          0.019500      0.141000      0.358500
           vitória          0.001850      0.150650      0.356550
João       vitória               NaN           NaN           NaN
Júlio      vitória               NaN           NaN           NaN
Marcelinho derrota          0.000000      0.134500      0.534500
           vitória          0.006087      0.214087      0.425391
Marcellus  vitória          0.000000      0.000000      0.465000
Wagner     derrota          0.000000      0.087500      0.263000
           vitória          0.002000      0.116273      0.210045

[27 rows x 23 columns]

# Análise da fase de classificação (1°/2°) e Playoffs dos Jogadores

### Tradicional

In [74]:
jogadores_flamengo.groupby(['Jogador', 'Classificatoria/Playoffs']).mean()

                                     Temporada  Diferenca_Placar        Min  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                     2008.0         15.800000   4.500000
           2º TURNO                     2008.0         10.777778   5.211111
           FINAL                        2008.0          4.400000   2.820000
           QUARTAS                      2008.0          7.000000   0.000000
Babby      1º TURNO                     2008.0         13.000000  23.370000
           2º TURNO                     2008.0         10.777778  18.544444
           FINAL                        2008.0          4.400000  21.600000
           QUARTAS                      2008.0          7.000000  11.200000
Coloneze   1º TURNO                     2008.0         13.000000  12.500000
           2º TURNO                     2008.0         10.777778  16.266667
           FINAL                        2008.0          4.400000  13.040000
           QUARTAS                      2008.0          7.000000  28.800000
Daniel     1º TURNO                     2008.0         13.000000   3.560000
           2º TURNO                     2008.0          9.000000   1.640000
           FINAL                        2008.0          4.400000   0.600000
           QUARTAS                      2008.0          7.000000   0.000000
Duda       1º TURNO                     2008.0         13.000000  27.530000
           2º TURNO                     2008.0         10.777778  27.377778
           FINAL                        2008.0          4.400000  32.420000
           QUARTAS                      2008.0          7.000000  32.200000
Fernando   1º TURNO                     2008.0         13.000000  12.390000
           2º TURNO                     2008.0         10.777778  13.611111
           FINAL                        2008.0          4.400000   7.760000
           QUARTAS                      2008.0          7.000000   0.000000
Fred       1º TURNO                     2008.0         13.000000  16.940000
           2º TURNO                     2008.0         10.777778  19.611111
           FINAL                        2008.0          4.400000  20.380000
           QUARTAS                      2008.0          7.000000  19.400000
Hélio      1º TURNO                     2008.0         13.000000  29.520000
           2º TURNO                     2008.0         10.777778  25.111111
           FINAL                        2008.0          4.400000  26.540000
           QUARTAS                      2008.0          7.000000  28.500000
Ian        1º TURNO                     2008.0         12.000000   2.100000
           2º TURNO                     2008.0         11.625000   0.387500
           FINAL                        2008.0          4.400000   0.400000
           QUARTAS                      2008.0          7.000000   0.000000
Jefferson  1º TURNO                     2008.0         12.555556  26.000000
           2º TURNO                     2008.0         12.142857  26.500000
           FINAL                        2008.0          4.400000  30.900000
           QUARTAS                      2008.0          7.000000  29.600000
João       2º TURNO                     2008.0          4.000000   0.000000
Júlio      1º TURNO                     2008.0         11.333333   0.000000
Marcelinho 1º TURNO                     2008.0         13.000000  37.000000
           2º TURNO                     2008.0         10.777778  38.722222
           FINAL                        2008.0          4.400000  39.900000
           QUARTAS                      2008.0          7.000000  40.000000
Marcellus  1º TURNO                     2008.0         12.000000   0.614286
Wagner     1º TURNO                     2008.0         13.000000  10.980000
           2º TURNO                     2008.0         10.777778  13.733333
           FINAL                        2008.0          4.400000   8.660000
           QUARTAS                      2008.0          7.000000  10.400000

                                         Pts_C  Ar_Pts_C      Pts_T  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                   1.400000  0.400000   2.400000
           2º TURNO                   1.333333  0.444444   2.777778
           FINAL                      0.800000  0.400000   0.800000
           QUARTAS                    0.000000  0.000000   0.000000
Babby      1º TURNO                  15.100000  6.100000  24.800000
           2º TURNO                  10.333333  4.444444  15.555556
           FINAL                      8.600000  3.600000  14.800000
           QUARTAS                   11.000000  4.000000  13.000000
Coloneze   1º TURNO                   4.500000  1.500000   8.200000
           2º TURNO                   7.444444  2.333333  10.222222
           FINAL                      2.200000  0.400000   6.600000
           QUARTAS                   12.000000  5.000000  13.000000
Daniel     1º TURNO                   1.000000  0.400000   1.900000
           2º TURNO                   0.000000  0.000000   0.000000
           FINAL                      0.000000  0.000000   0.400000
           QUARTAS                    0.000000  0.000000   0.000000
Duda       1º TURNO                  10.200000  3.200000  23.900000
           2º TURNO                  10.111111  3.222222  27.555556
           FINAL                     11.000000  3.400000  32.800000
           QUARTAS                   19.000000  7.000000  39.000000
Fernando   1º TURNO                   5.100000  2.200000   9.500000
           2º TURNO                   6.111111  2.222222  11.111111
           FINAL                      2.000000  0.800000   6.600000
           QUARTAS                    0.000000  0.000000   0.000000
Fred       1º TURNO                   5.300000  1.700000   8.300000
           2º TURNO                   5.555556  1.777778  13.777778
           FINAL                      6.800000  2.200000  14.600000
           QUARTAS                    4.000000  2.000000  10.000000
Hélio      1º TURNO                  11.600000  4.600000  23.400000
           2º TURNO                  10.444444  3.888889  18.111111
           FINAL                      5.800000  2.200000  18.200000
           QUARTAS                   16.000000  6.000000  18.000000
Ian        1º TURNO                   0.000000  0.000000   2.000000
           2º TURNO                   0.250000  0.125000   0.250000
           FINAL                      0.000000  0.000000   0.000000
           QUARTAS                    0.000000  0.000000   0.000000
Jefferson  1º TURNO                  11.666667  4.111111  25.666667
           2º TURNO                  12.285714  3.714286  25.714286
           FINAL                     15.400000  5.200000  32.200000
           QUARTAS                    3.000000  1.000000  23.000000
João       2º TURNO                   0.000000  0.000000   0.000000
Júlio      1º TURNO                   0.000000  0.000000   0.000000
Marcelinho 1º TURNO                  26.900000  8.600000  45.400000
           2º TURNO                  25.111111  7.222222  48.111111
           FINAL                     26.800000  7.400000  62.400000
           QUARTAS                   27.000000  9.000000  47.000000
Marcellus  1º TURNO                   0.000000  0.000000   0.571429
Wagner     1º TURNO                   2.700000  1.200000   5.300000
           2º TURNO                   5.888889  1.888889   8.222222
           FINAL                      1.600000  0.600000   4.400000
           QUARTAS                    0.000000  0.000000   4.000000

                                      Ar_Pts_T   Pts_3_C    Pts_3_T   Pts_2_C  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                   0.800000  0.200000   0.400000  0.200000
           2º TURNO                   1.000000  0.000000   0.111111  0.444444
           FINAL                      0.400000  0.000000   0.000000  0.400000
           QUARTAS                    0.000000  0.000000   0.000000  0.000000
Babby      1º TURNO                  10.000000  0.000000   0.100000  6.100000
           2º TURNO                   6.666667  0.000000   0.000000  4.444444
           FINAL                      6.400000  0.000000   0.200000  3.600000
           QUARTAS                    5.000000  0.000000   0.000000  4.000000
Coloneze   1º TURNO                   3.000000  0.000000   0.000000  1.500000
           2º TURNO                   3.222222  0.000000   0.000000  2.333333
           FINAL                      1.800000  0.000000   0.000000  0.400000
           QUARTAS                    5.000000  0.000000   0.000000  5.000000
Daniel     1º TURNO                   0.700000  0.200000   0.500000  0.200000
           2º TURNO                   0.000000  0.000000   0.000000  0.000000
           FINAL                      0.000000  0.000000   0.000000  0.000000
           QUARTAS                    0.000000  0.000000   0.000000  0.000000
Duda       1º TURNO                   7.900000  1.200000   4.400000  2.000000
           2º TURNO                   9.333333  1.444444   6.000000  1.777778
           FINAL                     11.400000  0.800000   6.000000  2.600000
           QUARTAS                   14.000000  4.000000   9.000000  3.000000
Fernando   1º TURNO                   3.800000  0.600000   1.500000  1.600000
           2º TURNO                   4.111111  1.000000   1.888889  1.222222
           FINAL                      2.400000  0.200000   1.400000  0.600000
           QUARTAS                    0.000000  0.000000   0.000000  0.000000
Fred       1º TURNO                   2.900000  0.800000   1.300000  0.900000
           2º TURNO                   4.888889  0.666667   2.222222  1.111111
           FINAL                      4.800000  1.000000   2.400000  1.200000
           QUARTAS                    4.000000  0.000000   2.000000  2.000000
Hélio      1º TURNO                   9.200000  1.000000   3.600000  3.600000
           2º TURNO                   6.666667  1.222222   2.555556  2.666667
           FINAL                      6.800000  0.200000   2.200000  2.000000
           QUARTAS                    7.000000  2.000000   2.000000  4.000000
Ian        1º TURNO                   1.000000  0.000000   0.000000  0.000000
           2º TURNO                   0.125000  0.000000   0.000000  0.125000
           FINAL                      0.000000  0.000000   0.000000  0.000000
           QUARTAS                    0.000000  0.000000   0.000000  0.000000
Jefferson  1º TURNO                   9.444444  2.111111   5.000000  2.000000
           2º TURNO                   8.714286  2.142857   5.285714  1.571429
           FINAL                     11.200000  2.000000   6.000000  3.200000
           QUARTAS                    8.000000  1.000000   7.000000  0.000000
João       2º TURNO                   0.000000  0.000000   0.000000  0.000000
Júlio      1º TURNO                   0.000000  0.000000   0.000000  0.000000
Marcelinho 1º TURNO                  15.500000  4.700000   8.800000  3.900000
           2º TURNO                  15.555556  3.888889   9.222222  3.333333
           FINAL                     20.600000  3.200000  10.800000  4.200000
           QUARTAS                   16.000000  5.000000   8.000000  4.000000
Marcellus  1º TURNO                   0.285714  0.000000   0.000000  0.000000
Wagner     1º TURNO                   2.300000  0.000000   0.000000  1.200000
           2º TURNO                   2.333333  0.000000   0.000000  1.888889
           FINAL                      1.800000  0.000000   0.000000  0.600000
           QUARTAS                    2.000000  0.000000   0.000000  0.000000

                                     ...        RD         RT        AS  \
Jogador    Classificatoria/Playoffs  ...
Alírio     1º TURNO                  ...  0.600000   0.800000  0.000000
           2º TURNO                  ...  0.666667   0.888889  0.222222
           FINAL                     ...  0.400000   0.400000  0.000000
           QUARTAS                   ...  0.000000   0.000000  0.000000
Babby      1º TURNO                  ...  3.700000   6.000000  0.800000
           2º TURNO                  ...  4.555556   5.666667  0.777778
           FINAL                     ...  4.600000   6.400000  0.000000
           QUARTAS                   ...  0.000000   0.000000  0.000000
Coloneze   1º TURNO                  ...  1.200000   1.900000  0.000000
           2º TURNO                  ...  2.777778   4.333333  0.333333
           FINAL                     ...  1.000000   2.400000  0.000000
           QUARTAS                   ...  3.000000   5.000000  1.000000
Daniel     1º TURNO                  ...  0.700000   0.800000  0.200000
           2º TURNO                  ...  0.200000   0.200000  0.000000
           FINAL                     ...  0.000000   0.000000  0.200000
           QUARTAS                   ...  0.000000   0.000000  0.000000
Duda       1º TURNO                  ...  1.700000   2.400000  3.900000
           2º TURNO                  ...  2.000000   2.222222  3.000000
           FINAL                     ...  2.200000   2.800000  4.000000
           QUARTAS                   ...  7.000000   7.000000  6.000000
Fernando   1º TURNO                  ...  1.100000   2.000000  0.300000
           2º TURNO                  ...  1.333333   2.000000  0.555556
           FINAL                     ...  1.000000   1.000000  0.400000
           QUARTAS                   ...  0.000000   0.000000  0.000000
Fred       1º TURNO                  ...  0.500000   0.500000  2.500000
           2º TURNO                  ...  1.666667   1.888889  3.888889
           FINAL                     ...  1.200000   1.600000  2.400000
           QUARTAS                   ...  2.000000   3.000000  1.000000
Hélio      1º TURNO                  ...  1.200000   2.000000  4.100000
           2º TURNO                  ...  1.666667   2.444444  3.111111
           FINAL                     ...  1.200000   2.400000  1.600000
           QUARTAS                   ...  0.000000   0.000000  7.000000
Ian        1º TURNO                  ...  0.000000   1.000000  0.000000
           2º TURNO                  ...  0.125000   0.125000  0.000000
           FINAL                     ...  0.000000   0.000000  0.000000
           QUARTAS                   ...  0.000000   0.000000  0.000000
Jefferson  1º TURNO                  ...  4.444444   6.222222  1.222222
           2º TURNO                  ...  5.571429   6.000000  1.714286
           FINAL                     ...  4.400000   6.400000  0.400000
           QUARTAS                   ...  9.000000  10.000000  2.000000
João       2º TURNO                  ...  0.000000   0.000000  0.000000
Júlio      1º TURNO                  ...  0.000000   0.000000  0.000000
Marcelinho 1º TURNO                  ...  4.700000   5.600000  3.300000
           2º TURNO                  ...  5.111111   6.333333  3.777778
           FINAL                     ...  4.400000   6.000000  1.800000
           QUARTAS                   ...  7.000000   8.000000  5.000000
Marcellus  1º TURNO                  ...  0.142857   0.142857  0.000000
Wagner     1º TURNO                  ...  1.800000   2.800000  0.300000
           2º TURNO                  ...  1.666667   3.000000  0.444444
           FINAL                     ...  1.000000   2.400000  0.400000
           QUARTAS                   ...  0.000000   0.000000  2.000000

                                           BR        TO        FC   FR  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                  0.200000  0.000000  0.800000  0.0
           2º TURNO                  0.222222  0.000000  1.000000  0.0
           FINAL                     0.000000  0.200000  0.400000  0.0
           QUARTAS                   0.000000  0.000000  0.000000  0.0
Babby      1º TURNO                  0.400000  0.200000  3.100000  0.0
           2º TURNO                  0.555556  0.333333  2.777778  0.0
           FINAL                     0.800000  0.600000  3.800000  0.0
           QUARTAS                   0.000000  0.000000  2.000000  0.0
Coloneze   1º TURNO                  0.400000  0.300000  2.200000  0.0
           2º TURNO                  0.444444  0.222222  1.777778  0.0
           FINAL                     0.400000  0.200000  3.000000  0.0
           QUARTAS                   0.000000  0.000000  2.000000  0.0
Daniel     1º TURNO                  0.000000  0.000000  0.500000  0.0
           2º TURNO                  0.000000  0.000000  0.200000  0.0
           FINAL                     0.000000  0.000000  0.000000  0.0
           QUARTAS                   0.000000  0.000000  0.000000  0.0
Duda       1º TURNO                  2.800000  0.200000  3.000000  0.0
           2º TURNO                  1.444444  0.222222  2.666667  0.0
           FINAL                     1.200000  0.000000  2.400000  0.0
           QUARTAS                   2.000000  0.000000  3.000000  0.0
Fernando   1º TURNO                  0.400000  0.100000  1.600000  0.0
           2º TURNO                  0.333333  0.222222  1.444444  0.0
           FINAL                     0.000000  0.200000  1.400000  0.0
           QUARTAS                   0.000000  0.000000  0.000000  0.0
Fred       1º TURNO                  0.700000  0.000000  0.400000  0.0
           2º TURNO                  1.000000  0.000000  2.000000  0.0
           FINAL                     0.600000  0.000000  3.000000  0.0
           QUARTAS                   0.000000  0.000000  0.000000  0.0
Hélio      1º TURNO                  1.000000  0.000000  1.400000  0.0
           2º TURNO                  0.777778  0.000000  1.777778  0.0
           FINAL                     1.000000  0.000000  1.600000  0.0
           QUARTAS                   2.000000  0.000000  1.000000  0.0
Ian        1º TURNO                  0.000000  0.000000  0.000000  0.0
           2º TURNO                  0.000000  0.000000  0.000000  0.0
           FINAL                     0.000000  0.000000  0.000000  0.0
           QUARTAS                   0.000000  0.000000  0.000000  0.0
Jefferson  1º TURNO                  1.000000  0.000000  2.555556  0.0
           2º TURNO                  1.142857  0.857143  2.857143  0.0
           FINAL                     0.800000  0.400000  2.800000  0.0
           QUARTAS                   0.000000  1.000000  1.000000  0.0
João       2º TURNO                  0.000000  0.000000  0.000000  0.0
Júlio      1º TURNO                  0.000000  0.000000  0.000000  0.0
Marcelinho 1º TURNO                  2.300000  0.100000  1.800000  0.0
           2º TURNO                  2.555556  0.333333  2.777778  0.0
           FINAL                     1.600000  0.400000  3.000000  0.0
           QUARTAS                   2.000000  0.000000  4.000000  0.0
Marcellus  1º TURNO                  0.000000  0.000000  0.142857  0.0
Wagner     1º TURNO                  0.500000  0.200000  2.000000  0.0
           2º TURNO                  0.111111  0.222222  2.666667  0.0
           FINAL                     1.000000  0.000000  2.800000  0.0
           QUARTAS                   0.000000  0.000000  3.000000  0.0

                                           ER        EN  posse_de_bola
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                  0.000000  0.000000       0.800000
           2º TURNO                  0.333333  0.111111       1.444444
           FINAL                     0.200000  0.000000       0.600000
           QUARTAS                   0.000000  0.000000       0.000000
Babby      1º TURNO                  2.300000  1.200000      11.900000
           2º TURNO                  1.888889  1.000000       8.222222
           FINAL                     3.000000  0.600000       8.400000
           QUARTAS                   0.000000  1.000000       6.000000
Coloneze   1º TURNO                  1.600000  0.100000       4.800000

### Avançada

In [75]:
analise_jogadores.groupby(['Jogador', 'Classificatoria/Playoffs']).mean()

                                     Temporada  Diferenca_Placar        Min  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                     2008.0         15.800000   4.500000
           2º TURNO                     2008.0         10.777778   5.211111
           FINAL                        2008.0          4.400000   2.820000
           QUARTAS                      2008.0          7.000000   0.000000
Babby      1º TURNO                     2008.0         13.000000  23.370000
           2º TURNO                     2008.0         10.777778  18.544444
           FINAL                        2008.0          4.400000  21.600000
           QUARTAS                      2008.0          7.000000  11.200000
Coloneze   1º TURNO                     2008.0         13.000000  12.500000
           2º TURNO                     2008.0         10.777778  16.266667
           FINAL                        2008.0          4.400000  13.040000
           QUARTAS                      2008.0          7.000000  28.800000
Daniel     1º TURNO                     2008.0         13.000000   3.560000
           2º TURNO                     2008.0          9.000000   1.640000
           FINAL                        2008.0          4.400000   0.600000
           QUARTAS                      2008.0          7.000000   0.000000
Duda       1º TURNO                     2008.0         13.000000  27.530000
           2º TURNO                     2008.0         10.777778  27.377778
           FINAL                        2008.0          4.400000  32.420000
           QUARTAS                      2008.0          7.000000  32.200000
Fernando   1º TURNO                     2008.0         13.000000  12.390000
           2º TURNO                     2008.0         10.777778  13.611111
           FINAL                        2008.0          4.400000   7.760000
           QUARTAS                      2008.0          7.000000   0.000000
Fred       1º TURNO                     2008.0         13.000000  16.940000
           2º TURNO                     2008.0         10.777778  19.611111
           FINAL                        2008.0          4.400000  20.380000
           QUARTAS                      2008.0          7.000000  19.400000
Hélio      1º TURNO                     2008.0         13.000000  29.520000
           2º TURNO                     2008.0         10.777778  25.111111
           FINAL                        2008.0          4.400000  26.540000
           QUARTAS                      2008.0          7.000000  28.500000
Ian        1º TURNO                     2008.0         12.000000   2.100000
           2º TURNO                     2008.0         11.625000   0.387500
           FINAL                        2008.0          4.400000   0.400000
           QUARTAS                      2008.0          7.000000   0.000000
Jefferson  1º TURNO                     2008.0         12.555556  26.000000
           2º TURNO                     2008.0         12.142857  26.500000
           FINAL                        2008.0          4.400000  30.900000
           QUARTAS                      2008.0          7.000000  29.600000
João       2º TURNO                     2008.0          4.000000   0.000000
Júlio      1º TURNO                     2008.0         11.333333   0.000000
Marcelinho 1º TURNO                     2008.0         13.000000  37.000000
           2º TURNO                     2008.0         10.777778  38.722222
           FINAL                        2008.0          4.400000  39.900000
           QUARTAS                      2008.0          7.000000  40.000000
Marcellus  1º TURNO                     2008.0         12.000000   0.614286
Wagner     1º TURNO                     2008.0         13.000000  10.980000
           2º TURNO                     2008.0         10.777778  13.733333
           FINAL                        2008.0          4.400000   8.660000
           QUARTAS                      2008.0          7.000000  10.400000

                                       EF_Pts  FR_3_Pts_C  FR_3_Pts_T  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                  0.666667    0.333333    0.333333
           2º TURNO                  0.572200    0.000000    0.066600
           FINAL                     1.000000    0.000000    0.000000
           QUARTAS                        NaN         NaN         NaN
Babby      1º TURNO                  0.590000    0.000000    0.013600
           2º TURNO                  0.649750    0.000000    0.000000
           FINAL                     0.488200    0.000000    0.028600
           QUARTAS                   0.846000    0.000000    0.000000
Coloneze   1º TURNO                  0.531200    0.000000    0.000000
           2º TURNO                  0.694222    0.000000    0.000000
           FINAL                     0.433000    0.000000    0.000000
           QUARTAS                   0.923000    0.000000    0.000000
Daniel     1º TURNO                  0.517750    0.666667    0.857250
           2º TURNO                       NaN         NaN         NaN
           FINAL                     0.000000         NaN    0.000000
           QUARTAS                        NaN         NaN         NaN
Duda       1º TURNO                  0.404889    0.313667    0.570778
           2º TURNO                  0.357778    0.337778    0.652111
           FINAL                     0.339000    0.209600    0.531000
           QUARTAS                   0.487000    0.632000    0.692000
Fernando   1º TURNO                  0.475889    0.208857    0.486222
           2º TURNO                  0.435333    0.417143    0.548556
           FINAL                     0.330250    0.250000    0.610500
           QUARTAS                        NaN         NaN         NaN
Fred       1º TURNO                  0.632444    0.409625    0.402222
           2º TURNO                  0.401667    0.268875    0.477000
           FINAL                     0.534200    0.287400    0.379000
           QUARTAS                   0.400000    0.000000    0.600000
Hélio      1º TURNO                  0.512500    0.211900    0.451600
           2º TURNO                  0.562778    0.288778    0.413667
           FINAL                     0.326600    0.100000    0.357200
           QUARTAS                   0.889000    0.375000    0.333000
Ian        1º TURNO                  0.000000         NaN    0.000000
           2º TURNO                  1.000000    0.000000    0.000000
           FINAL                          NaN         NaN         NaN
           QUARTAS                        NaN         NaN         NaN
Jefferson  1º TURNO                  0.472556    0.535778    0.586222
           2º TURNO                  0.478429    0.507000    0.606857
           FINAL                     0.489800    0.382200    0.551800
           QUARTAS                   0.130000    1.000000    0.913000
João       2º TURNO                       NaN         NaN         NaN
Júlio      1º TURNO                       NaN         NaN         NaN
Marcelinho 1º TURNO                  0.599700    0.513800    0.584000
           2º TURNO                  0.525000    0.442111    0.582556
           FINAL                     0.430400    0.356800    0.519400
           QUARTAS                   0.574000    0.556000    0.511000
Marcellus  1º TURNO                  0.000000         NaN    0.000000
Wagner     1º TURNO                  0.478889    0.000000    0.000000
           2º TURNO                  0.653333    0.000000    0.000000
           FINAL                     0.408250    0.000000    0.000000
           QUARTAS                   0.000000         NaN    0.000000

                                     EF_Pts_3  FR_2_Pts_C  FR_2_Pts_T  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                  0.500000    0.333333    0.500000
           2º TURNO                  0.000000    0.533400    0.638800
           FINAL                          NaN    1.000000    1.000000
           QUARTAS                        NaN         NaN         NaN
Babby      1º TURNO                  0.000000    0.841000    0.806200
           2º TURNO                       NaN    0.887625    0.887750
           FINAL                     0.000000    0.735250    0.845400
           QUARTAS                        NaN    0.727000    0.769000
Coloneze   1º TURNO                       NaN    0.612444    0.732400
           2º TURNO                       NaN    0.642333    0.618333
           FINAL                          NaN    0.300000    0.435600
           QUARTAS                        NaN    0.833000    0.769000
Daniel     1º TURNO                  0.375000    0.333333    0.142750
           2º TURNO                       NaN         NaN         NaN
           FINAL                          NaN         NaN    0.000000
           QUARTAS                        NaN         NaN         NaN
Duda       1º TURNO                  0.229000    0.366889    0.270667
           2º TURNO                  0.231444    0.348556    0.248667
           FINAL                     0.145200    0.495200    0.356000
           QUARTAS                   0.444000    0.316000    0.256000
Fernando   1º TURNO                  0.297571    0.743571    0.480444
           2º TURNO                  0.407444    0.482143    0.372444
           FINAL                     0.166667    0.666667    0.327000
           QUARTAS                        NaN         NaN         NaN
Fred       1º TURNO                  0.714286    0.284125    0.415111
           2º TURNO                  0.333286    0.311000    0.376778
           FINAL                     0.362500    0.391600    0.451400
           QUARTAS                   0.000000    1.000000    0.400000
Hélio      1º TURNO                  0.366600    0.653900    0.476800
           2º TURNO                  0.398111    0.581333    0.474444
           FINAL                     0.100000    0.718600    0.492200
           QUARTAS                   1.000000    0.500000    0.556000
Ian        1º TURNO                       NaN         NaN    1.000000
           2º TURNO                       NaN    1.000000    1.000000
           FINAL                          NaN         NaN         NaN
           QUARTAS                        NaN         NaN         NaN
Jefferson  1º TURNO                  0.452778    0.323000    0.348778
           2º TURNO                  0.481714    0.264857    0.280571
           FINAL                     0.336000    0.427400    0.330200
           QUARTAS                   0.143000    0.000000    0.087000
João       2º TURNO                       NaN         NaN         NaN
Júlio      1º TURNO                       NaN         NaN         NaN
Marcelinho 1º TURNO                  0.535600    0.298400    0.296000
           2º TURNO                  0.401889    0.255222    0.256889
           FINAL                     0.299200    0.323000    0.315400
           QUARTAS                   0.625000    0.296000    0.340000
Marcellus  1º TURNO                       NaN         NaN    1.000000
Wagner     1º TURNO                       NaN    0.793714    0.820111
           2º TURNO                       NaN    0.491778    0.533111
           FINAL                          NaN    0.666750    0.700000
           QUARTAS                        NaN         NaN    1.000000

                                     EF_Pts_2  ...   FR_LL_T     EF_LL  \
Jogador    Classificatoria/Playoffs            ...
Alírio     1º TURNO                  0.500000  ...  0.166667  1.000000
           2º TURNO                  0.541750  ...  0.294400  0.666667
           FINAL                     1.000000  ...  0.000000       NaN
           QUARTAS                        NaN  ...       NaN       NaN
Babby      1º TURNO                  0.602600  ...  0.180100  0.547100
           2º TURNO                  0.646000  ...  0.112250  0.666667
           FINAL                     0.432200  ...  0.126000  0.833333
           QUARTAS                   0.800000  ...  0.231000  1.000000
Coloneze   1º TURNO                  0.488400  ...  0.267600  0.571429
           2º TURNO                  0.676000  ...  0.381667  0.697250
           FINAL                     0.145750  ...  0.564400  0.600000
           QUARTAS                   1.000000  ...  0.231000  0.667000
Daniel     1º TURNO                  1.000000  ...  0.000000       NaN
           2º TURNO                       NaN  ...       NaN       NaN
           FINAL                          NaN  ...  1.000000  0.000000
           QUARTAS                        NaN  ...       NaN       NaN
Duda       1º TURNO                  0.561778  ...  0.158556  0.720750
           2º TURNO                  0.509222  ...  0.099444  0.796875
           FINAL                     0.490600  ...  0.113000  0.902800
           QUARTAS                   0.600000  ...  0.051000  0.500000
Fernando   1º TURNO                  0.728571  ...  0.033333  0.250000
           2º TURNO                  0.460500  ...  0.079222  0.687500
           FINAL                     0.583500  ...  0.062500  0.500000
           QUARTAS                        NaN  ...       NaN       NaN
Fred       1º TURNO                  0.516625  ...  0.182667  0.944500
           2º TURNO                  0.331250  ...  0.146222  0.722167
           FINAL                     0.483200  ...  0.169600  0.625000
           QUARTAS                   1.000000  ...  0.000000       NaN
Hélio      1º TURNO                  0.662000  ...  0.071300  1.000000
           2º TURNO                  0.639667  ...  0.112222  0.642857
           FINAL                     0.480800  ...  0.150800  0.500000
           QUARTAS                   0.800000  ...  0.111000  1.000000
Ian        1º TURNO                  0.000000  ...  0.000000       NaN
           2º TURNO                  1.000000  ...  0.000000       NaN
           FINAL                          NaN  ...       NaN       NaN
           QUARTAS                        NaN  ...       NaN       NaN
Jefferson  1º TURNO                  0.424556  ...  0.065222  0.805667
           2º TURNO                  0.535714  ...  0.112571  0.904714
           FINAL                     0.660800  ...  0.118200  0.866600
           QUARTAS                   0.000000  ...  0.000000       NaN
João       2º TURNO                       NaN  ...       NaN       NaN
Júlio      1º TURNO                       NaN  ...       NaN       NaN
Marcelinho 1º TURNO                  0.607500  ...  0.119900  0.879778
           2º TURNO                  0.523889  ...  0.160444  0.889444
           FINAL                     0.438200  ...  0.165200  0.818800
           QUARTAS                   0.500000  ...  0.149000  0.571000
Marcellus  1º TURNO                  0.000000  ...  0.000000       NaN
Wagner     1º TURNO                  0.495875  ...  0.179889  0.583333
           2º TURNO                  0.666714  ...  0.466889  0.537111
           FINAL                     0.361000  ...  0.300000  0.500000
           QUARTAS                   0.000000  ...  0.000000       NaN

                                        eFG_%      TOV_%   FTA/FGA  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                  0.583333   0.000000       inf
           2º TURNO                  0.541750  20.220000       inf
           FINAL                     1.000000  25.000000  0.000000
           QUARTAS                        NaN        NaN       NaN
Babby      1º TURNO                  0.598200  16.700000  0.871400
           2º TURNO                  0.646000  20.612500  0.435750
           FINAL                     0.425000  24.220000  1.531250
           QUARTAS                   0.800000   0.000000  0.750000
Coloneze   1º TURNO                  0.488400  27.830000       inf
           2º TURNO                  0.676000  15.688889       inf
           FINAL                     0.145750  25.300000       inf
           QUARTAS                   1.000000  23.700000  0.600000
Daniel     1º TURNO                  0.729250   8.325000  0.000000
           2º TURNO                       NaN        NaN       NaN
           FINAL                          NaN   0.000000       inf
           QUARTAS                        NaN        NaN       NaN
Duda       1º TURNO                  0.446000  21.955556       inf
           2º TURNO                  0.403667  19.588889       inf
           FINAL                     0.336800   8.400000  1.216600
           QUARTAS                   0.643000  11.800000  0.286000
Fernando   1º TURNO                  0.541556  20.320000  0.381000
           2º TURNO                  0.520889   7.855556  0.938143
           FINAL                     0.404250  10.500000  0.666667
           QUARTAS                        NaN        NaN       NaN
Fred       1º TURNO                  0.734111  23.788889       inf
           2º TURNO                  0.416667  18.766667       inf
           FINAL                     0.550000   8.620000       inf
           QUARTAS                   0.500000  20.000000  0.000000
Hélio      1º TURNO                  0.565700  15.010000  0.584100
           2º TURNO                  0.650222  17.744444  0.654222
           FINAL                     0.374600   9.980000  1.100000
           QUARTAS                   1.000000  27.400000  0.333000
Ian        1º TURNO                  0.000000   0.000000       NaN
           2º TURNO                  1.000000   0.000000  0.000000
           FINAL                          NaN        NaN       NaN
           QUARTAS                        NaN        NaN       NaN
Jefferson  1º TURNO                  0.563000  16.466667  0.941778
           2º TURNO                  0.543143  12.971429  0.835714
           FINAL                     0.572000   6.580000  0.700000
           QUARTAS                   0.188000  20.000000  0.000000
João       2º TURNO                       NaN        NaN       NaN
Júlio      1º TURNO                       NaN        NaN       NaN
Marcelinho 1º TURNO                  0.718300   6.680000  0.797200
           2º TURNO                  0.590000   9.577778  1.795111
           FINAL                     0.440600   5.640000  1.513200
           QUARTAS                   0.719000  13.400000  0.778000
Marcellus  1º TURNO                  0.000000   0.000000       NaN
Wagner     1º TURNO                  0.495875  15.600000       inf
           2º TURNO                  0.666714  13.722222       inf
           FINAL                     0.361000  17.200000       inf
           QUARTAS                   0.000000   0.000000       NaN

                                     Posse_de_Bola  Offensive_Rating  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                       0.800000        183.333333
           2º TURNO                       1.444444        103.320000
           FINAL                          0.600000        150.000000
           QUARTAS                        0.000000               NaN
Babby      1º TURNO                      11.900000        124.480000
           2º TURNO                       8.222222        122.187500
           FINAL                          8.400000        104.575000
           QUARTAS                        6.000000        183.300000
Coloneze   1º TURNO                       4.800000         93.330000
           2º TURNO                       4.222222        212.966667
           FINAL                          2.600000         26.000000
           QUARTAS                        6.000000        200.000000
Daniel     1º TURNO                       0.700000               inf
           2º TURNO                       0.000000               NaN
           FINAL                          0.200000          0.000000
           QUARTAS                        0.000000               NaN
Duda       1º TURNO                      11.100000         87.922222
           2º TURNO                      13.111111         77.944444

### Minutos

In [76]:
minutos_jogadores.groupby(['Jogador', 'Classificatoria/Playoffs']).mean()

                                     Temporada  Diferenca_Placar        Min  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                     2008.0         15.800000   4.500000
           2º TURNO                     2008.0         10.777778   5.211111
           FINAL                        2008.0          4.400000   2.820000
           QUARTAS                      2008.0          7.000000   0.000000
Babby      1º TURNO                     2008.0         13.000000  23.370000
           2º TURNO                     2008.0         10.777778  18.544444
           FINAL                        2008.0          4.400000  21.600000
           QUARTAS                      2008.0          7.000000  11.200000
Coloneze   1º TURNO                     2008.0         13.000000  12.500000
           2º TURNO                     2008.0         10.777778  16.266667
           FINAL                        2008.0          4.400000  13.040000
           QUARTAS                      2008.0          7.000000  28.800000
Daniel     1º TURNO                     2008.0         13.000000   3.560000
           2º TURNO                     2008.0          9.000000   1.640000
           FINAL                        2008.0          4.400000   0.600000
           QUARTAS                      2008.0          7.000000   0.000000
Duda       1º TURNO                     2008.0         13.000000  27.530000
           2º TURNO                     2008.0         10.777778  27.377778
           FINAL                        2008.0          4.400000  32.420000
           QUARTAS                      2008.0          7.000000  32.200000
Fernando   1º TURNO                     2008.0         13.000000  12.390000
           2º TURNO                     2008.0         10.777778  13.611111
           FINAL                        2008.0          4.400000   7.760000
           QUARTAS                      2008.0          7.000000   0.000000
Fred       1º TURNO                     2008.0         13.000000  16.940000
           2º TURNO                     2008.0         10.777778  19.611111
           FINAL                        2008.0          4.400000  20.380000
           QUARTAS                      2008.0          7.000000  19.400000
Hélio      1º TURNO                     2008.0         13.000000  29.520000
           2º TURNO                     2008.0         10.777778  25.111111
           FINAL                        2008.0          4.400000  26.540000
           QUARTAS                      2008.0          7.000000  28.500000
Ian        1º TURNO                     2008.0         12.000000   2.100000
           2º TURNO                     2008.0         11.625000   0.387500
           FINAL                        2008.0          4.400000   0.400000
           QUARTAS                      2008.0          7.000000   0.000000
Jefferson  1º TURNO                     2008.0         12.555556  26.000000
           2º TURNO                     2008.0         12.142857  26.500000
           FINAL                        2008.0          4.400000  30.900000
           QUARTAS                      2008.0          7.000000  29.600000
João       2º TURNO                     2008.0          4.000000   0.000000
Júlio      1º TURNO                     2008.0         11.333333   0.000000
Marcelinho 1º TURNO                     2008.0         13.000000  37.000000
           2º TURNO                     2008.0         10.777778  38.722222
           FINAL                        2008.0          4.400000  39.900000
           QUARTAS                      2008.0          7.000000  40.000000
Marcellus  1º TURNO                     2008.0         12.000000   0.614286
Wagner     1º TURNO                     2008.0         13.000000  10.980000
           2º TURNO                     2008.0         10.777778  13.733333
           FINAL                        2008.0          4.400000   8.660000
           QUARTAS                      2008.0          7.000000  10.400000

                                     Pts_C/Min  Pts_T/Min  Pts_3_C/Min  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                   0.391000   0.580000     0.044000
           2º TURNO                   0.311200   0.590400     0.000000
           FINAL                      0.307000   0.307000     0.000000
           QUARTAS                         NaN        NaN          NaN
Babby      1º TURNO                   0.614000   1.064000     0.000000
           2º TURNO                   0.537125   0.825500     0.000000
           FINAL                      0.312400   0.732600     0.000000
           QUARTAS                    0.982000   1.161000     0.000000
Coloneze   1º TURNO                   0.394800   0.732000     0.000000
           2º TURNO                   0.454333   0.672778     0.000000
           FINAL                      0.175200   0.535200     0.000000
           QUARTAS                    0.417000   0.451000     0.000000
Daniel     1º TURNO                   0.209857   0.479286     0.046143
           2º TURNO                   0.000000   0.000000     0.000000
           FINAL                      0.000000   0.290000     0.000000
           QUARTAS                         NaN        NaN          NaN
Duda       1º TURNO                   0.354333   0.849778     0.040778
           2º TURNO                   0.380556   1.010111     0.054556
           FINAL                      0.337400   1.004800     0.024200
           QUARTAS                    0.590000   1.211000     0.124000
Fernando   1º TURNO                   0.330800   0.649300     0.036700
           2º TURNO                   0.381444   0.839444     0.058556
           FINAL                      0.383750   1.019500     0.062500
           QUARTAS                         NaN        NaN          NaN
Fred       1º TURNO                   0.294667   0.459000     0.041889
           2º TURNO                   0.261889   0.707889     0.031778
           FINAL                      0.303200   0.657400     0.040000
           QUARTAS                    0.206000   0.515000     0.000000
Hélio      1º TURNO                   0.389600   0.800000     0.031100
           2º TURNO                   0.402444   0.704889     0.043111
           FINAL                      0.220000   0.686600     0.009400
           QUARTAS                    0.561000   0.632000     0.070000
Ian        1º TURNO                   0.000000   0.952000     0.000000
           2º TURNO                   2.222333   2.222333     0.000000
           FINAL                      0.000000   0.000000     0.000000
           QUARTAS                         NaN        NaN          NaN
Jefferson  1º TURNO                   0.450222   1.029889     0.081778
           2º TURNO                   0.460286   0.989714     0.080571
           FINAL                      0.510800   1.048200     0.062800
           QUARTAS                    0.101000   0.777000     0.034000
João       2º TURNO                        NaN        NaN          NaN
Júlio      1º TURNO                        NaN        NaN          NaN
Marcelinho 1º TURNO                   0.736500   1.238800     0.129200
           2º TURNO                   0.649667   1.244556     0.100222
           FINAL                      0.674200   1.571000     0.080400
           QUARTAS                    0.675000   1.175000     0.125000
Marcellus  1º TURNO                   0.000000   0.930000     0.000000
Wagner     1º TURNO                   0.234444   0.528444     0.000000
           2º TURNO                   0.445444   0.608889     0.000000
           FINAL                      0.218800   0.549600     0.000000
           QUARTAS                    0.000000   0.385000     0.000000

                                     Pts_3_T/Min  Pts_2_C/Min  Pts_2_T/Min  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                     0.087667     0.101000     0.129667
           2º TURNO                     0.022800     0.122000     0.209200
           FINAL                        0.000000     0.153500     0.153500
           QUARTAS                           NaN          NaN          NaN
Babby      1º TURNO                     0.006100     0.252100     0.427700
           2º TURNO                     0.000000     0.234500     0.362000
           FINAL                        0.007600     0.124400     0.315400
           QUARTAS                      0.000000     0.357000     0.446000
Coloneze   1º TURNO                     0.000000     0.134400     0.274300
           2º TURNO                     0.000000     0.147000     0.224000
           FINAL                        0.000000     0.029400     0.149400
           QUARTAS                      0.000000     0.174000     0.174000
Daniel     1º TURNO                     0.136000     0.035714     0.035714
           2º TURNO                     0.000000     0.000000     0.000000
           FINAL                        0.000000     0.000000     0.000000
           QUARTAS                           NaN          NaN          NaN
Duda       1º TURNO                     0.157778     0.069111     0.122667
           2º TURNO                     0.216889     0.070444     0.130000
           FINAL                        0.182000     0.081000     0.169200
           QUARTAS                      0.280000     0.093000     0.155000
Fernando   1º TURNO                     0.102300     0.107700     0.161200
           2º TURNO                     0.148444     0.079333     0.149889
           FINAL                        0.225750     0.067000     0.108750
           QUARTAS                           NaN          NaN          NaN
Fred       1º TURNO                     0.066889     0.050667     0.092556
           2º TURNO                     0.116222     0.047778     0.132000
           FINAL                        0.098800     0.057000     0.114400
           QUARTAS                      0.103000     0.103000     0.103000
Hélio      1º TURNO                     0.119200     0.120900     0.193800
           2º TURNO                     0.098111     0.111000     0.166222
           FINAL                        0.083400     0.073200     0.173600
           QUARTAS                      0.070000     0.140000     0.175000
Ian        1º TURNO                     0.000000     0.000000     0.476000
           2º TURNO                     0.000000     1.111000     1.111000
           FINAL                        0.000000     0.000000     0.000000
           QUARTAS                           NaN          NaN          NaN
Jefferson  1º TURNO                     0.201444     0.075444     0.177111
           2º TURNO                     0.207429     0.058286     0.127143
           FINAL                        0.186800     0.111600     0.178800
           QUARTAS                      0.236000     0.000000     0.034000
João       2º TURNO                          NaN          NaN          NaN
Júlio      1º TURNO                          NaN          NaN          NaN
Marcelinho 1º TURNO                     0.239500     0.106700     0.183800
           2º TURNO                     0.238000     0.086333     0.164333
           FINAL                        0.270400     0.105800     0.249400
           QUARTAS                      0.200000     0.100000     0.200000
Marcellus  1º TURNO                     0.000000     0.000000     0.465000
Wagner     1º TURNO                     0.000000     0.103889     0.237889
           2º TURNO                     0.000000     0.148000     0.177889
           FINAL                        0.000000     0.093200     0.242600
           QUARTAS                      0.000000     0.000000     0.192000

                                     LL_C/Min  ...    RT/Min    AS/Min  \
Jogador    Classificatoria/Playoffs            ...
Alírio     1º TURNO                  0.057333  ...  0.160333  0.000000
           2º TURNO                  0.067600  ...  0.151200  0.027600
           FINAL                     0.000000  ...  0.111000  0.000000
           QUARTAS                        NaN  ...       NaN       NaN
Babby      1º TURNO                  0.109700  ...  0.258200  0.030300
           2º TURNO                  0.067500  ...  0.296000  0.040875
           FINAL                     0.063600  ...  0.420400  0.000000
           QUARTAS                   0.268000  ...  0.000000  0.000000
Coloneze   1º TURNO                  0.126000  ...  0.135100  0.000000
           2º TURNO                  0.160000  ...  0.291556  0.015667
           FINAL                     0.116000  ...  0.172200  0.000000
           QUARTAS                   0.069000  ...  0.174000  0.035000
Daniel     1º TURNO                  0.000000  ...  0.243714  0.057571
           2º TURNO                  0.000000  ...  0.086000  0.000000
           FINAL                     0.000000  ...  0.000000  0.145000
           QUARTAS                        NaN  ...       NaN       NaN
Duda       1º TURNO                  0.093444  ...  0.085667  0.144111
           2º TURNO                  0.075778  ...  0.087000  0.109111
           FINAL                     0.102600  ...  0.088200  0.124200
           QUARTAS                   0.031000  ...  0.217000  0.186000
Fernando   1º TURNO                  0.005400  ...  0.147800  0.026400
           2º TURNO                  0.047333  ...  0.129222  0.036778
           FINAL                     0.062500  ...  0.100750  0.050000
           QUARTAS                        NaN  ...       NaN       NaN
Fred       1º TURNO                  0.067222  ...  0.023667  0.144222
           2º TURNO                  0.070889  ...  0.097889  0.184667
           FINAL                     0.069600  ...  0.095400  0.145200
           QUARTAS                   0.000000  ...  0.155000  0.052000
Hélio      1º TURNO                  0.054900  ...  0.069100  0.139200
           2º TURNO                  0.051222  ...  0.087000  0.123111
           FINAL                     0.044600  ...  0.093400  0.055800
           QUARTAS                   0.070000  ...  0.000000  0.246000
Ian        1º TURNO                  0.000000  ...  0.476000  0.000000
           2º TURNO                  0.000000  ...  0.166667  0.000000
           FINAL                     0.000000  ...  0.000000  0.000000
           QUARTAS                        NaN  ...       NaN       NaN
Jefferson  1º TURNO                  0.054111  ...  0.241333  0.048444
           2º TURNO                  0.101286  ...  0.233857  0.066429
           FINAL                     0.098200  ...  0.208000  0.012600
           QUARTAS                   0.000000  ...  0.338000  0.068000
João       2º TURNO                       NaN  ...       NaN       NaN
Júlio      1º TURNO                       NaN  ...       NaN       NaN
Marcelinho 1º TURNO                  0.135900  ...  0.147000  0.087800
           2º TURNO                  0.175889  ...  0.161889  0.096333
           FINAL                     0.222000  ...  0.153800  0.047200
           QUARTAS                   0.100000  ...  0.200000  0.125000
Marcellus  1º TURNO                  0.000000  ...  0.233000  0.000000
Wagner     1º TURNO                  0.026556  ...  0.233333  0.034667
           2º TURNO                  0.149000  ...  0.220000  0.032333
           FINAL                     0.032400  ...  0.223800  0.032400
           QUARTAS                   0.000000  ...  0.000000  0.192000

                                       BR/Min    TO/Min    FC/Min  FR/Min  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                  0.044000  0.000000  0.145000     0.0
           2º TURNO                  0.029400  0.000000  0.183000     0.0
           FINAL                     0.000000  0.055500  0.196000     0.0
           QUARTAS                        NaN       NaN       NaN     NaN
Babby      1º TURNO                  0.016300  0.010000  0.143500     0.0
           2º TURNO                  0.025375  0.018750  0.184250     0.0
           FINAL                     0.029000  0.022600  0.243800     0.0
           QUARTAS                   0.000000  0.000000  0.179000     0.0
Coloneze   1º TURNO                  0.032700  0.020600  0.181800     0.0
           2º TURNO                  0.026111  0.010556  0.108222     0.0
           FINAL                     0.041000  0.014800  0.232000     0.0
           QUARTAS                   0.000000  0.000000  0.069000     0.0
Daniel     1º TURNO                  0.000000  0.000000  0.191000     0.0
           2º TURNO                  0.000000  0.000000  0.208500     0.0
           FINAL                     0.000000  0.000000  0.000000     0.0
           QUARTAS                        NaN       NaN       NaN     NaN
Duda       1º TURNO                  0.100778  0.007333  0.107889     0.0
           2º TURNO                  0.051222  0.008111  0.104444     0.0
           FINAL                     0.038000  0.000000  0.074800     0.0
           QUARTAS                   0.062000  0.000000  0.093000     0.0
Fernando   1º TURNO                  0.024500  0.007100  0.113100     0.0
           2º TURNO                  0.027778  0.014333  0.120556     0.0
           FINAL                     0.000000  0.017000  0.209500     0.0
           QUARTAS                        NaN       NaN       NaN     NaN
Fred       1º TURNO                  0.051444  0.000000  0.020667     0.0
           2º TURNO                  0.053667  0.000000  0.112111     0.0
           FINAL                     0.044000  0.000000  0.139600     0.0
           QUARTAS                   0.000000  0.000000  0.000000     0.0
Hélio      1º TURNO                  0.032800  0.000000  0.052200     0.0
           2º TURNO                  0.032333  0.000000  0.070667     0.0
           FINAL                     0.041000  0.000000  0.064800     0.0
           QUARTAS                   0.070000  0.000000  0.035000     0.0
Ian        1º TURNO                  0.000000  0.000000  0.000000     0.0
           2º TURNO                  0.000000  0.000000  0.000000     0.0
           FINAL                     0.000000  0.000000  0.000000     0.0
           QUARTAS                        NaN       NaN       NaN     NaN
Jefferson  1º TURNO                  0.038333  0.000000  0.104556     0.0
           2º TURNO                  0.043143  0.030286  0.108857     0.0
           FINAL                     0.024800  0.011400  0.094800     0.0
           QUARTAS                   0.000000  0.034000  0.034000     0.0
João       2º TURNO                       NaN       NaN       NaN     NaN
Júlio      1º TURNO                       NaN       NaN       NaN     NaN
Marcelinho 1º TURNO                  0.062400  0.002500  0.050200     0.0
           2º TURNO                  0.065444  0.008333  0.071667     0.0
           FINAL                     0.039800  0.010400  0.075400     0.0
           QUARTAS                   0.050000  0.000000  0.100000     0.0
Marcellus  1º TURNO                  0.000000  0.000000  0.233000     0.0
Wagner     1º TURNO                  0.055333  0.022222  0.184778     0.0
           2º TURNO                  0.008556  0.015778  0.204778     0.0
           FINAL                     0.113000  0.000000  0.427400     0.0
           QUARTAS                   0.000000  0.000000  0.288000     0.0

                                       ER/Min    EN/Min  Ar_Pts_C/Min  \
Jogador    Classificatoria/Playoffs
Alírio     1º TURNO                  0.000000  0.000000      0.145000
           2º TURNO                  0.054000  0.026400      0.122000
           FINAL                     0.098000  0.000000      0.153500
           QUARTAS                        NaN       NaN           NaN
Babby      1º TURNO                  0.102700  0.048200      0.252100
           2º TURNO                  0.113000  0.041000      0.234500
           FINAL                     0.112400  0.021400      0.124400
           QUARTAS                   0.000000  0.089000      0.357000

# Análise ao longo da Temporada dos Jogadores

### Tradicional

In [77]:
jogadores_flamengo.groupby(['Jogador', 'Data']).mean()

                          Temporada  Diferenca_Placar   Min  Pts_C  Ar_Pts_C  \
Jogador Data
Alírio  01/05/2009 17:00       2008                 8   0.0      0         0
        03/05/2009 11:00       2008                12  11.6      2         0
        04/03/2009 20:00       2008                23   7.6      3         1
        06/03/2009 22:00       2008                11   0.0      0         0
        06/05/2009 20:00       2008                 7  12.9      6         2
...                             ...               ...   ...    ...       ...
Wagner  21/06/2009 12:00       2008                -4   5.7      2         1
        24/04/2009 21:00       2008                21  13.6      4         2
        28/01/2009 20:00       2008                 1  20.9      9         4
        28/06/2009 10:00       2008                 8  19.0      3         1
        30/01/2009 20:00       2008                 9  10.0      3         1

                          Pts_T  Ar_Pts_T  Pts_3_C  Pts_3_T  Pts_2_C  ...  RD  \
Jogador Data                                                          ...
Alírio  01/05/2009 17:00      0         0        0        0        0  ...   0
        03/05/2009 11:00      4         1        0        0        0  ...   0
        04/03/2009 20:00      6         2        1        2        0  ...   3
        06/03/2009 22:00      0         0        0        0        0  ...   0
        06/05/2009 20:00      8         3        0        0        2  ...   4
...                         ...       ...      ...      ...      ...  ...  ..
Wagner  21/06/2009 12:00      6         3        0        0        1  ...   0
        24/04/2009 21:00      8         3        0        0        2  ...   3
        28/01/2009 20:00     14         5        0        0        4  ...   3
        28/06/2009 10:00     10         4        0        0        1  ...   3
        30/01/2009 20:00      3         1        0        0        1  ...   2

                          RT  AS  BR  TO  FC  FR  ER  EN  posse_de_bola
Jogador Data
Alírio  01/05/2009 17:00   0   0   0   0   0   0   0   0              0
        03/05/2009 11:00   1   0   0   0   2   0   0   0              1
        04/03/2009 20:00   3   0   1   0   2   0   0   0              2
        06/03/2009 22:00   0   0   0   0   0   0   0   0              0
        06/05/2009 20:00   4   0   1   0   2   0   0   0              4
...                       ..  ..  ..  ..  ..  ..  ..  ..            ...
Wagner  21/06/2009 12:00   2   0   2   0   3   0   2   0              3
        24/04/2009 21:00   4   0   0   1   2   0   3   0              6
        28/01/2009 20:00   8   0   1   0   4   0   0   0              2
        28/06/2009 10:00   8   1   2   0   4   0   2   0              2
        30/01/2009 20:00   3   0   0   2   3   0   1   0              1

[292 rows x 24 columns]

### Avançada

In [78]:
analise_jogadores.groupby(['Jogador', 'Data']).mean()

                          Temporada  Diferenca_Placar   Min  EF_Pts  \
Jogador Data
Alírio  01/05/2009 17:00       2008                 8   0.0     NaN
        03/05/2009 11:00       2008                12  11.6   0.500
        04/03/2009 20:00       2008                23   7.6   0.500
        06/03/2009 22:00       2008                11   0.0     NaN
        06/05/2009 20:00       2008                 7  12.9   0.750
...                             ...               ...   ...     ...
Wagner  21/06/2009 12:00       2008                -4   5.7   0.333
        24/04/2009 21:00       2008                21  13.6   0.500
        28/01/2009 20:00       2008                 1  20.9   0.643
        28/06/2009 10:00       2008                 8  19.0   0.300
        30/01/2009 20:00       2008                 9  10.0   1.000

                          FR_3_Pts_C  FR_3_Pts_T  EF_Pts_3  FR_2_Pts_C  \
Jogador Data
Alírio  01/05/2009 17:00         NaN         NaN       NaN         NaN
        03/05/2009 11:00         0.0         0.0       NaN       0.000
        04/03/2009 20:00         1.0         1.0       0.5       0.000
        06/03/2009 22:00         NaN         NaN       NaN         NaN
        06/05/2009 20:00         0.0         0.0       NaN       0.667
...                              ...         ...       ...         ...
Wagner  21/06/2009 12:00         0.0         0.0       NaN       1.000
        24/04/2009 21:00         0.0         0.0       NaN       1.000
        28/01/2009 20:00         0.0         0.0       NaN       0.889
        28/06/2009 10:00         0.0         0.0       NaN       0.667
        30/01/2009 20:00         0.0         0.0       NaN       0.667

                          FR_2_Pts_T  EF_Pts_2  ...  FR_LL_T  EF_LL  eFG_%  \
Jogador Data                                    ...
Alírio  01/05/2009 17:00         NaN       NaN  ...      NaN    NaN    NaN
        03/05/2009 11:00       0.500     0.000  ...    0.500   1.00  0.000
        04/03/2009 20:00       0.000       NaN  ...    0.000    NaN  0.750
        06/03/2009 22:00         NaN       NaN  ...      NaN    NaN    NaN
        06/05/2009 20:00       0.750     0.667  ...    0.250   1.00  0.667
...                              ...       ...  ...      ...    ...    ...
Wagner  21/06/2009 12:00       1.000     0.333  ...    0.000    NaN  0.333
        24/04/2009 21:00       0.750     0.667  ...    0.250   0.00  0.667
        28/01/2009 20:00       0.714     0.800  ...    0.286   0.25  0.800
        28/06/2009 10:00       0.800     0.250  ...    0.200   0.50  0.250
        30/01/2009 20:00       0.667     1.000  ...    0.333   1.00  1.000

                          TOV_%  FTA/FGA  Posse_de_Bola  Offensive_Rating  \
Jogador Data
Alírio  01/05/2009 17:00    NaN      NaN              0               NaN
        03/05/2009 11:00    0.0      inf              1             200.0
        04/03/2009 20:00    0.0      0.0              2             150.0
        06/03/2009 22:00    NaN      NaN              0               NaN
        06/05/2009 20:00    0.0      1.0              4             150.0
...                         ...      ...            ...               ...
Wagner  21/06/2009 12:00   40.0      0.0              3              66.7
        24/04/2009 21:00   43.2      1.0              6              66.7
        28/01/2009 20:00    0.0      1.0              2             450.0
        28/06/2009 10:00   28.8      2.0              2             150.0
        30/01/2009 20:00   40.4      1.0              1             300.0

                           TS_%  Ass/ER  AS_Ratio
Jogador Data
Alírio  01/05/2009 17:00    NaN     NaN       NaN
        03/05/2009 11:00  0.513     NaN       0.0
        04/03/2009 20:00  0.750     NaN       0.0
        06/03/2009 22:00    NaN     NaN       NaN
        06/05/2009 20:00  0.759     NaN       0.0
...                         ...     ...       ...
Wagner  21/06/2009 12:00  0.333     0.0       0.0
        24/04/2009 21:00  0.506     0.0       0.0
        28/01/2009 20:00  0.652     NaN       0.0
        28/06/2009 10:00  0.303     0.5      50.0
        30/01/2009 20:00  1.017     0.0       0.0

[292 rows x 21 columns]

### Minutos

In [79]:
minutos_jogadores.groupby(['Jogador', 'Data']).mean()

                          Temporada  Diferenca_Placar   Min  Pts_C/Min  \
Jogador Data
Alírio  01/05/2009 17:00       2008                 8   0.0        NaN
        03/05/2009 11:00       2008                12  11.6      0.172
        04/03/2009 20:00       2008                23   7.6      0.395
        06/03/2009 22:00       2008                11   0.0        NaN
        06/05/2009 20:00       2008                 7  12.9      0.465
...                             ...               ...   ...        ...
Wagner  21/06/2009 12:00       2008                -4   5.7      0.351
        24/04/2009 21:00       2008                21  13.6      0.294
        28/01/2009 20:00       2008                 1  20.9      0.431
        28/06/2009 10:00       2008                 8  19.0      0.158
        30/01/2009 20:00       2008                 9  10.0      0.300

                          Pts_T/Min  Pts_3_C/Min  Pts_3_T/Min  Pts_2_C/Min  \
Jogador Data
Alírio  01/05/2009 17:00        NaN          NaN          NaN          NaN
        03/05/2009 11:00      0.345        0.000        0.000        0.000
        04/03/2009 20:00      0.789        0.132        0.263        0.000
        06/03/2009 22:00        NaN          NaN          NaN          NaN
        06/05/2009 20:00      0.620        0.000        0.000        0.155
...                             ...          ...          ...          ...
Wagner  21/06/2009 12:00      1.053        0.000        0.000        0.175
        24/04/2009 21:00      0.588        0.000        0.000        0.147
        28/01/2009 20:00      0.670        0.000        0.000        0.191
        28/06/2009 10:00      0.526        0.000        0.000        0.053
        30/01/2009 20:00      0.300        0.000        0.000        0.100

                          Pts_2_T/Min  LL_C/Min  ...  RT/Min  AS/Min  BR/Min  \
Jogador Data                                     ...
Alírio  01/05/2009 17:00          NaN       NaN  ...     NaN     NaN     NaN
        03/05/2009 11:00        0.086     0.172  ...   0.086   0.000   0.000
        04/03/2009 20:00        0.000     0.000  ...   0.395   0.000   0.132
        06/03/2009 22:00          NaN       NaN  ...     NaN     NaN     NaN
        06/05/2009 20:00        0.233     0.155  ...   0.310   0.000   0.078
...                               ...       ...  ...     ...     ...     ...
Wagner  21/06/2009 12:00        0.526     0.000  ...   0.351   0.000   0.351
        24/04/2009 21:00        0.221     0.000  ...   0.294   0.000   0.000
        28/01/2009 20:00        0.239     0.048  ...   0.383   0.000   0.048
        28/06/2009 10:00        0.211     0.053  ...   0.421   0.053   0.105
        30/01/2009 20:00        0.100     0.100  ...   0.300   0.000   0.000

                          TO/Min  FC/Min  FR/Min  ER/Min  EN/Min  \
Jogador Data
Alírio  01/05/2009 17:00     NaN     NaN     NaN     NaN     NaN
        03/05/2009 11:00   0.000   0.172     0.0   0.000     0.0
        04/03/2009 20:00   0.000   0.263     0.0   0.000     0.0
        06/03/2009 22:00     NaN     NaN     NaN     NaN     NaN
        06/05/2009 20:00   0.000   0.155     0.0   0.000     0.0
...                          ...     ...     ...     ...     ...
Wagner  21/06/2009 12:00   0.000   0.526     0.0   0.351     0.0
        24/04/2009 21:00   0.074   0.147     0.0   0.221     0.0
        28/01/2009 20:00   0.000   0.191     0.0   0.000     0.0
        28/06/2009 10:00   0.000   0.211     0.0   0.105     0.0
        30/01/2009 20:00   0.200   0.300     0.0   0.100     0.0

                          Ar_Pts_C/Min  Ar_Pts_T/Min
Jogador Data
Alírio  01/05/2009 17:00           NaN           NaN
        03/05/2009 11:00         0.000         0.086
        04/03/2009 20:00         0.132         0.263
        06/03/2009 22:00           NaN           NaN
        06/05/2009 20:00         0.155         0.233
...                                ...           ...
Wagner  21/06/2009 12:00         0.175         0.526
        24/04/2009 21:00         0.147         0.221
        28/01/2009 20:00         0.191         0.239
        28/06/2009 10:00         0.053         0.211
        30/01/2009 20:00         0.100         0.100

[292 rows x 23 columns]

In [80]:
print('teste')

teste