In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import re

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
df = pd.read_csv("Total_de_acao_acao.csv")

In [5]:
df.dropna(subset=['Tempo'], inplace=True)

In [6]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome
0,0,4.0,00:00,92,73,NaN,fim_partida,NaN
1,1,4.0,00:35,92,73,CAP,2_Pts_C,Luis Fernando
2,2,4.0,00:50,92,71,BAU,AS,Gui Deodato
3,3,4.0,00:50,92,71,BAU,3_Pts_C,Léo Meindl
4,4,4.0,01:00,89,71,BAU,RO,Shilton
...,...,...,...,...,...,...,...,...
137086,764,1.0,10:00,0,0,BAU,substituicao_entra,Hettsheimeir
137087,765,1.0,10:00,0,0,BAU,substituicao_entra,Léo Meindl
137088,766,1.0,10:00,0,0,BAU,substituicao_entra,Jefferson
137089,767,1.0,10:00,0,0,BAU,substituicao_entra,Alex
137090,768,1.0,10:00,0,0,BAU,substituicao_entra,Valtinho

In [7]:
type(df['Tempo'])

pandas.core.series.Series

In [8]:
lista = []

In [9]:
for x in df['Tempo']:
    if re.findall(r'..:..', x):
        lista.append(x)
    else:
        if re.findall(r'....', x):
            x = x[0:2] + ':' + x[2:4]
            lista.append(x)            
        elif re.findall(r'...', x):
            x = '0' + x[0] + ':' + x[1:3]
            lista.append(x)
        elif re.findall(r'..', x):
            x = '00:' + x
            lista.append(x)
        elif re.findall(r'.', x):
            x = '00:0' + x
            lista.append(x)

In [10]:
df['Timenova'] = lista

In [11]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome,Timenova
0,0,4.0,00:00,92,73,NaN,fim_partida,NaN,00:00
1,1,4.0,00:35,92,73,CAP,2_Pts_C,Luis Fernando,00:35
2,2,4.0,00:50,92,71,BAU,AS,Gui Deodato,00:50
3,3,4.0,00:50,92,71,BAU,3_Pts_C,Léo Meindl,00:50
4,4,4.0,01:00,89,71,BAU,RO,Shilton,01:00
...,...,...,...,...,...,...,...,...,...
137086,764,1.0,10:00,0,0,BAU,substituicao_entra,Hettsheimeir,10:00
137087,765,1.0,10:00,0,0,BAU,substituicao_entra,Léo Meindl,10:00
137088,766,1.0,10:00,0,0,BAU,substituicao_entra,Jefferson,10:00
137089,767,1.0,10:00,0,0,BAU,substituicao_entra,Alex,10:00
137090,768,1.0,10:00,0,0,BAU,substituicao_entra,Valtinho,10:00

In [12]:
df['Timenova'] = df['Timenova'].apply(lambda x: dt.datetime.strptime(x, '%M:%S'))

In [13]:
df['Timenova'] = df['Timenova'].apply(lambda x: dt.time(x.hour, x.minute, x.second))

In [14]:
df['Timenova'] = df['Timenova'].apply(lambda x: (x.hour * 60 + x.minute) * 60 + x.second)

In [15]:
type(df['Timenova'][0])

numpy.int64

In [16]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome,Timenova
0,0,4.0,00:00,92,73,NaN,fim_partida,NaN,0
1,1,4.0,00:35,92,73,CAP,2_Pts_C,Luis Fernando,35
2,2,4.0,00:50,92,71,BAU,AS,Gui Deodato,50
3,3,4.0,00:50,92,71,BAU,3_Pts_C,Léo Meindl,50
4,4,4.0,01:00,89,71,BAU,RO,Shilton,60
...,...,...,...,...,...,...,...,...,...
137086,764,1.0,10:00,0,0,BAU,substituicao_entra,Hettsheimeir,600
137087,765,1.0,10:00,0,0,BAU,substituicao_entra,Léo Meindl,600
137088,766,1.0,10:00,0,0,BAU,substituicao_entra,Jefferson,600
137089,767,1.0,10:00,0,0,BAU,substituicao_entra,Alex,600
137090,768,1.0,10:00,0,0,BAU,substituicao_entra,Valtinho,600

In [17]:
tempo_novo = []

In [18]:
for x, y in zip(df['Quarto'], df['Timenova']):
    if x == 1:
        a = (y - (600 * 1)) * -1
        tempo_novo.append(a)
    elif x == 2:
        a = (y - (600 * 2)) * -1
        tempo_novo.append(a)
    elif x == 3:
        a = (y - (600 * 3)) * -1
        tempo_novo.append(a)
    elif x == 4:
        a = (y - (600 * 4)) * -1
        tempo_novo.append(a)
    elif x == 5:
        a = (y - (600 * 5)) * -1
        tempo_novo.append(a)
    elif x == 6:
        a = (y - (600 * 6)) * -1
        tempo_novo.append(a)
    elif x == 7:
        a = (y - (600 * 7)) * -1
        tempo_novo.append(a)

In [19]:
tempo_novo

[2400,
 2365,
 2350,
 2350,
 2340,
 2337,
 2323,
 2321,
 2312,
 2312,
 2310,
 2307,
 2300,
 2300,
 2290,
 2290,
 2282,
 2282,
 2282,
 2282,
 2277,
 2277,
 2251,
 2251,
 2251,
 2251,
 2249,
 2249,
 2249,
 2249,
 2248,
 2238,
 2234,
 2234,
 2234,
 2232,
 2218,
 2217,
 2217,
 2217,
 2217,
 2190,
 2190,
 2189,
 2189,
 2173,
 2173,
 2173,
 2173,
 2173,
 2173,
 2173,
 2173,
 2173,
 2159,
 2159,
 2141,
 2116,
 2116,
 2093,
 2092,
 2086,
 2073,
 2073,
 2073,
 2073,
 2073,
 2061,
 2059,
 2042,
 2035,
 2035,
 2030,
 2028,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 1998,
 1998,
 1995,
 1990,
 1990,
 1976,
 1973,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1944,
 1941,
 1931,
 1931,
 1931,
 1918,
 1916,
 1904,
 1900,
 1893,
 1892,
 1887,
 1865,
 1865,
 1865,
 1865,
 1863,
 1855,
 1855,
 1841,
 1841,
 1841,
 1841,
 1841,
 1841,
 1826,
 1826,
 1814,
 1812,
 1812,
 1812,
 1812,
 1800,
 1800,
 1800,
 1800,
 1800,
 1800,
 1800,
 1800,
 1800,
 1800,
 1800,
 1800,
 1798,
 1798,
 1795,
 1795,
 1795,
 1795,
 1795,
 1795,
 1794,
 1769,
 1769,
 1764,
 1761,
 1749,
 1749,
 1735,
 1720,
 1720,
 1720,
 1720,
 1720,
 1720,
 1719,
 1719,
 1706,
 1706,
 1698,
 1698,
 1698,
 1698,
 1677,
 1656,
 1646,
 1640,
 1640,
 1619,
 1619,
 1601,
 1579,
 1579,
 1565,
 1565,
 1557,
 1551,
 1551,
 1538,
 1521,
 1521,
 1521,
 1521,
 1521,
 1505,
 1480,
 1480,
 1480,
 1480,
 1472,
 1472,
 1472,
 1472,
 1463,
 1461,
 1451,
 1451,
 1448,
 1443,
 1417,
 1417,
 1414,
 1410,
 1393,
 1391,
 1376,
 1363,
 1363,
 1344,
 1344,
 1344,
 1339,
 1339,
 1339,
 1338,
 1332,
 1327,
 1327,
 1307,
 1307,
 1307,
 1307,
 1288,
 1288,
 1271,
 1271,
 1271,
 1257,
 1249,
 1245,
 1231,
 1228,
 1224,
 1220,
 1216,
 1216,
 1200,
 1200,
 1200,
 1200,
 1200,
 1200,
 1200,
 1200,
 1200,
 1200,
 1200,
 1200,
 1196,
 1196,
 1178,
 1178,
 1178,
 1178,
 1178,
 1177,
 1165,
 1164,
 1151,
 1151,
 1150,
 1144,
 1128,
 1128,
 1128,
 1128,
 1128,
 1128,
 1108,
 1090,
 1086,
 1079,
 1079,
 1076,
 1076,
 1076,
 1076,
 1068,
 1066,
 1061,
 1058,
 1039,
 1039,
 1039,
 1039,
 1034,
 1034,
 1016,
 1016,
 1016,
 1016,
 1016,
 1004,
 1003,
 1003,
 996,
 994,
 989,
 986,
 979,
 975,
 953,
 953,
 941,
 941,
 941,
 941,
 925,
 925,
 898,
 891,
 889,
 884,
 884,
 884,
 884,
 884,
 884,
 876,
 872,
 850,
 850,
 826,
 826,
 824,
 824,
 824,
 824,
 806,
 806,
 794,
 791,
 789,
 782,
 781,
 776,
 764,
 764,
 764,
 764,
 764,
 764,
 742,
 742,
 732,
 732,
 732,
 732,
 732,
 732,
 732,
 732,
 732,
 730,
 707,
 707,
 698,
 698,
 696,
 696,
 688,
 688,
 688,
 678,
 678,
 678,
 678,
 671,
 666,
 645,
 627,
 627,
 627,
 626,
 626,
 618,
 618,
 600,
 600,
 600,
 600,
 600,
 600,
 600,
 600,
 600,
 600,
 600,
 600,
 598,
 588,
 568,
 564,
 562,
 562,
 562,
 562,
 560,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 535,
 523,
 521,
 497,
 495,
 485,
 476,
 474,
 469,
 450,
 450,
 430,
 422,
 422,
 418,
 415,
 400,
 400,
 389,
 389,
 366,
 366,
 346,
 346,
 346,
 346,
 346,
 346,
 346,
 346,
 346,
 346,
 330,
 327,
 311,
 308,
 304,
 304,
 299,
 299,
 282,
 282,
 267,
 267,
 239,
 234,
 224,
 221,
 219,
 219,
 219,
 219,
 215,
 215,
 212,
 208,
 194,
 192,
 190,
 187,
 187,
 187,
 187,
 187,
 177,
 177,
 167,
 164,
 151,
 151,
 151,
 151,
 147,
 147,
 133,
 133,
 114,
 112,
 95,
 91,
 85,
 81,
 63,
 63,
 56,
 54,
 51,
 47,
 35,
 35,
 35,
 34,
 15,
 15,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2400,
 2398,
 2389,
 2386,
 2376,
 2376,
 2376,
 2376,
 2376,
 2376,
 2374,
 2365,
 2365,
 2343,
 2343,
 2343,
 2343,
 2339,
 2338,
 2338,
 2338,
 2338,
 2337,
 2335,
 2320,
 2318,
 2318,
 2318,
 2318,
 2287,
 2275,
 2275,
 2275,
 2275,
 2275,
 2275,
 2265,
 2265,
 2265,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2253,
 2253,
 2253,
 2233,
 2229,
 2227,
 2213,
 2213,
 2213,
 2213,
 2198,
 2195,
 2187,
 2169,
 2159,
 2159,
 2149,
 2149,
 2131,
 2131,
 2113,
 2113,
 2113,
 2113,
 2109,
 2109,
 2093,
 2089,
 2073,
 2072,
 2072,
 2072,
 2072,
 2072,
 2072,
 2072,
 2070,
 2052,
 2050,
 2044,
 2044,
 2023,
 2007,
 2007,
 1986,
 1984,
 1984,
 1983,
 1959,
 1959,
 1959,
 1959,
 1959,
 1959,
 1959,
 1959,
 1959,
 1941,
 1917,
 1917,
 1901,
 1901,
 1901,
 1891,
 1891,
 1877,
 1875,
 1853,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1846,
 1846,
 1846,
 1846,
 1846,
 1846,
 1825,
 1811,
 1811,
 1800,
 1800,
 1799,
 1799,
 1773,
 1759,
 1757,
 1752,
 1752,
 1733,
 1730,
 1725,
 1725,
 1725,
 1725,
 1725,
 1725,
 1725,
 1701,
 1701,
 1694,
 1691,
 1668,
 1664,
 1659,
 1659,
 1659,
 1659,
 1652,
 1649,
 1632,
 1630,
 1609,
 1609,
 1609,
 1609,
 1609,
 1609,
 1590,
 1590,
 1585,
 1585,
 1579,
 1576,
 1561,
 1561,
 1560,
 1558,
 1539,
 1539,
 1539,
 1539,
 1527,
 1524,
 1504,
 1504,
 1504,
 1504,
 1504,
 1499,
 1495,
 1474,
 1474,
 1447,
 1447,
 1434,
 1432,
 1414,
 1414,
 1412,
 1409,
 1385,
 1385,
 1373,
 1365,
 1339,
 1339,
 1325,
 1323,
 1320,
 1317,
 1293,
 1293,
 1289,
 1287,
 1277,
 1277,
 1277,
 1274,
 1260,
 1260,
 1259,
 1259,
 1257,
 1257,
 1257,
 1257,
 1257,
 1247,
 1247,
 1240,
 1239,
 1239,
 1230,
 1230,
 1216,
 1214,
 1200,
 1200,
 1200,
 1200,
 1194,
 1194,
 1194,
 1188,
 1188,
 1188,
 1188,
 1188,
 1188,
 1188,
 1175,
 1168,
 1168,
 1156,
 1156,
 1156,
 1156,
 1156,
 1156,
 1156,
 1156,
 1156,
 1152,
 1152,
 1152,
 1152,
 1127,
 1127,
 1108,
 1108,
 1106,
 1105,
 1105,
 1105,
 1105,
 1105,
 1105,
 1105,
 1091,
 1091,
 1091,
 1091,
 1091,
 1076,
 1060,
 1060,
 1060,
 1054,
 1050,
 1047,
 1029,
 1017,
 1017,
 1017,
 1017,
 1017,
 1007,
 1007,
 1007,
 1007,
 989,
 989,
 972,
 969,
 960,
 959,
 943,
 939,
 921,
 921,
 921,
 921,
 921,
 921,
 917,
 917,
 915,
 909,
 904,
 904,
 901,
 899,
 880,
 858,
 858,
 856,
 856,
 853,
 853,
 851,
 848,
 828,
 828,
 828,
 828,
 828,
 828,
 828,
 828,
 820,
 817,
 789,
 787,
 785,
 782,
 777,
 759,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 722,
 708,
 704,
 702,
 702,
 702,
 702,
 700,
 692,
 692,
 676,
 676,
 663,
 663,
 663,
 663,
 663,
 643,
 625,
 614,
 612,
 604,
 602,
 600,
 600,
 598,
 596,
 584,
 581,
 557,
 557,
 554,
 554,
 551,
 548,
 541,
 538,
 515,
 500,
 474,
 474,
 460,
 459,
 457,
 446,
 446,
 446,
 441,
 441,
 428,
 425,
 412,
 412,
 399,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 363,
 363,
 345,
 342,
 340,
 326,
 324,
 317,
 317,
 308,
 306,
 301,
 298,
 284,
 272,
 272,
 272,
 272,
 266,
 263,
 250,
 248,
 248,
 248,
 248,
 248,
 248,
 248,
 248,
 248,
 233,
 212,
 212,
 212,
 212,
 212,
 201,
 201,
 198,
 198,
 180,
 176,
 170,
 170,
 154,
 146,
 146,
 127,
 127,
 124,
 124,
 114,
 114,
 95,
 82,
 82,
 81,
 81,
 81,
 81,
 70,
 70,
 70,
 70,
 70,
 70,
 ...]

In [20]:
df['Tempo'] = tempo_novo
df.drop('Timenova', axis=1, inplace=True)

In [21]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome
0,0,4.0,2400,92,73,NaN,fim_partida,NaN
1,1,4.0,2365,92,73,CAP,2_Pts_C,Luis Fernando
2,2,4.0,2350,92,71,BAU,AS,Gui Deodato
3,3,4.0,2350,92,71,BAU,3_Pts_C,Léo Meindl
4,4,4.0,2340,89,71,BAU,RO,Shilton
...,...,...,...,...,...,...,...,...
137086,764,1.0,0,0,0,BAU,substituicao_entra,Hettsheimeir
137087,765,1.0,0,0,0,BAU,substituicao_entra,Léo Meindl
137088,766,1.0,0,0,0,BAU,substituicao_entra,Jefferson
137089,767,1.0,0,0,0,BAU,substituicao_entra,Alex
137090,768,1.0,0,0,0,BAU,substituicao_entra,Valtinho