In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import re

In [2]:
from datetime import datetime, timedelta

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
df = pd.read_csv("Total_de_acao_acao.csv")

In [6]:
df.dropna(subset=['Tempo'], inplace=True)

In [7]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome
0,0,4.0,00:00,78,73,,fim_partida,NaN
1,1,4.0,00:00,78,73,,fim_partida,NaN
2,2,4.0,00:08,78,73,CAP,RD,André
3,3,4.0,00:08,78,73,FLA,LL_Pts_T,Marcelinho
4,4,4.0,00:08,78,73,FLA,LL_Pts_C,Marcelinho
...,...,...,...,...,...,...,...,...
850433,477,1.0,10:00,0,0,MIN,substituicao_entra,Leandrinho
850434,478,1.0,10:00,0,0,MIN,substituicao_entra,Alex
850435,479,1.0,10:00,0,0,MIN,substituicao_entra,Davi
850436,480,1.0,10:00,0,0,MIN,substituicao_entra,Tyrone
850437,481,1.0,10:00,0,0,NaN,inicio_partida,NaN

In [8]:
type(df['Tempo'])

pandas.core.series.Series

In [9]:
lista = []

In [10]:
for x in df['Tempo']:
    if re.findall(r'..:..', x):
        lista.append(x)
    else:
        if re.findall(r'....', x):
            x = x[0:2] + ':' + x[2:4]
            lista.append(x)            
        elif re.findall(r'...', x):
            x = '0' + x[0] + ':' + x[1:3]
            lista.append(x)
        elif re.findall(r'..', x):
            x = '00:' + x
            lista.append(x)
        elif re.findall(r'.', x):
            x = '00:0' + x
            lista.append(x)

In [11]:
df['Timenova'] = lista

In [12]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome,Timenova
0,0,4.0,00:00,78,73,,fim_partida,NaN,00:00
1,1,4.0,00:00,78,73,,fim_partida,NaN,00:00
2,2,4.0,00:08,78,73,CAP,RD,André,00:08
3,3,4.0,00:08,78,73,FLA,LL_Pts_T,Marcelinho,00:08
4,4,4.0,00:08,78,73,FLA,LL_Pts_C,Marcelinho,00:08
...,...,...,...,...,...,...,...,...,...
850433,477,1.0,10:00,0,0,MIN,substituicao_entra,Leandrinho,10:00
850434,478,1.0,10:00,0,0,MIN,substituicao_entra,Alex,10:00
850435,479,1.0,10:00,0,0,MIN,substituicao_entra,Davi,10:00
850436,480,1.0,10:00,0,0,MIN,substituicao_entra,Tyrone,10:00
850437,481,1.0,10:00,0,0,NaN,inicio_partida,NaN,10:00

In [13]:
df['Timenova'] = df['Timenova'].apply(lambda x: dt.datetime.strptime(x, '%M:%S'))

In [14]:
df['Timenova'] = df['Timenova'].apply(lambda x: dt.time(x.hour, x.minute, x.second))

In [15]:
df['Timenova'] = df['Timenova'].apply(lambda x: (x.hour * 60 + x.minute) * 60 + x.second)

In [16]:
type(df['Timenova'][0])

numpy.int64

In [17]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome,Timenova
0,0,4.0,00:00,78,73,,fim_partida,NaN,0
1,1,4.0,00:00,78,73,,fim_partida,NaN,0
2,2,4.0,00:08,78,73,CAP,RD,André,8
3,3,4.0,00:08,78,73,FLA,LL_Pts_T,Marcelinho,8
4,4,4.0,00:08,78,73,FLA,LL_Pts_C,Marcelinho,8
...,...,...,...,...,...,...,...,...,...
850433,477,1.0,10:00,0,0,MIN,substituicao_entra,Leandrinho,600
850434,478,1.0,10:00,0,0,MIN,substituicao_entra,Alex,600
850435,479,1.0,10:00,0,0,MIN,substituicao_entra,Davi,600
850436,480,1.0,10:00,0,0,MIN,substituicao_entra,Tyrone,600
850437,481,1.0,10:00,0,0,NaN,inicio_partida,NaN,600

In [18]:
tempo_novo = []

In [19]:
for x, y in zip(df['Quarto'], df['Timenova']):
    if x == 1:
        a = (y - (600 * 1)) * -1
        tempo_novo.append(a)
    elif x == 2:
        a = (y - (600 * 2)) * -1
        tempo_novo.append(a)
    elif x == 3:
        a = (y - (600 * 3)) * -1
        tempo_novo.append(a)
    elif x == 4:
        a = (y - (600 * 4)) * -1
        tempo_novo.append(a)
    elif x == 5:
        a = (y - (600 * 5)) * -1
        tempo_novo.append(a)
    elif x == 6:
        a = (y - (600 * 6)) * -1
        tempo_novo.append(a)
    elif x == 7:
        a = (y - (600 * 7)) * -1
        tempo_novo.append(a)

In [20]:
tempo_novo

[2400,
 2400,
 2392,
 2392,
 2392,
 2392,
 2392,
 2392,
 2392,
 2391,
 2391,
 2387,
 2387,
 2387,
 2387,
 2387,
 2387,
 2387,
 2373,
 2373,
 2349,
 2349,
 2333,
 2333,
 2333,
 2333,
 2333,
 2333,
 2318,
 2318,
 2318,
 2318,
 2318,
 2318,
 2299,
 2299,
 2299,
 2282,
 2282,
 2255,
 2245,
 2245,
 2245,
 2245,
 2245,
 2211,
 2207,
 2207,
 2201,
 2201,
 2171,
 2171,
 2171,
 2171,
 2171,
 2171,
 2171,
 2171,
 2156,
 2156,
 2144,
 2144,
 2137,
 2137,
 2115,
 2115,
 2108,
 2108,
 2108,
 2108,
 2105,
 2105,
 2105,
 2105,
 2102,
 2102,
 2102,
 2101,
 2101,
 2096,
 2096,
 2096,
 2096,
 2096,
 2096,
 2057,
 2057,
 2030,
 2030,
 2026,
 2026,
 2026,
 2026,
 2026,
 2026,
 2026,
 2026,
 2026,
 2026,
 2026,
 2014,
 2014,
 2000,
 2000,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1971,
 1971,
 1969,
 1969,
 1959,
 1959,
 1935,
 1917,
 1897,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1849,
 1818,
 1818,
 1800,
 1800,
 1797,
 1797,
 1797,
 1797,
 1797,
 1797,
 1797,
 1797,
 1797,
 1783,
 1783,
 1770,
 1770,
 1763,
 1763,
 1746,
 1746,
 1746,
 1746,
 1746,
 1746,
 1746,
 1746,
 1738,
 1738,
 1721,
 1721,
 1706,
 1706,
 1688,
 1688,
 1687,
 1686,
 1663,
 1657,
 1657,
 1637,
 1637,
 1637,
 1613,
 1613,
 1613,
 1613,
 1613,
 1613,
 1613,
 1595,
 1595,
 1577,
 1577,
 1577,
 1577,
 1568,
 1568,
 1568,
 1568,
 1568,
 1568,
 1568,
 1568,
 1568,
 1541,
 1519,
 1514,
 1514,
 1503,
 1503,
 1503,
 1487,
 1480,
 1480,
 1469,
 1469,
 1453,
 1453,
 1453,
 1453,
 1453,
 1453,
 1453,
 1453,
 1435,
 1415,
 1415,
 1415,
 1415,
 1415,
 1393,
 1393,
 1393,
 1393,
 1393,
 1393,
 1378,
 1378,
 1363,
 1363,
 1356,
 1356,
 1356,
 1356,
 1356,
 1356,
 1348,
 1348,
 1344,
 1344,
 1340,
 1340,
 1340,
 1340,
 1318,
 1318,
 1318,
 1318,
 1310,
 1302,
 1302,
 1302,
 1302,
 1299,
 1299,
 1295,
 1295,
 1283,
 1283,
 1283,
 1283,
 1283,
 1283,
 1275,
 1275,
 1269,
 1269,
 1243,
 1243,
 1220,
 1220,
 1200,
 1200,
 1192,
 1192,
 1173,
 1173,
 1173,
 1173,
 1173,
 1169,
 1163,
 1163,
 1146,
 1146,
 1146,
 1146,
 1146,
 1146,
 1146,
 1146,
 1146,
 1146,
 1141,
 1141,
 1123,
 1123,
 1123,
 1123,
 1119,
 1097,
 1097,
 1097,
 1097,
 1083,
 1065,
 1040,
 1040,
 1015,
 1015,
 1008,
 1008,
 990,
 990,
 990,
 990,
 990,
 990,
 983,
 983,
 965,
 965,
 965,
 965,
 950,
 933,
 933,
 933,
 933,
 933,
 933,
 933,
 933,
 933,
 933,
 923,
 899,
 899,
 882,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 851,
 851,
 851,
 851,
 851,
 834,
 834,
 822,
 822,
 802,
 792,
 792,
 784,
 784,
 784,
 784,
 784,
 784,
 777,
 777,
 769,
 769,
 749,
 749,
 749,
 749,
 749,
 749,
 744,
 744,
 735,
 735,
 717,
 717,
 699,
 675,
 675,
 673,
 673,
 673,
 673,
 673,
 673,
 673,
 654,
 654,
 654,
 654,
 643,
 643,
 634,
 634,
 607,
 607,
 600,
 600,
 595,
 595,
 595,
 595,
 595,
 595,
 595,
 595,
 595,
 595,
 595,
 595,
 580,
 575,
 575,
 563,
 549,
 549,
 549,
 549,
 549,
 549,
 549,
 549,
 534,
 534,
 515,
 515,
 515,
 515,
 515,
 515,
 498,
 498,
 489,
 489,
 485,
 485,
 485,
 480,
 476,
 474,
 472,
 472,
 472,
 472,
 454,
 454,
 427,
 427,
 403,
 403,
 388,
 378,
 373,
 373,
 356,
 356,
 338,
 338,
 323,
 323,
 311,
 311,
 311,
 298,
 298,
 280,
 280,
 280,
 280,
 280,
 280,
 280,
 261,
 261,
 238,
 233,
 233,
 215,
 215,
 194,
 181,
 181,
 181,
 181,
 163,
 160,
 160,
 153,
 153,
 137,
 114,
 114,
 99,
 99,
 99,
 99,
 99,
 99,
 74,
 74,
 74,
 74,
 74,
 61,
 61,
 46,
 46,
 35,
 35,
 22,
 22,
 7,
 7,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2400,
 2393,
 2393,
 2388,
 2388,
 2379,
 2366,
 2366,
 2366,
 2366,
 2366,
 2366,
 2366,
 2366,
 2366,
 2366,
 2366,
 2366,
 2355,
 2355,
 2347,
 2347,
 2347,
 2347,
 2347,
 2347,
 2347,
 2347,
 2347,
 2335,
 2335,
 2335,
 2335,
 2335,
 2332,
 2332,
 2325,
 2325,
 2325,
 2325,
 2325,
 2310,
 2310,
 2305,
 2305,
 2304,
 2291,
 2290,
 2290,
 2279,
 2275,
 2275,
 2245,
 2245,
 2241,
 2241,
 2224,
 2224,
 2224,
 2224,
 2224,
 2202,
 2202,
 2202,
 2202,
 2195,
 2195,
 2195,
 2195,
 2195,
 2195,
 2195,
 2192,
 2192,
 2168,
 2168,
 2155,
 2155,
 2155,
 2155,
 2155,
 2155,
 2155,
 2155,
 2150,
 2150,
 2145,
 2145,
 2145,
 2145,
 2133,
 2133,
 2133,
 2133,
 2122,
 2122,
 2122,
 2122,
 2103,
 2103,
 2100,
 2100,
 2100,
 2100,
 2100,
 2100,
 2099,
 2099,
 2089,
 2089,
 2085,
 2085,
 2059,
 2059,
 2053,
 2053,
 2033,
 2033,
 2030,
 2030,
 2014,
 2014,
 2014,
 2014,
 1996,
 1996,
 1989,
 1989,
 1966,
 1966,
 1957,
 1957,
 1957,
 1957,
 1953,
 1953,
 1939,
 1939,
 1918,
 1918,
 1898,
 1898,
 1883,
 1883,
 1883,
 1883,
 1883,
 1883,
 1867,
 1867,
 1867,
 1867,
 1866,
 1866,
 1851,
 1828,
 1817,
 1800,
 1798,
 1798,
 1784,
 1771,
 1771,
 1771,
 1771,
 1771,
 1771,
 1771,
 1771,
 1749,
 1749,
 1748,
 1748,
 1748,
 1748,
 1728,
 1728,
 1728,
 1728,
 1728,
 1728,
 1706,
 1706,
 1706,
 1706,
 1706,
 1706,
 1706,
 1701,
 1701,
 1691,
 1691,
 1676,
 1676,
 1676,
 1667,
 1667,
 1644,
 1644,
 1644,
 1644,
 1644,
 1644,
 1635,
 1635,
 1619,
 1605,
 1605,
 1588,
 1588,
 1588,
 1588,
 1588,
 1588,
 1580,
 1580,
 1574,
 1574,
 1552,
 1552,
 1552,
 1552,
 1552,
 1552,
 1548,
 1548,
 1548,
 1548,
 1523,
 1523,
 1514,
 1514,
 1514,
 1514,
 1514,
 1514,
 1508,
 1508,
 1486,
 1486,
 1473,
 1473,
 1461,
 1461,
 1442,
 1442,
 1437,
 1437,
 1425,
 1425,
 1425,
 1425,
 1404,
 1391,
 1391,
 1391,
 1384,
 1384,
 1370,
 1370,
 1343,
 1325,
 1325,
 1320,
 1320,
 1312,
 1312,
 1312,
 1305,
 1305,
 1281,
 1281,
 1268,
 1268,
 1268,
 1268,
 1268,
 1268,
 1255,
 1255,
 1245,
 1245,
 1229,
 1229,
 1222,
 1222,
 1200,
 1198,
 1176,
 1176,
 1153,
 1133,
 1133,
 1133,
 1133,
 1133,
 1107,
 1087,
 1087,
 1087,
 1087,
 1087,
 1067,
 1067,
 1067,
 1067,
 1066,
 1066,
 1066,
 1050,
 1050,
 1032,
 1032,
 1031,
 1031,
 1014,
 1014,
 999,
 999,
 988,
 988,
 988,
 960,
 938,
 938,
 919,
 919,
 905,
 905,
 883,
 883,
 871,
 871,
 871,
 871,
 866,
 866,
 839,
 832,
 832,
 822,
 822,
 822,
 822,
 805,
 805,
 788,
 788,
 779,
 779,
 776,
 776,
 776,
 776,
 776,
 776,
 771,
 771,
 771,
 759,
 759,
 759,
 759,
 759,
 759,
 738,
 738,
 733,
 733,
 724,
 724,
 719,
 719,
 704,
 704,
 687,
 665,
 665,
 665,
 665,
 665,
 665,
 660,
 660,
 648,
 648,
 648,
 636,
 636,
 616,
 600,
 600,
 596,
 596,
 573,
 573,
 561,
 561,
 553,
 553,
 553,
 553,
 553,
 553,
 536,
 518,
 508,
 508,
 491,
 491,
 491,
 491,
 491,
 491,
 491,
 491,
 491,
 491,
 491,
 491,
 475,
 475,
 469,
 469,
 452,
 452,
 433,
 433,
 433,
 433,
 433,
 433,
 433,
 422,
 422,
 420,
 420,
 389,
 376,
 376,
 372,
 372,
 355,
 355,
 346,
 346,
 342,
 342,
 334,
 334,
 325,
 320,
 320,
 310,
 310,
 310,
 310,
 310,
 310,
 293,
 274,
 274,
 274,
 254,
 254,
 ...]

In [21]:
df['Tempo'] = tempo_novo
df.drop('Timenova', axis=1, inplace=True)

In [22]:
df

,Unnamed: 0,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome
0,0,4.0,2400,78,73,,fim_partida,NaN
1,1,4.0,2400,78,73,,fim_partida,NaN
2,2,4.0,2392,78,73,CAP,RD,André
3,3,4.0,2392,78,73,FLA,LL_Pts_T,Marcelinho
4,4,4.0,2392,78,73,FLA,LL_Pts_C,Marcelinho
...,...,...,...,...,...,...,...,...
850433,477,1.0,0,0,0,MIN,substituicao_entra,Leandrinho
850434,478,1.0,0,0,0,MIN,substituicao_entra,Alex
850435,479,1.0,0,0,0,MIN,substituicao_entra,Davi
850436,480,1.0,0,0,0,MIN,substituicao_entra,Tyrone
850437,481,1.0,0,0,0,NaN,inicio_partida,NaN

In [23]:
# dados = pd.read_csv("tabela_2_UNIFACISA_x_Rio Claro.csv")

In [24]:
aa

NameError: name 'aa' is not defined

In [ ]:
'''def periodo_positivo_negativo(jogo, p, n):
    
    #get the percent change day after day
    pct_change = jogo.pct_change()[1:]
    
    #this function checks the buying condition
    def periodo_positivo(sub_series):
        return (sub_series > 0).all()
    
    #this function checks the selling condition
    def periodo_negativo(sub_series):
        return (sub_series < 0).all()
    
    #get all buying days in the data
    positivo = pct_change.rolling(p).apply(periodo_positivo)
    
    #get all potential selling days in the data
    negativo = pct_change.rolling(n).apply(periodo_negativo)
    
    #return a dictionary
    return {'positivo': positivo, 'negativo': negativo}'''